{% extends "layout/app.html" %}

{% block page_title %}Dashboard{% endblock %}

{% block head_tail %}

{% endblock %}

{% block main_content %}

    <section class="content">


        <div class="row">

            <div class="col-md-12">

                <div class="box box-primary">
                    <div class="box-header with-border" style=" padding-bottom: 10px; padding-top: 25px; ">
                        <i class="fa fa-bullhorn"></i>


                        <h3 class="box-title" style="margin-left: 10px">{{ push_type }} Automation</h3>


                        {% if  push_type  =='Email' %}

                            <a class="btn btn-primary pull-right" href="{{ url_for('promotion.email_operate_cohort') }}"
                               title="Create new cohort" style="display: inline-block"> <i
                                    class="fa fa-plus-circle"></i>
                                Create
                            </a>

                        {% elif push_type  =='Facebook' %}


                            <a class="btn btn-primary pull-right"
                               href="{{ url_for('promotion.facebook_operate_cohort') }}"
                               title="Create new cohort" style="display: inline-block"> <i
                                    class="fa fa-plus-circle"></i>
                                Create
                            </a>

                        {% elif push_type  =='Mobile' %}
                            <a class="btn btn-primary pull-right"
                               href="{{ url_for('promotion.mobile_operate_cohort') }}"
                               title="Create new cohort" style="display: inline-block"> <i
                                    class="fa fa-plus-circle"></i>
                                Create
                            </a>
                        {% endif %}


                    </div>

                    <div class="box-body" style=" padding-right: 80px; padding-left: 20px; ">


                        <div class="accordion">
                            <div class="accordion-group">

                                {% for item in items %}


                                    <div class="accordion-heading ">


                                        <a type="button" class="btn btn-default btn-block"
                                           style="font-size:  15px; margin: 5px ; font-weight: bold"
                                           class="accordion-toggle" data-toggle="collapse"
                                           href="#{{ item['category'] | md5 }}">{{ item['category'] }}</a>


                                    </div>
                                    <div id="{{item['category'] | md5}}"
                                         class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            <table class="table table-striped table-condensed">

                                                <thead>
                                                <tr>
                                                    <th>Cohort</th>
                                                    <th><strong> Description </strong></th>
                                                    <th><strong> Status </strong></th>
                                                    <th><strong> Rearm / Hour</strong></th>
                                                    <th><strong> Remaining Times </strong></th>
                                                    <th><strong> Scheduled At </strong></th>
                                                    <th><strong>Actions </strong></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for cohort in item['cohorts'] %}

                                                    <tr id="{{ cohort.id }}">
                                                        <td>
                                                            <strong>


                                                                {% if  push_type  =='Email' %}


                                                                    <a href="{{ url_for('promotion.email_cohort_edit_panel', cohort_name= cohort.cohort_name ) }}">{{ cohort.cohort_name }}</a>

                                                                {% elif push_type  =='Facebook' %}


                                                                    <a href="{{ url_for('promotion.facebook_cohort_edit_panel', cohort_name= cohort.cohort_name ) }}">{{ cohort.cohort_name }}</a>


                                                                {% elif push_type  =='Mobile' %}

                                                                    <a href="{{ url_for('promotion.mobile_cohort_edit_panel', cohort_name= cohort.cohort_name ) }}">{{ cohort.cohort_name }}</a>
                                                                {% endif %}


                                                            </strong>


                                                        <td>
                                                            <p>
                                                                {{ cohort.description }}
                                                            </p>
                                                        <td>


                                                            {% if cohort.remaining_count == 0 %}

                                                                <span class="badge ">Expired</span>

                                                            {% elif not cohort.is_activated %}

                                                                <span class="badge bg-blue"> Inactivated </span>

                                                            {% elif cohort.is_paused %}

                                                                <span class="badge bg-yellow">Paused</span>

                                                            {% else %}

                                                                <span class="badge bg-green">Activate</span>

                                                            {% endif %}

                                                        </td>
                                                        <td>
                                                            {{ cohort.rearm }}
                                                        </td>

                                                        <td>

                                                            {{ cohort.remaining_count }}

                                                        </td>
                                                        <td>
                                                            {{ cohort.push.scheduled_at }}
                                                        </td>
                                                        <td>

                                                            <div class="btn-group">
                                                                <button type="button"
                                                                        class="btn btn-box-tool dropdown-toggle"
                                                                        data-toggle="dropdown" aria-expanded="">
                                                                    <i class="ion ion-ios-gear-outline"
                                                                       style="font-size: 25px; "></i>
                                                                </button>

                                                                <ul class="dropdown-menu" role="menu">


                                                                    {% if cohort.remaining_count == 0 %}

                                                                        <li><a data-cohort-id="{{ cohort.id }}"
                                                                               class="delete">Delete</a>
                                                                        </li>


                                                                    {% else %}


                                                                        <li><a data-cohort-id="{{ cohort.id }}"
                                                                               class="activate">Activate</a></li>
                                                                        <li><a data-cohort-id="{{ cohort.id }}"
                                                                               class="pause">Pause</a></li>
                                                                        <li><a data-cohort-id="{{ cohort.id }}"
                                                                               class="delete">Delete</a>
                                                                        </li>

                                                                    {% endif %}


                                                                </ul>


                                                            </div>

                                                        </td>

                                                    </tr>

                                                {% endfor %}

                                                </tbody>

                                            </table>
                                        </div>
                                    </div>

                                {% endfor %}


                            </div>
                        </div>

                    </div>

                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block body_tail %}

    <script>

        $(document).ready(function () {


            {% if  push_type  =='Email' %}


                var url = "{{ url_for('promotion.email_operate_cohort') }}";
            {% elif push_type  =='Facebook' %}

                var url = "{{ url_for('promotion.facebook_operate_cohort') }}";


            {% elif push_type  =='Mobile' %}

                var url = "{{ url_for('promotion.mobile_operate_cohort') }}";
            {% endif %}





            var loadingOverlayConfig = {
                image: '',
                fontawesome: 'fa fa-spinner fa-spin',
                maxSize: "26px",
                minSize: "26px"
            };

            ////////////////////////////////////////////////////////////

            $('.delete').on('click', function () {

                var cohortId = $(this).attr("data-cohort-id");
                var tr = $('#' + cohortId);

                tr.LoadingOverlay('show', loadingOverlayConfig);
                $.ajax({
                    type: 'DELETE',
                    url: url,
                    data: {cohort_id: cohortId},
                    dataType: 'json',
                    success: function (result) {

                        tr.LoadingOverlay('hide', true);
                        tr.children("td").remove()

                    },
                    error: function (xhr) {
                        alert(JSON.parse(xhr.responseText).error);
                        tr.LoadingOverlay('hide', true);
                    }
                })

            });

            ////////////////////////////////////////////////////////////

            $('.pause').on('click', function () {

                var cohortId = $(this).attr("data-cohort-id");
                var tr = $('#' + cohortId);

                tr.LoadingOverlay('show', loadingOverlayConfig);
                $.ajax({
                    type: 'PUT',
                    url: url,
                    data: {cohort_id: cohortId, operate: 'pause'},
                    dataType: 'json',
                    success: function (result) {

                        tr.LoadingOverlay('hide', true);
                        tr.children("td").eq(2).replaceWith('<td><span class="badge bg-yellow">Paused</span></td>')
                    },
                    error: function (xhr) {
                        alert(JSON.parse(xhr.responseText).error);
                        tr.LoadingOverlay('hide', true);
                    }
                })

            });

            ////////////////////////////////////////////////////////////

            $('.activate').on('click', function () {

                var cohortId = $(this).attr("data-cohort-id");
                var tr = $('#' + cohortId);

                tr.LoadingOverlay('show', loadingOverlayConfig);
                $.ajax({
                    type: 'PUT',

                    url: url,

                    data: {cohort_id: cohortId, operate: 'activate'},
                    success: function (result) {

                        tr.LoadingOverlay('hide', true);
                        tr.children("td").eq(2).replaceWith('<td><span class="badge bg-green">Activate</span></td>')

                    },
                    error: function (xhr) {
                        alert(JSON.parse(xhr.responseText).error);

                        tr.LoadingOverlay('hide', true);
                    }
                })

            });


        });

    </script>

{% endblock %}
