{% extends "layout/app.html" %}

{% block page_title %}Forgot{% endblock %}
{% set body_class = 'login-page' %}

{% block html_body %}
    <div class="login-box">
        <div class="login-logo">
            <b>WPT</b> Data Warehouse
        </div>





            <div style="max-width:500px; margin: auto;">

                <h3>Password Reset</h3>
                <hr>


                {% block tips %}
                    <p class="lead">
                        {{ error_message }}
                    </p>

                {% endblock %}

            </div>




    </div>
{% endblock %}