{% extends "account/background.html" %}

{% block page_title %}Forgot{% endblock %}
{% set body_class = 'login-page' %}

{% block login_form %}
    <div class="login-box" style="position: absolute;top: 6%;left: 50%; transform: translateX(-50%)">

    <div class="login-logo">
            <h1 style="font-size: 22px; font-weight: 600"> Data Analysis Platform </h1>
        </div>
        {% if   submitted %}
            <div class="login-box-body"
                 style="border-radius: 8px;box-shadow: 0 2px 4px 0 rgba(0,0,0,.04), 0 5px 10px 0 rgba(54,54,77,.1); }">

                <p class="login-box-msg"> Enter the email address you used for this account: </p>


                <form action="{{ url_for('account.forgot_password') }}" method="post">

                    <div class="form-group has-feedback">
                        {{ form.email(class_="form-control", placeholder="Email") }}
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                        </div>

                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-flat">Reset my password</button>

                        </div>

                    </div>

                    {% for field, errors in form.errors.items() %}

                        <div class="alert alert-error" style="margin-top: 20px">
                            {{ form[field].label }}:
                            {{ ', '.join(errors) }}
                        </div>
                    {% endfor %}

                    {{ form.csrf_token }}
                </form>

            </div>
        {% else %}
            <div style="max-width:500px; margin: auto;">

                <h3>Password Reset</h3>
                <hr>


                {% block tips %}
                    <p class="lead">
                        If we found an account associated with that email address, you will find an email from us in
                        your inbox shortly.
                    </p>

                {% endblock %}

            </div>
        {% endif %}
    </div>
{% endblock %}