{% extends "account/background.html" %}

{% block page_title %}Login{% endblock %}

{% set body_class = 'login-page' %}

{% block login_form %}

    <div class="login-box" style="position: absolute;top: 5%;left: 50%; transform: translateX(-50%)">

        <div class="login-logo">

            <h1 style="font-size: 22px; font-weight: 600"> Data Analysis Platform </h1>

        </div>

        <div class="login-box-body"
             style="border-radius: 8px;box-shadow: 0 2px 4px 0 rgba(0,0,0,.04), 0 5px 10px 0 rgba(54,54,77,.1); }">

            {% block tips %}

                <p class="login-box-msg">Sign in to start your session</p>

            {% endblock %}

            <form action="{{ url_for('account.sign_in') }}" method="post" enctype='application/json'>
                {{ form.hidden_tag() }}

                <div class="form-group has-feedback">
                    {{ form.email(class_="form-control", placeholder="Email") }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form.password(class_="form-control", placeholder="Password") }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">

                    <div class="col-xs-12">
                    <div style="display: flex;justify-content: space-between">

                        <p><input style=" vertical-align: middle; margin-top: 0px; margin-right: 4px; " name="remember" value="true" type="checkbox">Remember me </p>

                        <a href="{{ url_for('account.forgot_password') }}"> Forgot password ?</a>

                    </div>
                    </div>

                </div>


                <div class="row">


                    <div class="col-xs-12">

                        <button id="login" type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                    </div>


                </div>

                {% for field, errors in form.errors.items() %}
                    <div class="alert alert-error" style="margin-top: 20px">
                        {{ form[field].label }}:
                        {{ ', '.join(errors) }}
                    </div>
                {% endfor %}

                {{ form.csrf_token }}

            </form>


        </div>

    </div>

    <script>


        window.onkeydown = function (e) {
            //兼容iE
            if (e.which === 13 || e.keyCode === 13) {
                document.getElementById('login').click()
            }
        }


    </script>


{% endblock %}
