{% extends "layout/app.html" %}

{% block page_title %}Sending Facebook Notification{% endblock %}

{% block head_tail %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/wdt-emoji-bundle.css"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/emoji.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/wdt-emoji-bundle.min.js"></script>
    <style>


        #logo {
            display: inline-block;
            height: 48px;
            width: 48px;
            border-radius: 50%;
            margin-top: 7px;
            overflow: hidden;
        }

        #message_title {
            font-weight: bold;
        }

        #message {

            border: thin solid lightgray;
            padding: 2px;
            margin-top: 30px;
            background-color: #edf2fa;
        }

        #message_footer {

            color: #90949c;
            font-size: 10px;
        }
    </style>

    <style>
        progress {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;

        }

        progress::-webkit-progress-bar {
            background-color: #d7d7d7;

        }

        progress::-webkit-progress-inner-element {
            border-radius: 4px;
        }

        progress::-webkit-progress-value {
            background: #00c0ef;
        }

    </style>

{% endblock %}

{% block main_content %}



    <section class="content-header">

        <h1><i class="fa fa-facebook fa-1x"></i> &nbsp; Sending Facebook Notification </h1>

    </section>



    {% if  based_query %}

        <div class="pad margin no-print">
            <div class="callout callout-info"
                 style="margin-left: -5px; margin-right: -5px; margin-bottom: 0!important;">
                <h4>Sending Facebook notification to users based query blew:</h4>
                <pre><strong>{{ based_query.sql }}</strong></pre>
            </div>
        </div>

    {% else %}

        <div class="pad margin no-print">
            <div class="callout callout-danger"
                 style="margin-left: -5px; margin-right: -5px; margin-bottom: 0!important;">

                <div id="query_info">
                    <h4 style="margin-bottom: 0!important;">Sending Facebook Notification to ALL users in this
                        screen.</h4>
                </div>
            </div>
        </div>


    {% endif %}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary" id="editor-box">
                    <div class="box-header" style="padding-bottom: 2px;">
                        <div class="input-group pull-left" style="width: 300px; margin-right: 20px;">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i> &nbsp;Scheduled at (EST)
                            </div>
                            <input type="text" class="form-control" id="send-scheduled-at">
                        </div>



                        {% if not  based_query %}

                            <link href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css"
                                  rel="stylesheet">

                            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css"
                                  rel="stylesheet">

                            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css"
                                  rel="stylesheet">

                            <link href="https://cdn.jsdelivr.net/jquery.query-builder/2.4.3/css/query-builder.default.min.css"
                                  rel="stylesheet">


                            <button type="button" class="btn btn-default" style="margin-right: 5px; display: none"
                                    id="btn-select-users" data-toggle="modal" data-target="#select-users"><i
                                    class="fa fa-indent"></i> Select Users
                            </button>

                            <div class="modal fade" id="select-users" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">


                                <style>

                                    .slider.slider-horizontal {
                                        width: 600px;
                                    }

                                    slider-selection {
                                        background: #ffffff;
                                    }

                                    .slider {

                                        margin-top: 15px;
                                        margin-bottom: 20px;

                                    }

                                    .btn-primary.active, .btn-primary:hover {
                                        color: #fff;
                                        background-color: #0887c7;
                                    }

                                    .btn-primary {

                                        background-color: #fff;
                                    }

                                    .query-builder .rules-group-container {
                                        padding: 10px 10px 6px;
                                        background-color: #fff;
                                        border: 1px solid #d2d4d4;
                                        font-weight: 600;
                                    }


                                </style>

                                <div class="modal-dialog modal-lg" role="document">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                Set User Properties
                                            </h4>
                                        </div>
                                        <div class="modal-body">

                                            <div class="row">

                                                <div class="col-md-12">

                                                    <div id="builder-select-users"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                                    id="close">Close
                                            </button>
                                            <button class="btn btn-primary  parse-json" data-target="select-users"
                                                    style="background-color: #00a65a;">Apply
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        {% endif %}

                        <button type="button" class="btn btn-default" style="margin-right: 5px;" id="btn-insert-name"><i
                                class="fa fa-indent"></i> Insert Facebook name
                        </button>

                        <button type="button" class="btn btn-success" id="btn-send" style="margin-right: 5px;"><i
                                class="fa fa-toggle-right"></i> Send
                        </button>


                    </div>
                    <div class="box-body">

                        <div class="row">

                            <div class="col-md-7">

                                <form>
                                    <div class="form-group" style="margin-bottom: 8px;">

                                        <textarea id="message-editor"
                                                  class="form-control wdt-emoji-bundle-enabled wdt-emoji-open-on-colon "
                                                  rows="8" placeholder="Enter message"></textarea>
                                    </div>
                                </form>

                            </div>
                            <div class="col-md-4">


                                <div class="row" id="message">
                                    <div>
                                        <div class="col-md-1" style="padding-left: 0px;"><img id="logo" src="https://scontent-lga3-1.xx.fbcdn.net/v/t39.2081-6/c1.1.48.48/p48x48/26655721_397868533988806_2940099444202274816_n.png?oh=ebbb2bcc137c9626f25399597c2cdfa0&oe=5B24CAC9">
                                        </div>
                                        <div class="col-md-10" style=" margin-left: 12px; ">
                                            <span id="message_title">PlayWPT – Texas Holdem Poker :</span>
                                            <span id="comment-output"></span>

                                            <div>
                                                <img style="display: inline"
                                                     src="https://scontent-lga3-1.xx.fbcdn.net/v/t39.2081-6/c0.0.17.17/p16x16/26479361_397927613982898_3923527868428058624_n.png?oh=874c304b94cf92c742d4741fdab0d354&oe=5ADD30DA">
                                                <span id="message_footer">Month Day at H:ms pm</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>


                    <!--<div class="box-footer clearfix">
                    </div>-->
                </div>

                <div class="nav-tabs-custom" id="tabs-box">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-history" data-toggle="tab" aria-expanded="true"> History </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active table-responsive" id="tab-history">
                            <table id="history-table" class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="999">
                                        <div class="text-center">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>

        <div class="wdt-emoji-popup">
            <a href="#" class="wdt-emoji-popup-mobile-closer"> &times; </a>
            <div class="wdt-emoji-menu-content">
                <div id="wdt-emoji-menu-header">
                    <a class="wdt-emoji-tab active" data-group-name="Recent"></a>
                    <a class="wdt-emoji-tab" data-group-name="People"></a>
                    <a class="wdt-emoji-tab" data-group-name="Nature"></a>
                    <a class="wdt-emoji-tab" data-group-name="Foods"></a>
                    <a class="wdt-emoji-tab" data-group-name="Activity"></a>
                    <a class="wdt-emoji-tab" data-group-name="Places"></a>
                    <a class="wdt-emoji-tab" data-group-name="Objects"></a>
                    <a class="wdt-emoji-tab" data-group-name="Symbols"></a>
                    <a class="wdt-emoji-tab" data-group-name="Flags"></a>
                    <a class="wdt-emoji-tab" data-group-name="Custom"></a>
                </div>
                <div class="wdt-emoji-scroll-wrapper">
                    <div id="wdt-emoji-menu-items">
                        <input id="wdt-emoji-search" type="text" placeholder="Search">
                        <h3 id="wdt-emoji-search-result-title">Search Results</h3>
                        <div class="wdt-emoji-sections"></div>
                        <div id="wdt-emoji-no-result">No emoji found</div>
                    </div>
                </div>
                <div id="wdt-emoji-footer">
                    <div id="wdt-emoji-preview">
                        <span id="wdt-emoji-preview-img"></span>
                        <div id="wdt-emoji-preview-text">
                            <span id="wdt-emoji-preview-name"></span><br>
                            <span id="wdt-emoji-preview-aliases"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script type="text/javascript">
            (function () {

                wdtEmojiBundle.defaults.emojiSheets = {
                    'facebook': 'https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/sheets/sheet_facebook_64_indexed_128.png',

                };

                wdtEmojiBundle.init('.wdt-emoji-bundle-enabled');
                wdtEmojiBundle.changeType('facebook');
                // ------------------------------------------------------
                document.getElementById('message-editor').addEventListener('input', function () {
                    document.getElementById('comment-output').innerHTML = wdtEmojiBundle.render(this.value);
                });


            })();
        </script>
    </section>



{% endblock %}

{% block body_tail %}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>





    {% if not  based_query %}

        <div id="user-grouping-scripts">

            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.query-builder/2.4.3/js/query-builder.standalone.min.js"></script>
            <script src="https://cdn.jsdelivr.net/sql-parser/0.4.1/sql-parser.js"></script>

            <script>

                var userRulesOption = {
                    condition: 'OR',
                    rules: [{
                        id: 'Registered'
                    }]
                };

                $('#builder-select-users').queryBuilder({

                    plugins: [
                        'bt-tooltip-errors',
                        'bt-checkbox'
                    ],

                    filters: [{
                        id: 'Registered',
                        field: 'reg_time',
                        label: 'Registered',
                        type: 'date',
                        validation: {
                            format: 'YYYY-MM-DD'
                        },
                        plugin: 'datepicker',
                        plugin_config: {
                            format: 'yyyy-mm-dd',
                            todayBtn: 'linked',
                            todayHighlight: true,
                            autoclose: true
                        },
                        operators: ['less', 'equal', 'greater', 'between']

                    },
                        {
                            id: 'x_days_inactive',
                            field: 'X_days_inactive',
                            label: 'X Days Inactive',
                            type: 'integer',
                            input: 'number',
                            operators: ['equal']
                        },

                        {
                            id: 'average_active_days_weekly',
                            field: 'average_active_days_weekly',
                            label: 'Average Active Days Weekly',
                            type: 'integer',
                            operators: ['less', 'equal', 'greater', 'between'],
                            validation: {
                                min: 0,
                                max: 7
                            },
                            plugin: 'slider',

                            plugin_config: {
                                min: 1,
                                max: 7,
                                value: 0,
                                tooltip_position: 'bottom',
                                tooltip: 'always'


                            },
                            valueSetter: function (rule, value) {
                                if (rule.operator.nb_inputs == 1) value = [value];
                                rule.$el.find('.rule-value-container input').each(function (i) {
                                    $(this).slider('setValue', value[i] || 0);
                                });
                            },
                            valueGetter: function (rule) {
                                var value = [];
                                rule.$el.find('.rule-value-container input').each(function () {
                                    value.push($(this).slider('getValue'));
                                });
                                return rule.operator.nb_inputs == 1 ? value[0] : value;
                            }
                        },

                        {
                            id: 'average_active_days_monthly',
                            field: 'average_active_days_monthly',
                            label: 'Average Active Days Monthly',
                            type: 'integer',
                            operators: ['less', 'equal', 'greater', 'between'],

                            validation: {
                                min: 0,
                                max: 30
                            },
                            plugin: 'slider',
                            plugin_config: {
                                min: 1,
                                max: 30,
                                value: 0,

                                tooltip_position: 'bottom',
                                tooltip: 'always'

                            },
                            valueSetter: function (rule, value) {
                                if (rule.operator.nb_inputs == 1) value = [value];
                                rule.$el.find('.rule-value-container input').each(function (i) {
                                    $(this).slider('setValue', value[i] || 0);
                                });
                            },
                            valueGetter: function (rule) {
                                var value = [];
                                rule.$el.find('.rule-value-container input').each(function () {
                                    value.push($(this).slider('getValue'));
                                });
                                return rule.operator.nb_inputs == 1 ? value[0] : value;
                            }

                        },

                        {
                            id: 'purchased',
                            field: 'purchased',
                            label: 'Purchased',
                            type: 'integer',
                            input: 'radio',
                            values: {
                                0: 'Never Purchased',
                                1: 'Purchased'
                            },
                            colors: {
                                1: 'success',
                                0: 'danger'
                            },

                            operators: ['equal'],
                        },


                        {
                            id: 'average_purchase_amount_weekly',
                            field: 'average_purchase_amount_weekly',
                            label: 'Average Purchase Amount Weekly',
                            type: 'double',

                            operators: ['less', 'equal', 'greater', 'between'],
                            validation: {
                                min: 0,
                                max: 1000000
                            },
                            plugin: 'slider',
                            plugin_config: {

                                min: 1,
                                max: 10000,
                                value: 0,
                                tooltip_position: 'bottom',
                                tooltip: 'always'


                            },
                            valueSetter: function (rule, value) {
                                if (rule.operator.nb_inputs == 1) value = [value];
                                rule.$el.find('.rule-value-container input').each(function (i) {
                                    $(this).slider('setValue', value[i] || 0);
                                });
                            },
                            valueGetter: function (rule) {
                                var value = [];
                                rule.$el.find('.rule-value-container input').each(function () {
                                    value.push($(this).slider('getValue'));
                                });
                                return rule.operator.nb_inputs == 1 ? value[0] : value;
                            }
                        },

                        {
                            id: 'average_purchase_amount_monthly',
                            field: 'average_purchase_amount_monthly',
                            label: 'Average Purchase Amount Monthly',
                            type: 'double',

                            operators: ['less', 'equal', 'greater', 'between'],
                            validation: {
                                min: 0,
                                max: 1000000
                            },
                            plugin: 'slider',
                            plugin_config: {

                                min: 1,
                                max: 10000,
                                value: 0,
                                tooltip_position: 'bottom',
                                tooltip: 'always'

                            },
                            valueSetter: function (rule, value) {
                                if (rule.operator.nb_inputs == 1) value = [value];
                                rule.$el.find('.rule-value-container input').each(function (i) {
                                    $(this).slider('setValue', value[i] || 0);
                                });
                            },
                            valueGetter: function (rule) {
                                var value = [];
                                rule.$el.find('.rule-value-container input').each(function () {
                                    value.push($(this).slider('getValue'));
                                });
                                return rule.operator.nb_inputs == 1 ? value[0] : value;
                            }
                        },


                        {
                            id: 'average_purchase_count_monthly',
                            field: 'average_purchase_count_monthly',
                            label: 'Average Purchase Count Monthly',
                            type: 'double',

                            operators: ['less', 'equal', 'greater', 'between'],
                            validation: {
                                min: 0,
                                max: 1000000
                            },
                            plugin: 'slider',
                            plugin_config: {

                                min: 1,
                                max: 30,
                                value: 0,

                                tooltip_position: 'bottom',

                                tooltip: 'always'


                            },
                            valueSetter: function (rule, value) {
                                if (rule.operator.nb_inputs == 1) value = [value];
                                rule.$el.find('.rule-value-container input').each(function (i) {
                                    $(this).slider('setValue', value[i] || 0);
                                });
                            },
                            valueGetter: function (rule) {
                                var value = [];
                                rule.$el.find('.rule-value-container input').each(function () {
                                    value.push($(this).slider('getValue'));
                                });
                                return rule.operator.nb_inputs == 1 ? value[0] : value;
                            }
                        },

                        {
                            id: 'average_purchase_count_weekly',
                            field: 'average_purchase_count_weekly',
                            label: 'Average Purchase Count Weekly',
                            operators: ['less', 'equal', 'greater', 'between'],
                            validation: {
                                min: 0,
                                max: 1000000
                            },
                            plugin: 'slider',
                            plugin_config: {
                                min: 1,
                                max: 7,
                                value: 0,
                                tooltip_position: 'bottom',
                                tooltip: 'always'

                            },
                            valueSetter: function (rule, value) {
                                if (rule.operator.nb_inputs == 1) value = [value];
                                rule.$el.find('.rule-value-container input').each(function (i) {
                                    $(this).slider('setValue', value[i] || 0);
                                });
                            },
                            valueGetter: function (rule) {
                                var value = [];
                                rule.$el.find('.rule-value-container input').each(function () {
                                    value.push($(this).slider('getValue'));
                                });
                                return rule.operator.nb_inputs == 1 ? value[0] : value;
                            }
                        }

                    ],

                    rules: userRulesOption
                });

                $('.parse-json').on('click', function () {


                    var usersRules = $('#builder-select-users').queryBuilder('getRules');
                    var query_info = $('#builder-select-users').queryBuilder('getSQL');


                    if (!$.isEmptyObject(usersRules)) {
                        $('#close').trigger('click')
                    }

                    $('#query_info').html("<h4>Sending Facebook notification to users based rules blew:</h4> <pre>" + "<strong>" + query_info.sql + "</strong>" + "</pre>");

                    $('.callout-danger').addClass('callout-info')

                });

            </script>
        </div>

    {% endif %}

    <script type="text/javascript">

        var historyTableColumns = ['id', 'based_query_id', 'scheduled_at', 'requested_by', 'message', 'status', 'created_at'];


        function insertAtCaret(areaId, text) {
            var txtarea = document.getElementById(areaId);
            if (!txtarea) {
                return;
            }

            var scrollPos = txtarea.scrollTop;
            var strPos = 0;
            var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ? "ff" : (document.selection ? "ie" : false));
            if (br == "ie") {
                txtarea.focus();
                var range = document.selection.createRange();
                range.moveStart('character', -txtarea.value.length);
                strPos = range.text.length;
            } else if (br == "ff") {
                strPos = txtarea.selectionStart;
            }

            var front = (txtarea.value).substring(0, strPos);
            var back = (txtarea.value).substring(strPos, txtarea.value.length);
            txtarea.value = front + text + back;
            strPos = strPos + text.length;
            if (br == "ie") {
                txtarea.focus();
                var ieRange = document.selection.createRange();
                ieRange.moveStart('character', -txtarea.value.length);
                ieRange.moveStart('character', strPos);
                ieRange.moveEnd('character', 0);
                ieRange.select();
            } else if (br == "ff") {
                txtarea.selectionStart = strPos;
                txtarea.selectionEnd = strPos;
                txtarea.focus();
            }

            txtarea.scrollTop = scrollPos;
        }


        $(document).ready(function () {


            $('#send-scheduled-at').daterangepicker({
                opens: 'right',
                showDropdowns: true,
                autoApply: true,
                singleDatePicker: true,
                timePicker: true,
                timePicker24Hour: true,
                locale: {
                    format: 'YYYY-MM-DD HH:mm:ss',
                },
                minDate: moment()
            });

            ////////////////////

            var loadingOverlayConfig = {
                image: '',
                fontawesome: 'fa fa-spinner fa-spin',
                maxSize: "26px",
                minSize: "26px"
            }

            function startRequestLoading() {
                $('#editor-box').LoadingOverlay('show', loadingOverlayConfig);
            }

            function stopRequestLoading() {
                $('#editor-box').LoadingOverlay('hide', true);
            }

            ////////////////////

            $('#btn-insert-name').click(function () {
                insertAtCaret('message-editor', ' @[fb_name] ');
            });


            var sqlQueryRules = null;

            {% if based_query %}
                var basedQueryId = {{ based_query.id }};
                var submitConfirmAlert = 'Do you want to send Facebook notification to users based query in the screen?';

            {% else %}
                var basedQueryId = null;
                var submitConfirmAlert = 'Do you want to send Facebook notification to ALL users?';

            {% endif %}

            var retryConfirmAlert = 'Do you want to retry?';


            $('#btn-send').click(function () {


                {% if  not based_query %}

                    var query_rules = $('#builder-select-users').queryBuilder('getRules');

                {% else %}

                    var query_rules = null;

                {% endif %}


                if (query_rules !== null) {

                    submitConfirmAlert = 'Do you want to send Facebook notification to users based rules in the screen?';
                    sqlQueryRules = $('#builder-select-users').queryBuilder('getSQL').sql;

                }


                if ($('#message-editor').val().length === 0) return;


                swal({

                    title: "Are you sure?",
                    text: submitConfirmAlert,
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, send it!",

                }, function () {


                    if ($('#message-editor').val().length === 0) return;

                    {% if  based_query %}

                        var data = {
                            'scheduled_at': $('#send-scheduled-at').val(),
                            message: $('#message-editor').val(),
                            based_query_id: basedQueryId,
                        };

                    {% else %}

                        var data = {
                            'scheduled_at': $('#send-scheduled-at').val(),
                            message: $('#message-editor').val(),
                            query_rules_sql: sqlQueryRules,
                            query_rules: JSON.stringify(query_rules)
                        };

                    {% endif %}

                    startRequestLoading();
                    $.ajax({
                        type: 'POST',
                        url: '/promotion/facebook_notification/sender',
                        data: data,
                        dataType: "json",
                        success: function (result) {

                            swal("Success!", "Your request has submitted successfully. Please wait background job to processing your request.", "success");
                            stopRequestLoading();
                            getPushHistories();
                        },
                        error: function (xhr) {
                            stopRequestLoading();
                            swal("Error", JSON.parse(xhr.responseText).error, "error");
                        }
                    });

                });
            });


            $(document).on('click', '.btn-retry', function () {

                var pushId = $(this).attr('data-push-id');

                swal({
                    title: retryConfirmAlert,
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, retry it!",
                    closeOnConfirm: false

                }, function () {


                    $.ajax({
                        type: 'POST',
                        url: '/promotion/facebook_notification/retry',
                        data: {push_id: pushId},
                        dataType: "json",
                        success: function (result) {
                            swal("Success!", "Your request has submitted successfully. Please wait background job to processing your request.", "success");
                            getPushHistories();
                        },
                        error: function (xhr) {
                            swal("Error", JSON.parse(xhr.responseText).error, "error");
                        }
                    })
                })
            });

            function getPushHistories() {
                $.ajax({
                    type: 'GET',
                    url: '/promotion/facebook_notification/histories',
                    dataType: "json",
                    success: function (result) {
                        var headers = []
                        headers.push('<tr>')
                        for (var i in historyTableColumns) {
                            var column = historyTableColumns[i];
                            if (column === 'based_query_id') {
                                column = 'based query';
                            } else if (column === 'requested_by') {
                                column = 'requested by';
                            }
                            headers.push('<th>' + column + '</th>')
                        }
                        headers.push('<th style="width: 128px;"></th>');
                        headers.push('</tr>');
                        $('#history-table thead').html(headers.join());

                        var rows = [];
                        for (var j in result.data) {
                            var row = result.data[j];
                            rows.push('<tr>')
                            for (var i in historyTableColumns) {
                                var column = historyTableColumns[i];
                                if (column === 'based_query_id') {
                                    if (row["based_query_sql"] !== null) {
                                        rows.push('<td><pre>' + row['based_query_sql'] + '</pre></td>');
                                    }
                                    else if (row["based_query_rules"] !== null) {
                                        rows.push('<td>' + row['based_query_rules'] + '</td>');
                                    }
                                    else {
                                        rows.push('<td>  </td>');
                                    }

                                }


                                else if (column === 'message') {


                                    var message_tempate =
                                        '<div class="row" id="message" style="margin-top:0px ;transform: scale(0.9,0.9); width: 500px; margin-right: 60px;">' +
                                        '<div> <div class="col-md-1">' +
                                        '<img id="logo" src="https://scontent-lga3-1.xx.fbcdn.net/v/t39.2081-6/c1.1.48.48/p48x48/26655721_397868533988806_2940099444202274816_n.png?oh=ebbb2bcc137c9626f25399597c2cdfa0&oe=5B24CAC9">' +
                                        ' </div> ' +
                                        '<div class="col-md-10" style=" margin-left: 12px; ">' +
                                        ' <span id="message_title">PlayWPT – Texas Holdem Poker :</span> <span id="comment-output">'
                                        + wdtEmojiBundle.render(row[column]) +
                                        '</span> <div> <img ' +
                                        'style="display: inline" src="https://scontent-lga3-1.xx.fbcdn.net/v/t39.2081-6/c0.0.17.17/p16x16/26479361_397927613982898_3923527868428058624_n.png?oh=874c304b94cf92c742d4741fdab0d354&oe=5ADD30DA"> ' +
                                        '<span id="message_footer">Month Day at H:ms pm</span> ' +
                                        '</div>' +
                                        ' </div>' +
                                        ' </div>' +
                                        ' </div>'


                                    rows.push('<td>' + message_tempate + '</td>');
                                }
                                else if (column === 'status') {
                                    if (row[column] === 'failed') {
                                        rows.push('<td>' +
                                            '<span class="text-red">Prepare failed</span><br />' +
                                            '</td>');
                                    }
                                    else if (row[column] === 'waiting') {
                                        rows.push('<td>' +
                                            '<span class="text-muted">waiting</span><br />' +
                                            '</td>');
                                    }

                                    else if (row[column] === 'preparing') {
                                        rows.push('<td>' +
                                            '<span class="text-muted">Preparing</span><br />' +
                                            '</td>');
                                    } else {
                                        var completed = row[column].succeed_count + row[column].failed_count;

                                        var progress = row[column].running_count !== 0 ? '<span class="text-aqua">' +
                                            '<progress value="' + completed + '" max="' + row[column].total_count + '"> </progress>' +
                                            '</span><br />' : ' ';

                                        rows.push('<td>' +
                                            '<span>Total: ' + row[column].total_count + '</span><br />' + progress +
                                            '<span class="text-green">Succeed: ' + row[column].succeed_count + '</span><br />' +
                                            '<span class="text-red">Failed: ' + row[column].failed_count + '</span>' +
                                            '</td>');
                                    }
                                } else {
                                    rows.push('<td>' + row[column] + '</td>');
                                }
                            }

                            var btnGroup = '<td>' +
                                '<div class="btn-group">' +
                                '  <button type="button" class="btn btn-sm btn-success btn-retry" data-push-id="' + row['id'] + '"><i class="fa fa-toggle-right"></i> Retry request failed</button>' +
                                '</div>' +
                                '</td>';

                            rows.push(btnGroup);
                            rows.push('</tr>');
                        }

                        if (rows.length > 0) {
                            $('#history-table tbody').html(rows.join());
                        }
                    },
                    error: function (xhr) {

                    }
                });
            }

            getPushHistories();


        })
        ;


    </script>

{% endblock %}






