{% extends "layout/app.html" %}

{% block page_title %}Facebook Cohort{% endblock %}

{% block head_tail %}

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/show-hint.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/wdt-emoji-bundle.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/emoji.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/wdt-emoji-bundle.min.js"></script>
    <style>
        #logo {
            display: inline-block;
            height: 48px;
            width: 48px;
            border-radius: 50%;
            margin-top: 7px;
            overflow: hidden;
        }

        #message_title {
            font-weight: bold;
        }

        #message {

            border: thin solid lightgray;
            padding: 2px;
            margin-top: 50px;
            background-color: #edf2fa;
        }

        #message_footer {
            color: #90949c;
            font-size: 10px;
        }
    </style>

{% endblock %}

{% block main_content %}

    <section class="content-header">
        <h1 id="cohort-title">
            Create New Cohort
        </h1>
    </section>

    <section class="content">
        <div class="box box-danger" id="editor-box">
            <div class="box-header with-border">
                <h3 class="box-title">Facebook Options </h3>


                <a style="margin-left: 10px" class="btn btn-primary pull-right"
                   href="/promotion/facebook/cohorts/display">
                    <i class="fa fa-reply"></i> </a>

                <a id='cohort-save' class="btn btn-primary pull-right" style="display: inline-block"> <i class="fa fa-save"></i> Save </a>

                <a id='cohort-edit' class="btn btn-primary pull-right" style="display: none"> <i class="fa fa-edit"></i> Edit </a>


            </div>
            <fieldset id="disable-me">

                <div class="box-body">


                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>Cohort Name</label>
                                <input id="cohort-name" type="text" class="form-control" placeholder="Enter ...">
                            </div>


                            <div class="form-group">
                                <label>Category</label>
                                <input id="category" type="text" class="form-control" placeholder="Enter ...">
                            </div>

                            <div class="form-group">
                                <label>Description</label>
                                <textarea id='cohort-description' class="form-control" rows="12"
                                          style="font-size: 16px"></textarea>


                            </div>


                            <div class="form-group">
                                <label> Scheduled At (EST) </label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input name="scheduled" type="text" class="form-control" id="send-scheduled-at">
                                </div>
                            </div>

                            <div class="form-group">

                                <label>Rearm/Hour </label>
                                <input class="form-control" id="rearm" type="number" min="0">

                            </div>
                            <div class="form-group">
                                <label>Maximum Count</label>
                                <input id="maximum-count" class="form-control input-sm" type="number" min="0">
                            </div>
                            <div class="form-group">
                                <input id="is-important" type="checkbox">
                                <label>Important</label>
                            </div>


                        </div>


                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Recipients</label>
                                <select class="form-control select2" style="width: 20%; margin-bottom: 10px"
                                        id="database-picker">
                                    <option value="bi" selected="selected">DB: BI</option>
                                    <option value="bi_lifetime">DB: BI_LIFETIME</option>
                                    <option value="bi_promotion">DB: BI_PROMOTION</option>
                                    <option value="orig_wpt">DB: WPT</option>
                                    <option value="orig_wpt_ods">DB: WPT ODS</option>
                                    <option value="orig_wpt_mall">DB: WPT MALL</option>
                                    <option value="wpt_log">DB: WPT Log</option>
                                    <option value="orig_wpt_master_points">DB: MASTER POINTS</option>
                                </select>

                                <textarea id="sql-editor" class="form-control"
                                          placeholder="Enter your query"></textarea>

                            </div>


                            <div class="row">

                                <div class="col-md-6 col-md-offset-2">

                                    <div class="form-group">
                    <textarea id="message-editor" name="message"
                              class="form-control wdt-emoji-bundle-enabled wdt-emoji-open-on-colon"
                              rows="3"> </textarea>
                                    </div>

                                    <div class="row" id="message">
                                        <div>
                                            <div class="col-md-1"><img id="logo" src="https://scontent-lga3-1.xx.fbcdn.net/v/t39.2081-6/c1.1.48.48/p48x48/26655721_397868533988806_2940099444202274816_n.png?oh=ebbb2bcc137c9626f25399597c2cdfa0&oe=5B24CAC9">
                                            </div>
                                            <div class="col-md-10" style=" margin-left: 12px; ">
                                                <span id="message_title">PlayWPT – Texas Holdem Poker :</span>
                                                <span id="message-body"></span>

                                                <div>
                                                    <img style="display: inline" src="https://scontent-lga3-1.xx.fbcdn.net/v/t39.2081-6/c0.0.17.17/p16x16/26479361_397927613982898_3923527868428058624_n.png?oh=874c304b94cf92c742d4741fdab0d354&oe=5ADD30DA">
                                                    <span id="message_footer">Month Day at H:ms pm</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


            </fieldset>


        </div>
        <div class="wdt-emoji-popup">
            <a href="#" class="wdt-emoji-popup-mobile-closer"> &times; </a>
            <div class="wdt-emoji-menu-content">
                <div id="wdt-emoji-menu-header">
                    <a class="wdt-emoji-tab active" data-group-name="Recent"></a>
                    <a class="wdt-emoji-tab" data-group-name="People"></a>
                    <a class="wdt-emoji-tab" data-group-name="Nature"></a>
                    <a class="wdt-emoji-tab" data-group-name="Foods"></a>
                    <a class="wdt-emoji-tab" data-group-name="Activity"></a>
                    <a class="wdt-emoji-tab" data-group-name="Places"></a>
                    <a class="wdt-emoji-tab" data-group-name="Objects"></a>
                    <a class="wdt-emoji-tab" data-group-name="Symbols"></a>
                    <a class="wdt-emoji-tab" data-group-name="Flags"></a>
                    <a class="wdt-emoji-tab" data-group-name="Custom"></a>
                </div>
                <div class="wdt-emoji-scroll-wrapper">
                    <div id="wdt-emoji-menu-items">
                        <input id="wdt-emoji-search" type="text" placeholder="Search">
                        <h3 id="wdt-emoji-search-result-title">Search Results</h3>
                        <div class="wdt-emoji-sections"></div>
                        <div id="wdt-emoji-no-result">No emoji found</div>
                    </div>
                </div>
                <div id="wdt-emoji-footer">
                    <div id="wdt-emoji-preview">
                        <span id="wdt-emoji-preview-img"></span>
                        <div id="wdt-emoji-preview-text">
                            <span id="wdt-emoji-preview-name"></span><br>
                            <span id="wdt-emoji-preview-aliases"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            (function () {

                wdtEmojiBundle.defaults.emojiSheets = {
                    'facebook': 'https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/sheets/sheet_facebook_64_indexed_128.png',

                };

                wdtEmojiBundle.init('.wdt-emoji-bundle-enabled');
                wdtEmojiBundle.changeType('facebook');
                // ------------------------------------------------------
                document.getElementById('message-editor').addEventListener('input', function () {
                    document.getElementById('message-body').innerHTML = wdtEmojiBundle.render(this.value);
                });


            })();
        </script>
    </section>

{% endblock %}
{% block body_tail %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/mode/sql/sql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/sql-hint.min.js"></script>
    <script>

        $(document).ready(function () {

            ///////////////Utils////////////////////////
            $(".select2").select2();
            var loadingOverlayConfig = {
                image: '',
                fontawesome: 'fa fa-spinner fa-spin',
                maxSize: "26px",
                minSize: "26px"
            };

            function startRequestLoading() {
                $('#editor-box').LoadingOverlay('show', loadingOverlayConfig);
            }

            function stopRequestLoading() {
                $('#editor-box').LoadingOverlay('hide', true);
            }

            $('#send-scheduled-at').daterangepicker({
                opens: 'right',
                showDropdowns: true,
                autoApply: true,
                singleDatePicker: true,
                timePicker: true,
                timePicker24Hour: true,
                locale: {
                    format: 'YYYY-MM-DD HH:mm:ss',
                },
                minDate: moment()
            });
            var editor = CodeMirror.fromTextArea(document.getElementById('sql-editor'), {
                mode: 'text/x-mysql',
                lineNumbers: true,
                matchBrackets: true,
                autofocus: true,
                indentUnit: 4,
                extraKeys: {"Ctrl": "autocomplete"},
                hint: CodeMirror.hint.sql,
                hintOptions: {
                    tables: {
                        bi_user_currency: {{ get_columns_of_table('app.models.bi', 'BIUserCurrency') | safe }},
                        bi_user: {{ get_columns_of_table('app.models.bi', 'BIUser') | safe }}
                    }
                }
            });
            ////////////////////////////////////////////////////////////

            $('#cohort-save').on('click', function () {

                if (editor.getValue().length === 0
                    || $('#cohort-name').val() === ""
                    || $('#category').val() === ""
                    || $('#send-scheduled-at').val() === ""
                    || $('#rearm').val() === ""
                    || $('#message-body').html() === ""
                    || $('#maximum-count').val() === ""
                    || $('#valid-count').val() === "") return;

                startRequestLoading();

                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('promotion.facebook_operate_cohort') }}",
                    data: {

                        scheduled_at: $('#send-scheduled-at').val(),
                        cohort_name: $('#cohort-name').val(),
                        category: $('#category').val(),
                        description: $('#cohort-description').val(),
                        rearm: $('#rearm').val(),
                        body: $('#message-editor').val(),
                        maximum_count: $('#maximum-count').val(),
                        is_important: $('#is-important').is(":checked"),
                        sql: editor.getValue(),
                        database: $('#database-picker').find(":selected").val()
                    },
                    dataType: 'json',
                    success: function (result) {
                        stopRequestLoading();
                        $('#cohort-save').hide();
                        $("#disable-me").attr("disabled", "disabled");
                        $('#database-picker').select2('enable', false);
                        $('#cohort-edit').show();
                        $('#cohort-title').text($('#cohort-name').val());

                    },
                    error: function (xhr) {
                        stopRequestLoading();
                        alert(JSON.parse(xhr.responseText).error)

                    }
                })


            });
            $('#cohort-edit').on('click', function () {

                $(this).hide();
                $('#cohort-save').show();
                $('#database-picker').select2('enable');
                $('#disable-me').removeAttr('disabled');
            });

        });

    </script>
{% endblock %}