<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    {% assets "flask_wallboard_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    <style>
        h3 {
            font-size: 20px
        }

        .header-title {
            font-size: 22px;
            font-weight: 600;
            line-height: 16px;
            margin-bottom: 8px;
        }

    </style>
</head>

<body>

<div id="wrapper">

    <div class="content-page">

        <div class="content">

            <div class="container">

                <div class="row" style="margin-top: 30px">

                    <div class="col-md-6">

                        <div class="card-box" style="padding-bottom: 15px;">

                            <div class="row">

                                <div class="col-md-4">

                                    <div id="clock_1"></div>

                                </div>

                                <div class="col-md-4">

                                    <div id="clock_2"></div>

                                </div>

                                <div class="col-md-4">

                                    <div id="clock_3"></div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="card-box" style=" padding-bottom: 32px; margin-bottom: 8px; ">

                            <div class="row">

                                <div class="col-md-3">

                                    <h3>
                                        <span id="summary-new-registration"></span>
                                        <span class="summary-separater">/</span>
                                        <span class="summary-yday" id="summary-new-registration-yday"
                                              title="Yesterday"> </span>
                                    </h3>

                                    <p>New Reg</p>

                                </div>

                                <div class="col-md-3">

                                    <h3>
                                        <span id="summary-new-dau"></span>
                                        <span class="summary-separater">/</span>
                                        <span class="summary-yday" id="summary-new-dau-yday" title="Yesterday"></span>
                                    </h3>

                                    <p>New DAU</p>

                                </div>


                                <div class="col-md-3">

                                    <h3>
                                        <span id="summary-new-reg-to-dau"></span>
                                        <span class="summary-separater">/</span>
                                        <span class="summary-yday" id="summary-new-reg-to-dau-yday"
                                              title="Yesterday"></span>
                                    </h3>

                                    <p>Reg to DAU</p>

                                </div>


                                <div class="col-md-3">

                                    <h3>
                                        <span id="summary-game-dau"></span>
                                        <span class="summary-separater">/</span>
                                        <span class="summary-yday" id="summary-game-dau-yday"
                                              title="Yesterday"></span>
                                    </h3>

                                    <p>DAU</p>
                                </div>
                            </div>


                            <div class="row">

                                <div class="col-md-3">

                                    <h3>
                                        <span id="summary-return-dau"></span>
                                        <span class="summary-separater">/</span>
                                        <span class="summary-yday" id="summary-return-dau-yday"
                                              title="Yesterday"></span>
                                    </h3>

                                    <p>Return DAU</p>

                                </div>

                                <div class="col-md-3">

                                    <h3>
                                        <span id="summary-return-dau-rate"></span>
                                        <span class="summary-separater">/</span>
                                        <span class="summary-yday" id="summary-return-dau-rate-yday"
                                              title="Yesterday"></span>

                                    </h3>

                                    <p>% Return DAU</p>

                                </div>


                                <div class="col-md-3">

                                    <h3>
                                        <span id="summary-paid-players"></span>
                                        <span class="summary-separater">/</span>
                                        <span class="summary-yday" id="summary-paid-players-yday"
                                              title="Yesterday"></span>
                                    </h3>

                                    <p> Paid Players </p>

                                </div>


                                <div class="col-md-3">

                                    <h3><span id="summary-paid"></span>
                                        <span class="summary-separater">/</span>
                                        <span class="summary-yday" id="summary-paid-yday"
                                              title="Yesterday"></span>
                                    </h3>

                                    <p> Paid % </p>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">

                    <div class="col-md-4">

                        <div class="card-box" style="height: 230px;">

                            <h4 class="header-title m-t-0 m-b-10">NEW REG</h4>

                            <div id="new_reg_pie" style="position: absolute;left: 300px;bottom: 138px;"></div>

                            <div class="col-md-3">

                                <h2 id="new_reg"></h2>

                                <p>Reg to DAU</p>

                                <span class="badge badge-success m-t-10" id="reg_to_dau"
                                      style="height: 40px ;width:60px;font-size: 18px;font-weight: bold;text-align: center;padding-top: 10px"></span>

                            </div>

                            <div class="col-md-9 ">

                                <div id="new-reg-chart-line" style="height: 200px; width: 100%; position: absolute "></div>

                            </div>


                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="card-box" style="height: 230px;">

                            <h4 class="header-title m-t-0 m-b-10">GAME DAU</h4>

                            <div class="col-md-3">

                                <h2 id="dau"></h2>

                                <p>Return Dau</p>

                                <span class="badge badge-success m-t-10" id='return_dau'
                                      style="height: 40px ;width:60px;font-size: 18px;font-weight: bold;text-align: center;padding-top: 10px"></span>

                            </div>

                            <div class="col-md-9 ">


                                <div id="dau-chart-line" style="height: 200px; width: 100%; position: absolute "></div>


                            </div>


                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="card-box" style="height: 230px;">

                            <h4 class="header-title m-t-0 m-b-10">PAID USERS</h4>

                            <div id="paid-user-pie" style="position: absolute;left: 300px;bottom: 138px;"></div>
                            <div class="col-md-3">

                                <h2 id='paid-users'></h2>


                            </div>

                            <div class="col-md-9 ">

                                <div class="row">
                                    <div class="col-md-12">

                                        <div id="paid-user-chart-line"
                                             style="height: 200px; width: 100%; position: absolute "></div>
                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3">
                        <div class="card-box">

                            <h4 class="header-title m-t-0 m-b-30">iOS</h4>

                            <div class="widget-box-2">
                                <div class="widget-detail-2">

                                    <div class="row">

                                        <div class="col-md-4" style="padding-top: 50px;">
                                            <div id="iOS-reg-conversion-line"></div>

                                        </div>

                                        <div class="col-md-4">

                                            <h2 style="text-align: center" id='iOS-reg'></h2>
                                            <p style="text-align: center"> Reg to Dau</p>
                                            <h2 style="text-align: center" id='iOS-new-dau'></h2>


                                        </div>


                                        <div class="col-md-4" style=" padding-top: 20px; ">

                                            <input id='iOS-reg-conversion' class="knob" data-width="80"
                                                   data-height="80"
                                                   data-fgcolor="#dc3912" data-bgcolor="rgba(255, 91, 91, 0.2)"
                                                   value="80"
                                                   data-skin="tron"
                                                   data-angleoffset="180" data-readonly="true" data-thickness=".15">
                                        </div>


                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-box">

                            <h4 class="header-title m-t-0 m-b-30">Android</h4>

                            <div class="widget-box-2">
                                <div class="widget-detail-2">

                                    <div class="row">

                                        <div class="col-md-4" style="padding-top: 50px;">
                                            <div id="android-reg-conversion-line"></div>

                                        </div>

                                        <div class="col-md-4">

                                            <h2 style="text-align: center" id='android-reg'></h2>
                                            <p style="text-align: center"> Reg to Dau</p>
                                            <h2 style="text-align: center" id='android-new-dau'></h2>


                                        </div>


                                        <div class="col-md-4" style=" padding-top: 20px; ">

                                            <input id='android-reg-conversion' class="knob" data-width="80"
                                                   data-height="80"
                                                   data-fgcolor="#188ae2" data-bgcolor="rgba(24, 138, 226, 0.2)"
                                                   value="80"
                                                   data-skin="tron"
                                                   data-angleoffset="180" data-readonly="true" data-thickness=".15">
                                        </div>


                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-box">

                            <h4 class="header-title m-t-0 m-b-30">Web</h4>

                            <div class="widget-box-2">
                                <div class="widget-detail-2">

                                    <div class="row">

                                        <div class="col-md-4" style="padding-top: 50px;">
                                            <div id="web-reg-conversion-line"></div>

                                        </div>

                                        <div class="col-md-4">

                                            <h2 style="text-align: center" id='web-reg'></h2>
                                            <p style="text-align: center"> Reg to Dau</p>
                                            <h2 style="text-align: center" id='web-new-dau'></h2>


                                        </div>


                                        <div class="col-md-4" style=" padding-top: 20px; ">
                                            <input id="web-reg-conversion" class="knob" data-width="80"
                                                   data-height="80"
                                                   data-fgcolor="#10c469" data-bgcolor="rgba(16, 196, 105, 0.2)"
                                                   data-skin="tron"
                                                   data-angleoffset="180" data-readonly="true" data-thickness=".15">

                                        </div>


                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-box">

                            <h4 class="header-title m-t-0 m-b-30">Facebook Game</h4>

                            <div class="widget-box-2">
                                <div class="widget-detail-2">

                                    <div class="row">

                                        <div class="col-md-4" style="padding-top: 50px;">
                                            <div id="facebook-reg-conversion-line"></div>

                                        </div>

                                        <div class="col-md-4">

                                            <h2 style="text-align: center" id='facebook-reg'></h2>
                                            <p style="text-align: center"> Reg to Dau</p>
                                            <h2 style="text-align: center" id='facebook-new-dau'></h2>


                                        </div>


                                        <div class="col-md-4" style=" padding-top: 20px; ">
                                            <input id="facebook-reg-conversion" class="knob" data-width="80"
                                                   data-height="80"
                                                   data-fgcolor="#ff9900" data-bgcolor="rgba(249, 200, 81, 0.2)"
                                                   value="60"
                                                   data-skin="tron"
                                                   data-angleoffset="180" data-readonly="true" data-thickness=".15">
                                        </div>


                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>


        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.5.2/echarts.common.min.js"></script>


{% assets "flask_clock_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}

{% assets "flask_rotate_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}

<script>


    /* clock */
    $('#clock_1').jClocksGMT(
        {
            title: 'Beijing',
            offset: '+8',
            skin: 1,
            date: true,
            dateformat: 'YYYY/MM/DD'

        });
    $('#clock_2').jClocksGMT(
        {
            title: ' California',
            offset: '-8',
            skin: 1,
            date: true,
            dateformat: 'YYYY/MM/DD'

        });
    $('#clock_3').jClocksGMT(
        {
            title: 'New York',
            offset: '-5',
            skin: 1,
            date: true,
            dateformat: 'YYYY/MM/DD'

        });

    /* plugin init */
    $(".knob").knob({
        'min': 0,
        'max': 1,
        'step': 0.01,

    });
    $(".knob").css({"margin-top": "-57px", "margin-left": "-54px"});


    var dau = document.getElementById("dau-chart-line");
    var newReg = document.getElementById("new-reg-chart-line");
    var paidUser = document.getElementById("paid-user-chart-line");
    var myDauChart = echarts.init(dau);
    var myNewRegChart = echarts.init(newReg);
    var myPaidUserChart = echarts.init(paidUser);

    var dauOption = {

        grid: {borderWidth: 0},
        xAxis:
            {
                axisLine: {
                    show: false,


                    lineStyle: {
                        color: '#2f3e47',
                        width: 1
                    }


                },
                splitLine: {
                    show: false
                },
                data: ['1', '2', '3', '4', '5', '6', '7']
            }
        ,
        yAxis:

            {
                axisLine: {
                    show: false,


                    lineStyle: {
                        color: '#2f3e47',

                        width: 1,
                    }


                },
                type: 'value',
                splitLine: {
                    show: false
                },
                min: 0, max: 15000
            }
        ,
        series: [
            {
                type: 'bar',
                data: [],

                itemStyle: {
                    normal: {
                        barBorderWidth: 12,
                        color: '#1ab394',

                        label: {
                            show: true,
                            position: 'top',
                            textStyle: {
                                fontSize: 13,
                                color: '#e5e6e8'
                            }
                        }
                    }
                }


            }

        ]
    };
    var newRegOption = {

        grid: {borderWidth: 0},
        xAxis:
            {

                axisLine: {
                    show: false,


                    lineStyle: {
                        color: '#2f3e47',

                        width: 1,
                    }


                },
                splitLine: {
                    show: false
                },
                data: ['1', '2', '3', '15', '5', '6', '7']
            }
        ,
        yAxis:

            {
                axisLine: {
                    show: false,


                    lineStyle: {
                        color: '#2f3e47',
                        width: 1,
                    }


                },
                type: 'value',
                splitLine: {
                    show: false
                },

                min: 0, max: 2500
            }
        ,
        series: [
            {
                type: 'bar',
                data: [],
                itemStyle: {
                    normal: {
                        barBorderWidth: 12,
                        color: '#1ab394',

                        label: {
                            show: true,
                            position: 'top',
                            textStyle: {
                                fontSize: 13,
                                color: '#e5e6e8'
                            }
                        }
                    }
                }


            }

        ]
    };
    var paidUseroption = {

        grid: {borderWidth: 0},
        xAxis:
            {
                axisLine: {
                    show: false,


                    lineStyle: {
                        color: '#2f3e47',

                        width: 1
                    }
                },
                splitLine: {
                    show: false
                },
                data: ['1', '2', '3', '4', '5', '6', '7']
            }
        ,
        yAxis:

            {
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#2f3e47',

                        width: 1
                    }

                },
                type: 'value',
                splitLine: {
                    show: false
                },

                min: 0, max: 300
            }
        ,
        series: [
            {
                type: 'bar',
                data: [],
                itemStyle: {
                    normal: {
                        barBorderWidth: 12,
                        color: '#1ab394',

                        label: {
                            show: true,
                            position: 'top',
                            textStyle: {
                                fontSize: 13,
                                color: '#e5e6e8'
                            }
                        }
                    }
                }


            }

        ]
    };


    $("#new-reg-chart-line").css({"top": "25px"});
    $("#paid-user-chart-line").css({"top": "25px"});
    $("#dau-chart-line").css({"top": "25px"});


    ////////////////////
    function refreshMetrics() {
        /*summary data */
        $.ajax({
            type: 'GET',
            url: '{{ url_for('wallboard.visualization_summary_data') }}',
            dataType: "json",
            success: function (result) {

                $('#summary-new-registration').text(result.today_data[1]);
                $('#summary-new-dau').text(result.today_data[2]);
                $('#summary-new-reg-to-dau').text(result.today_data[3]);
                $('#summary-game-dau').text(result.today_data[4]);
                $('#summary-return-dau').text(result.today_data[5]);
                $('#summary-return-dau-rate').text(result.today_data[6]);
                $('#summary-paid-players').text(result.today_data[7]);
                $('#summary-paid').text(result.today_data[8]);

                $('#summary-new-registration-yday').text(result.yesterday_data[1]);
                $('#summary-new-dau-yday').text(result.yesterday_data[2]);
                $('#summary-new-reg-to-dau-yday').text(result.yesterday_data[3]);
                $('#summary-game-dau-yday').text(result.yesterday_data[4]);
                $('#summary-return-dau-yday').text(result.yesterday_data[5]);
                $('#summary-return-dau-rate-yday').text(result.yesterday_data[6]);
                $('#summary-paid-players-yday').text(result.yesterday_data[7]);
                $('#summary-paid-yday').text(result.yesterday_data[8]);


                $("#new_reg").text(result.today_data[1]);
                $("#dau").text(result.today_data[4]);
                $("#paid-users").text(result.today_data[7]);

                $("#reg_to_dau").text(result.today_data[3]);
                $("#return_dau").text(result.today_data[5]);

            }
        });
        /*detailed data */
        $.ajax({
            type: 'GET',
            url: "{{ url_for('wallboard.metric_detail')}}",
            dataType: "json",
            success: function (result) {


                {% raw %}

                /* new_reg*/
                newRegOption.series[0].data = result.last_7_days_new_reg;
                /* dau*/
                dauOption.series[0].data = result.last_7_days_dau;
                /* paid*/
                paidUseroption.series[0].data = result.last_7_days_paid_users;


                myDauChart.setOption(dauOption, true);
                myNewRegChart.setOption(newRegOption, true);
                myPaidUserChart.setOption(paidUseroption, true);


                $('#new_reg_pie').sparkline(result.reg_platform_distribution, {
                    type: "pie",
                    tooltipFormat: '{{offset:offset}} ({{percent.1}}%)',
                    width: '100%',
                    height: '100',
                    sliceColors: ['#109618', '#dc3912', '#188ae2', '#ff9900'],


                    tooltipValueLookups: {
                        'offset': {

                            0: 'Web',
                            1: 'iOS',
                            2: 'Android',
                            3: 'Facebook Game'
                        }
                    }
                });


                $('#paid-user-pie').sparkline(result.paid_users_platform_distribution, {
                    type: "pie",
                    tooltipFormat: '{{offset:offset}} ({{percent.1}}%)',
                    width: '100%',
                    height: '100',
                    sliceColors: ['#109618', '#dc3912', '#188ae2', '#ff9900'],


                    tooltipValueLookups: {
                        'offset': {

                            0: 'Web',
                            1: 'iOS',
                            2: 'Android',
                            3: 'Facebook Game'
                        }
                    }
                });

                /* Web*/
                $('#web-reg').text(result.reg_platform_distribution[0]);
                $('#web-new-dau').text(result.new_dau_platform_distribution[0]);
                $("#web-reg-conversion").val(result.reg_conversion_for_platform['Web'][6]).trigger('change');
                $("#web-reg-conversion-line").sparkline(result.reg_conversion_for_platform['Web'], {
                    type: 'line',
                    width: '100%',
                    height: '60',
                    lineWidth: 3,
                    lineColor: ' #10c469',
                    fillColor: "#2f3e47"

                });

                /* iOS*/
                $('#iOS-reg').text(result.reg_platform_distribution[1]);
                $('#iOS-new-dau').text(result.new_dau_platform_distribution[1]);
                $("#iOS-reg-conversion").val(result.reg_conversion_for_platform['iOS'][6]).trigger('change');
                $("#iOS-reg-conversion-line").sparkline(result.reg_conversion_for_platform['iOS'], {
                    type: 'line',
                    width: '100%',
                    lineWidth: 3,
                    height: '60',
                    lineColor: '#dc3912',
                    fillColor: "#2f3e47"

                });

                /* android*/
                $('#android-reg').text(result.reg_platform_distribution[2]);
                $('#android-new-dau').text(result.new_dau_platform_distribution[2]);
                $("#android-reg-conversion").val(result.reg_conversion_for_platform['Android'][6]).trigger('change');
                $("#android-reg-conversion-line").sparkline(result.reg_conversion_for_platform['Android'], {

                    type: 'line',
                    width: '100%',
                    lineWidth: 3,
                    height: '60',
                    lineColor: '#188ae2',
                    fillColor: "#2f3e47"

                });

                /* facebook game*/
                $('#facebook-reg').text(result.reg_platform_distribution[3]);
                $('#facebook-new-dau').text(result.new_dau_platform_distribution[3]);
                $("#facebook-reg-conversion").val(result.reg_conversion_for_platform['Facebook Game'][6]).trigger('change');
                $("#facebook-reg-conversion-line").sparkline(result.reg_conversion_for_platform['Facebook Game'], {

                    type: 'line',
                    width: '100%',
                    lineWidth: 3,
                    height: '60',
                    lineColor: '#ff9900',
                    fillColor: "#2f3e47"

                });


                {% endraw %}


            }
        });
    }

    refreshMetrics();

    setInterval('refreshMetrics()', 2 * 60 * 1000);

</script>


</body>

</html>



