{% extends "layout/app.html" %}

{% block page_title %}Dashboard{% endblock %}

{% block head_tail %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" rel="stylesheet">

{% endblock %}

{% block main_content %}

    <section class="content-header">
        <h1>Dashboard</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow summary-box">
                    <div class="inner">
                        <h3><span id="summary-new-registration">--</span> <span class="summary-separater">/</span> <span
                                class="summary-yday" id="summary-new-registration-yday" title="Yesterday">--</span></h3>
                        <p>New Registration</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>

                    </div>

                    <a href="{{ url_for('report.new_registration') }}" class="small-box-footer">More info <i
                            class="fa fa-arrow-circle-right"></i></a>


                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua summary-box">
                    <div class="inner">
                        <h3><span id="summary-revenue">--</span> <span class="summary-separater">/</span> <span
                                class="summary-yday" id="summary-revenue-yday" title="Yesterday">--</span></h3>
                        <p>Revenue</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-cash"></i>
                    </div>

                    <a href="{{ url_for('report.revenue') }}" class="small-box-footer">More info <i
                            class="fa fa-arrow-circle-right"></i></a>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green summary-box">
                    <div class="inner">
                        <h3><span id="summary-game-dau">--</span> <span class="summary-separater">/</span> <span
                                class="summary-yday" id="summary-game-dau-yday" title="Yesterday">--</span></h3>
                        <p>Game DAU</p>
                    </div>
                    <div class="icon ">
                        <i class="fa fa-gamepad"></i>
                    </div>

                    <a href="{{ url_for('report.dau') }}" class="small-box-footer">More info <i
                            class="fa fa-arrow-circle-right"></i></a>


                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-teal summary-box">
                    <div class="inner">
                        <h3><span id="summary-new-registration-game-dau">--</span> <span
                                class="summary-separater">/</span> <span class="summary-yday"
                                                                         id="summary-new-registration-game-dau-yday"
                                                                         title="Yesterday">--</span></h3>
                        <p>New Reg Game DAU</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>

                    <a href="{{ url_for('report.new_game_dau') }}" class="small-box-footer">More info <i
                            class="fa fa-arrow-circle-right"></i></a>

                </div>
            </div>
            <!-- ./col -->
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-xs-12">
                <div class="tab-content">

                    <div class="tab-pane active">

                        <div id="ccu-container" style="min-width:400px;height:400px"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">Executive</a></li>
                        <li><a href="#tab_2" data-toggle="tab" aria-expanded="false">Marketing</a></li>
                        <li><a href="#tab_3" data-toggle="tab" aria-expanded="true">Financial</a></li>
                        <li><a href="#tab_4" data-toggle="tab" aria-expanded="true">Operational</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Date range</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right"
                                                   id="executive-date-range">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2" style=" display: none">
                                    <div class="form-group">
                                        <label>Game</label>
                                        <select class="form-control select2" style="width: 100%;" id="executive-game">
                                            <option selected="selected">All Game</option>
                                            <option>TexasPoker</option>
                                            <option>TimeSlots</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Platform</label>
                                        <select class="form-control select2" style="width: 100%;"
                                                id="executive-platform">
                                            <option selected="selected">All Platform</option>
                                            <option>Web</option>
                                            <option>iOS</option>
                                            <option>Android</option>
                                            <option>Facebook Game</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Report type</label>
                                        <select class="form-control select2" style="width: 100%;"
                                                id="executive-report-type">
                                            <option selected="selected">New Registration</option>
                                            <option>Game DAU</option>
                                            <option>New Reg Game DAU</option>
                                            <option>WAU</option>
                                            <option>MAU</option>
                                            <option>Revenue</option>
                                            <!--<option>avg Revenue Per DAU</option>
                                            <option>avg Revenue Per User</option>
                                            <option>avg Revenue Per Paid User</option>-->
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div style="margin-top: 24px;">
                                            <button type="button" class="btn btn-success" id="btn-executive-apply">
                                                Apply
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <canvas id="executive-chart" width="100%" height="42%"></canvas>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab_2">
                            Marketing
                        </div>
                        <div class="tab-pane" id="tab_3">
                            Financial
                        </div>
                        <div class="tab-pane" id="tab_4">
                            Operational
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block body_tail %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/highcharts.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/js/modules/exporting.js"></script>

    <script type="text/javascript">

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        function activeLastPointToolip(chart) {
            var points = chart.series[0].points;
            chart.tooltip.refresh(points[points.length - 1]);
        }


        $('#ccu-container').highcharts({
            chart: {
                type: 'area',
                animation: Highcharts.svg,
                marginRight: 10,
                events: {
                    load: function () {
                        var series = this.series[0], chart = this;

                        setInterval(function () {

                            function getNowCCUData() {
                                $.ajax({
                                    type: 'GET',
                                    url: "{{ url_for('dashboard.get_now_ccu')}}",
                                    dataType: "json",
                                    success: function (result) {
                                        var x = (new Date()).getTime();
                                        series.addPoint([x, result.now_ccu], true, true);
                                        activeLastPointToolip(chart)
                                    },
                                    error: function (xhr) {
                                    }
                                });

                            }

                            getNowCCUData()
                        }, 1000 * 60 * 2);

                    }
                }
            },
            title: {
                text: ' '
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                       return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 0);
                }
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'CCU',


                data: (function () {

                    function getTodayData() {
                        $.ajax({
                            type: 'GET',
                            async: false,
                            url: "{{ url_for('dashboard.get_today_ccu')}}",
                            dataType: "json",
                            success: function (result) {
                                var dataCCU = [];
                                var todayCCU = result.today_ccu;
                                var time = (new Date()).getTime();
                                for (i = -todayCCU.length; i < 0; i += 1) {
                                    dataCCU.push({
                                        x: time + i * 1000 * 2 * 60,
                                        y: todayCCU.pop()
                                    });
                                }
                                window.dataCCU = dataCCU
                            }

                        });

                    }

                    getTodayData();
                    return window.dataCCU;
                }())

            }]
        }, function (c) {
            activeLastPointToolip(c)
        });


        function getSummaryData(day) {
            $.ajax({
                type: 'GET',
                url: "{{ url_for('dashboard.visualization_summary_data')}}",
                data: {day: day},
                dataType: "json",
                success: function (result) {
                    if (day == 'today') {
                        $('#summary-new-registration').text(result.new_reg);
                        $('#summary-revenue').text(result.revenue);
                        $('#summary-game-dau').text(result.game_dau);
                        $('#summary-new-registration-game-dau').text(result.new_reg_game_dau);
                    } else if (day == 'yday') {
                        $('#summary-new-registration-yday').text(result.new_reg);
                        $('#summary-revenue-yday').text(result.revenue);
                        $('#summary-game-dau-yday').text(result.game_dau);
                        $('#summary-new-registration-game-dau-yday').text(result.new_reg_game_dau);
                    }
                },
                error: function (xhr) {

                }
            });
        }

        getSummaryData('today');
        getSummaryData('yday');

        setInterval('getSummaryData("today")', 10 * 60 * 1000);


        ////////////////////


        $(document).ready(function () {

            $(".select2").select2();

            $('#executive-date-range').daterangepicker({
                opens: 'right',
                showDropdowns: true,
                autoApply: true,
                locale: {
                    format: 'YYYY-MM-DD',
                    separator: '  -  '
                },
                ranges: {
                    // 'Today': [moment(), moment()],
                    // 'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Week': [moment().startOf('week'), moment().endOf('week')],
                    'Last Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(60, 'days'),
                endDate: moment(),
                minDate: moment().subtract(12, 'month'),
                maxDate: moment()
            });


            var chartColors = {
                red: 'rgb(255, 99, 132)',
                orange: 'rgb(255, 159, 64)',
                yellow: '#f39c12',
                aqua: '#00c0ef',
                green: '#00a65a',
                teal: '#39cccc',
                blue: 'rgb(54, 162, 235)',
                purple: 'rgb(153, 102, 255)',
                grey: 'rgb(231,233,237)'
            };

            var chartOptions = {
                responsive: true,
                title: {
                    display: false
                }
            };

            var executiveChartConfig = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        fill: false,
                    }]
                },
                options: chartOptions
            };

            var executiveChart = new Chart($('#executive-chart'), executiveChartConfig);

            ////////////////////

            var loadingOverlayConfig = {
                image: '',
                fontawesome: 'fa fa-spinner fa-spin',
                maxSize: "16px",
                minSize: "16px"
            };

            function startRequestLoading() {
                $('#btn-executive-apply').LoadingOverlay('show', loadingOverlayConfig);
            }

            function stopRequestLoading() {
                $('#btn-executive-apply').LoadingOverlay('hide', true);
            }

            function getExecutiveData(date_range, game, platform, report_type) {
                startRequestLoading();

                $.ajax({
                    type: 'GET',
                    url: "{{ url_for('dashboard.visualization_executive_data')}}",
                    data: {
                        date_range: date_range,
                        game: game,
                        platform: platform,
                        report_type: report_type
                    },
                    dataType: 'json',
                    success: function (result) {
                        stopRequestLoading();

                        executiveChartConfig.data.labels = result.labels;
                        executiveChartConfig.data.datasets[0].data = result.data;
                        executiveChartConfig.data.datasets[0].label = result.game + ' - ' + result.platform + ' - ' + report_type;

                        $('#executive-game').val(result.game).trigger('change');
                        $('#executive-platform').val(result.platform).trigger('change');

                        if (report_type == 'New Registration') {
                            executiveChartConfig.data.datasets[0].backgroundColor = chartColors.yellow;
                            executiveChartConfig.data.datasets[0].borderColor = chartColors.yellow;
                        } else if (report_type == 'Game DAU') {
                            executiveChartConfig.data.datasets[0].backgroundColor = chartColors.green;
                            executiveChartConfig.data.datasets[0].borderColor = chartColors.green;
                        } else if (report_type == 'New Reg Game DAU') {
                            executiveChartConfig.data.datasets[0].backgroundColor = chartColors.teal;
                            executiveChartConfig.data.datasets[0].borderColor = chartColors.teal;
                        }
                        executiveChart.update();
                    },
                    error: function (xhr) {
                        stopRequestLoading();
                    }
                });
            }

            $('#btn-executive-apply').click(function () {
                var date_range = $('#executive-date-range').val();
                var game = $('#executive-game').val();
                var platform = $('#executive-platform').val();
                var report_type = $('#executive-report-type').val();

                getExecutiveData(date_range, game, platform, report_type);
            });
            $('#btn-executive-apply').trigger('click');

        });
    </script>

{% endblock %}

