{% extends "layout/app.html" %}

{% block page_title %}

    {{ cohort.cohort_name }}

{% endblock %}

{% block head_tail %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/show-hint.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/wdt-emoji-bundle.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/emoji.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/wdt-emoji-bundle.min.js"></script>
    <style>
        #message-title {
            position: absolute;
            top: 48px;
            left: 20px;
            width: 350px;
            font-size: 15px;
            font-weight: bold;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        }

        #message {
            position: absolute;
            top: 69px;
            left: 20px;
            width: 350px;
            font-size: 15px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        }

        img {

            height: 178px;
            width: 382px
        }

        #mobile-message-wrapper {

            position: absolute;
            margin-top: 35px;
            margin-left: 55px;

        }
    </style>

{% endblock %}

{% block main_content %}

    <section class="content-header">
        <h1 id="cohort-title" data-cohort-id="{{ cohort.id }}">

            {{ cohort.cohort_name }}


        </h1>
    </section>
    <section class="content">
        <div class="box box-danger" id="editor-box">
            <div class="box-header with-border">
                <h3 class="box-title"> Cohort Options </h3>

                <a style="margin-left: 10px" class="btn btn-primary pull-right"
                   href="/promotion/mobile/cohorts/display">
                    <i class="fa fa-reply"></i> </a>


                <a id='cohort-save' class="btn btn-primary pull-right" style="display: none"> <i
                        class="fa fa-save"></i>
                    Save </a>

                <a id='cohort-edit' class="btn btn-primary pull-right" style="display: inline-block"> <i
                        class="fa fa-edit"></i> Edit </a>


            </div>
            <fieldset id="disable-me">

                <div class="box-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cohort Name</label>
                                <input id="cohort-name" type="text" class="form-control" placeholder="Enter ...">
                            </div>



                            <div class="form-group">
                                <label>Category</label>
                                <input id="category" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea id='cohort-description' class="form-control" rows="12"
                                          style="font-size: 16px"></textarea>


                            </div>


                            <div class="form-group">
                                <label> Scheduled At (EST) </label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input name="scheduled" type="text" class="form-control" id="send-scheduled-at">
                                </div>
                            </div>

                            <div class="form-group">

                                <label>Rearm/Hour </label>
                                <input class="form-control" id="rearm" type="number" min="0">

                            </div>
                            <div class="form-group">
                                <label>Maximum Count</label>
                                <input id="maximum-count" class="form-control input-sm" type="number" min="0">
                            </div>
                            <div class="form-group">
                                <input id="is-important" type="checkbox">
                                <label>Important</label>
                            </div>


                        </div>


                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Recipients</label>
                                <select class="form-control select2" style="width: 20%; margin-bottom: 10px"
                                        id="database-picker">
                                    <option value="bi" selected="selected">DB: BI</option>
                                    <option value="bi_lifetime">DB: BI_LIFETIME</option>
                                    <option value="bi_promotion">DB: BI_PROMOTION</option>
                                    <option value="orig_wpt">DB: WPT</option>
                                    <option value="orig_wpt_ods">DB: WPT ODS</option>
                                    <option value="orig_wpt_mall">DB: WPT MALL</option>
                                    <option value="wpt_log">DB: WPT Log</option>
                                    <option value="orig_wpt_master_points">DB: MASTER POINTS</option>
                                </select>

                                <textarea id="sql-editor" class="form-control"
                                          placeholder="Enter your query"></textarea>

                            </div>


                            <div class="row">


                                <div class="col-md-4" style=" margin-top: 44px; ">


                                    <div class="form-group">

                                        <label>Event Type </label>
                                        <select class="form-control select2" style="width: 100%;" id="event-type">
                                            <option value="-1" selected="selected">Default</option>
                                            <option value="0">Lucky Spin Click</option>
                                        </select>


                                    </div>

                                    <div class="form-group">

                                        <label>Title </label>
                                        <input id="title"
                                               class="form-control wdt-emoji-bundle-enabled wdt-emoji-open-on-colon">

                                    </div>
                                    <div class="form-group">

                                        <label>Body</label>
                                        <textarea id="message-editor" name="comment" maxlength="150"
                                                  class="form-control wdt-emoji-bundle-enabled wdt-emoji-open-on-colon "
                                                  rows="4">

                                        </textarea>


                                    </div>
                                </div>

                                <div class="col-md-8" style=" margin-top: 70px; ">


                                    <div class="form-group">


                                        <div id="mobile-message-wrapper">


                                            <img style="display: inline-block"
                                                 src="/static/images/mobile_message_template.png">

                                            <span id="message" style="position: absolute"></span>
                                            <span id="message-title" style="position: absolute">

                                        </span>


                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </fieldset>


        </div>
        <div class="wdt-emoji-popup">
            <a href="#" class="wdt-emoji-popup-mobile-closer"> &times; </a>
            <div class="wdt-emoji-menu-content">
                <div id="wdt-emoji-menu-header">
                    <a class="wdt-emoji-tab active" data-group-name="Recent"></a>
                    <a class="wdt-emoji-tab" data-group-name="People"></a>
                    <a class="wdt-emoji-tab" data-group-name="Nature"></a>
                    <a class="wdt-emoji-tab" data-group-name="Foods"></a>
                    <a class="wdt-emoji-tab" data-group-name="Activity"></a>
                    <a class="wdt-emoji-tab" data-group-name="Places"></a>
                    <a class="wdt-emoji-tab" data-group-name="Objects"></a>
                    <a class="wdt-emoji-tab" data-group-name="Symbols"></a>
                    <a class="wdt-emoji-tab" data-group-name="Flags"></a>
                    <a class="wdt-emoji-tab" data-group-name="Custom"></a>
                </div>
                <div class="wdt-emoji-scroll-wrapper">
                    <div id="wdt-emoji-menu-items">
                        <input id="wdt-emoji-search" type="text" placeholder="Search">
                        <h3 id="wdt-emoji-search-result-title">Search Results</h3>
                        <div class="wdt-emoji-sections"></div>
                        <div id="wdt-emoji-no-result">No emoji found</div>
                    </div>
                </div>
                <div id="wdt-emoji-footer">
                    <div id="wdt-emoji-preview">
                        <span id="wdt-emoji-preview-img"></span>
                        <div id="wdt-emoji-preview-text">
                            <span id="wdt-emoji-preview-name"></span><br>
                            <span id="wdt-emoji-preview-aliases"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="nav-tabs-custom" id="tabs-box">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-history" data-toggle="tab" aria-expanded="true"> History </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active table-responsive" id="tab-history">
                    <table id="history-table" class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="999">
                                <div class="text-center">
                                    There are no items in the history table.
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <pre id="my-sql" style="display: none">{{ sql }}</pre>
        <script type="text/javascript">
            (function () {
                wdtEmojiBundle.defaults.emojiSheets = {
                    'apple': 'https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/sheets/sheet_apple_64_indexed_128.png',

                };
                wdtEmojiBundle.init('.wdt-emoji-bundle-enabled');
                wdtEmojiBundle.changeType('apple');
                // ------------------------------------------------------
                document.getElementById('message-editor').addEventListener('input', function () {

                    var content = this.value;

                    var content = content.replace(/\n/g, '<br/>')

                    document.getElementById('message').innerHTML = wdtEmojiBundle.render(content);
                });
                document.getElementById('title').addEventListener('input', function () {


                    document.getElementById('message-title').innerHTML = wdtEmojiBundle.render(this.value);
                });
            })();
        </script>
    </section>

{% endblock %}

{% block body_tail %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/mode/sql/sql.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/sql-hint.min.js"
            type="text/javascript"></script>

    <script>

        $(document).ready(function () {


            /////////////////////Utils//////////////////////////////////

            $(".select2").select2();
            var loadingOverlayConfig = {
                image: '',
                fontawesome: 'fa fa-spinner fa-spin',
                maxSize: "26px",
                minSize: "26px"
            };

            function startRequestLoading() {
                $('#editor-box').LoadingOverlay('show', loadingOverlayConfig);
            }

            function stopRequestLoading() {
                $('#editor-box').LoadingOverlay('hide', true);
            }

            $('#send-scheduled-at').daterangepicker({
                opens: 'right',
                showDropdowns: true,
                autoApply: true,
                singleDatePicker: true,
                timePicker: true,
                timePicker24Hour: true,
                locale: {
                    format: 'YYYY-MM-DD HH:mm:ss',
                },
                minDate: moment()
            });
            var editor = CodeMirror.fromTextArea(document.getElementById('sql-editor'), {
                mode: 'text/x-mysql',
                lineNumbers: true,
                matchBrackets: true,
                autofocus: true,
                indentUnit: 4,
                extraKeys: {"Ctrl": "autocomplete"},
                hint: CodeMirror.hint.sql,
                hintOptions: {
                    tables: {
                        bi_user_currency: {{ get_columns_of_table('app.models.bi', 'BIUserCurrency') | safe }},
                        bi_user: {{ get_columns_of_table('app.models.bi', 'BIUser') | safe }}
                    }
                }
            });

            //////////////////History//////////////////////////////////////
            var historyTableColumns = ['scheduled_at', 'status'];

            function getLatestCohortHistories() {


                $.ajax({
                    type: 'GET',
                    url: "/promotion/mobile/cohort/" + '{{ cohort.cohort_name }}' + "/latest/histories",
                    dataType: "json",
                    success: function (result) {

                        var headers = [];

                        headers.push('<tr>');

                        for (var i in historyTableColumns) {
                            var column = historyTableColumns[i];
                            headers.push('<th>' + column + '</th>')
                        }

                        headers.push('<th style="width: 128px;"></th>');
                        headers.push('</tr>');


                        $('#history-table thead').html(headers.join());

                        var rows = [];

                        for (var j in result.data) {

                            var row = result.data[j];
                            rows.push('<tr>');

                            for (var i in historyTableColumns) {

                                var column = historyTableColumns[i];

                                if (column === 'status') {

                                    if (row[column] === 'failed') {
                                        rows.push('<td>' + '<span class="text-red">Prepare failed</span><br />' + '</td>');
                                    } else if (row[column] === 'pending') {
                                        rows.push('<td>' +
                                            '<span class="text-muted">Pending</span><br />' +
                                            '</td>');
                                    } else if (row[column] === 'preparing') {
                                        rows.push('<td>' +
                                            '<span class="text-muted">Preparing</span><br />' +
                                            '</td>');
                                    } else {
                                        rows.push('<td>' +
                                            '<span>Total: ' + row[column].total_count + '</span><br />' +
                                            '<span class="text-green">Succeed: ' + row[column].succeed_count + '</span><br/>' +
                                            '<span class="text-red">Failed: ' + row[column].failed_count + '</span>' + '</td>'
                                        );
                                    }
                                }
                                else {
                                    rows.push('<td>' + row[column] + '</td>');
                                }
                            }

                            rows.push('</tr>');
                        }

                        if (rows.length > 0) {
                            $('#history-table tbody').html(rows.join());
                        }
                    },
                    error: function (xhr) {

                    }
                });
            }

            getLatestCohortHistories();

            ///////////////////Render Cohort content////////////////////////////////////////

            editor.setValue($('#my-sql').text());

            {% if cohort.is_important %}
                $('#is-important').prop('checked', true);
            {% endif %}
            $('#database-picker').val('{{ database }}').trigger('change');
            $('#event-type').val('{{ event_type }}').trigger('change');

            $('#cohort-name').val("{{ cohort.cohort_name  }}");
            $('#category').val("{{ cohort.category  }}");
            $('#cohort-title').text($('#cohort-name').val());
            $('#cohort-description').val("{{ cohort.description }}");


            $('#send-scheduled-at').val("{{ cohort.push.scheduled_at }}");
            $('#maximum-count').val("{{cohort.maximum_count }}");
            $('#rearm').val("{{ cohort.rearm }}");


            $("#disable-me").attr("disabled", "disabled");
            $('#database-picker').select2('enable', false);
            $('#event-type').select2('enable', false);
            $('#cohort-edit').show();


            /////////////////render message ///////////////////////////


            var body = "{{ body }}";
            var body_output = body.replace(/\n/g, '<br/>');
            var title = "{{ title }}";
            var title_output = title.replace(/\n/g, '<br/>');
            $('#message-editor').html(body);
            $('#title').val(title);


            {#            if (title !== null) {#}
            document.getElementById('message-title').innerHTML = wdtEmojiBundle.render(title_output);
            {#            }#}
            document.getElementById('message').innerHTML = wdtEmojiBundle.render(body_output);


            ////////////////////////////////////////////////////////////

            $('#cohort-save').on('click', function () {


                if (editor.getValue().length === 0

                    || $('#cohort-name').val() === ""
                    || $('#maximum-count').val() === ""
                    || $('#message').html() === ""
                    || $('#send-scheduled-at').val() === ""
                    || $('#rearm').val() === ""
                    || $('#valid-count').val() === "") return;


                startRequestLoading();
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('promotion.mobile_operate_cohort') }}",
                    data: {


                        cohort_name: $('#cohort-name').val(),
                        description: $('#cohort-description').val(),
                        rearm: $('#rearm').val(),
                        category: $('#category').val(),
                        maximum_count: $('#maximum-count').val(),
                        body: $('#message-editor').val(),
                        title: $('#title').val(),
                        event_type: $('#event-type').find(":selected").val(),
                        is_important: $('#is-important').is(":checked"),
                        scheduled_at: $('#send-scheduled-at').val(),
                        sql: editor.getValue(),
                        database: $('#database-picker').find(":selected").val()
                    },
                    dataType: 'json',
                    success: function (result) {


                        stopRequestLoading();
                        $('#cohort-save').hide();
                        $('#event-type').select2('enable', false);
                        $("#disable-me").attr("disabled", "disabled");
                        $('#database-picker').select2('enable', false);
                        $('#cohort-edit').show();
                        $('#cohort-title').text($('#cohort-name').val());

                    },
                    error: function (xhr) {
                        stopRequestLoading();
                        alert(JSON.parse(xhr.responseText).error)

                    }
                })


            });
            $('#cohort-edit').on('click', function () {

                var cohortId = $('#cohort-title').attr("data-cohort-id");

                $(this).hide();
                $('#cohort-save').show();
                $('#database-picker').select2('enable');
                $('#disable-me').removeAttr('disabled');
                $('#event-type').select2('enable');


                $.ajax({
                    type: 'PUT',
                    url: "{{ url_for('promotion.mobile_operate_cohort') }}",
                    data: {cohort_id: cohortId, operate: 'pause'},
                    dataType: 'json',
                    success: function (result) {
                    },
                    error: function (xhr) {
                        alert(JSON.parse(xhr.responseText).error)
                    }
                })

            });


        });

    </script>

{% endblock %}