{% extends "layout/app.html" %}

{% block page_title %}Sending Email{% endblock %}

{% block head_tail %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css"
          rel="stylesheet" xmlns:>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">


{% endblock %}

{% block main_content %}

    <section class="content-header">

        <h1><i class="fa  fa-envelope  fa-1x"></i> &nbsp; Sending Email Notification </h1>
    </section>

    {% if based_query %}

        <div class="pad margin no-print">
            <div class="callout callout-info"
                 style="margin-left: -5px; margin-right: -5px; margin-bottom: 0!important;">
                <h4>Sending Email to users based query blew:</h4>
                <pre><strong>{{ based_query.sql }}</strong></pre>
            </div>
        </div>

    {% else %}

        <div class="pad margin no-print">
            <div class="callout callout-danger"
                 style="margin-left: -5px; margin-right: -5px; margin-bottom: 0!important;">

                <div id="query_info">
                    <h4 style="margin-bottom: 0!important;">Sending email to ALL users in this screen.</h4>
                </div>
            </div>
        </div>

    {% endif %}

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary" id="editor-box">
                    <div class="box-header" style="padding-bottom: 2px;">
                        <div class="row" id="campaign_form">

                            <div class="col-md-2 ">


                                <div class="form-group">


                                    <label>Status</label>
                                    <select name="Status" class="form-control select2" style="width: 100%;"
                                            id="sendgrid-status">
                                        <option value="All" selected="selected">All</option>
                                        {% for status in statuses %}
                                            <option>{{ status }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Campaign</label>
                                    <select name="campaign" class="form-control select2" style="width: 100%;"
                                            id="sendgrid-campaign">
                                        {% for campaign in campaigns %}
                                            <option value="{{ campaign['id'] }}">{{ campaign['title'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>From Sender</label>

                                    <select name="Sender" class="form-control select2" style="width: 100%;"
                                            id="sendgrid-sender" placeholder="Select Sender">
                                        {% for sender in senders %}
                                            <option value="{{ sender['id'] }}">{{ sender['nickname'] }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>


                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>Scheduled at (EST)</label>
                                    <div class="input-group" style="width: 100%;">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input name="scheduled" type="text" class="form-control"
                                               id="send-scheduled-at">
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">


                            {% if not  based_query %}

                                {% include  "_user_clustering.html" %}


                            {% endif %}




                            <div class="col-md-3 ">

                                <div class="form-group">

                                    <label>Email Subject</label>
                                    <input name="emailSubject" type="text" class="form-control"
                                           placeholder="Enter email subject" id='sendgrid-email-subject'>
                                </div>

                            </div>


                            <div class="col-md-4">

                                <label> Send Test Email </label>


                                <div class="form-group input-group">
                                    <input name="testEmail" type="text" class="form-control" spellcheck="false"
                                           data-toggle="tooltip" data-animation="false"
                                           data-title="Enter up to 10 addresses at once, separated by a comma."
                                           id="sendgrid-test-email">
                                    <span class="input-group-addon " id="btn-send-test-email">
                                            <a>  <i class="fa fa-paper-plane"></i> </a>
                                        </span>
                                </div>
                            </div>


                            <div class="col-md-3">

                                <div class="form-group">
                                    <div style="margin-top: 24px;">


                                        <button type="submit" class="btn btn-success" id="btn-send-campaign">
                                            <i class="fa fa-envelope"></i> &nbsp &nbsp Send &nbsp Campaign &nbsp
                                        </button>
                                    </div>


                                </div>
                            </div>


                        </div>


                    </div>

                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" style="margin-bottom: 0; overflow: hidden;"
                             id="message-editor">
                            <iframe id="sendgrid-preview" src="about:blank" width="100%" height="590px"
                                    style="border: 1px solid #DDD;">

                                {% if campaigns %}

                                    {{ campaigns[0]['html_content'] | safe }}

                                {% endif %}

                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-tabs-custom" id="tabs-box">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-history" data-toggle="tab" aria-expanded="true"> History </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active table-responsive" id="tab-history">
                    <table id="history-table" class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="999">
                                <div class="text-center">
                                    There are no items in the history table.
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block body_tail %}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    {% if not  based_query %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.query-builder/2.4.3/js/query-builder.standalone.min.js"></script>
        <script src="https://cdn.jsdelivr.net/sql-parser/0.4.1/sql-parser.js"></script>
        <script>

            var userRulesOption = {
                condition: 'OR',
                rules: [{
                    id: 'Registered'
                }]
            };

            $('#builder-select-users').queryBuilder({

                plugins: [
                    'bt-tooltip-errors',
                    'bt-checkbox'
                ],

                filters: [{
                    id: 'Registered',
                    field: 'reg_time',
                    label: 'Registered',
                    type: 'date',
                    validation: {
                        format: 'YYYY-MM-DD'
                    },
                    plugin: 'datepicker',
                    plugin_config: {
                        format: 'yyyy-mm-dd',
                        todayBtn: 'linked',
                        todayHighlight: true,
                        autoclose: true
                    },
                    operators: ['less', 'equal', 'greater', 'between']

                },

                    {
                        id: 'X_days_inactive',
                        field: 'x_days_inactive',
                        label: 'X Days Inactive',
                        type: 'integer',
                        input: 'number',
                        operators: ['equal']
                    },

                    {
                        id: 'average_active_days_weekly',
                        field: 'average_active_days_weekly',
                        label: 'Average Active Days Weekly',
                        type: 'integer',
                        operators: ['less', 'equal', 'greater', 'between'],
                        validation: {
                            min: 0,
                            max: 7
                        },
                        plugin: 'slider',

                        plugin_config: {
                            min: 1,
                            max: 7,
                            value: 0,
                            tooltip_position: 'bottom',
                            tooltip: 'always'


                        },
                        valueSetter: function (rule, value) {
                            if (rule.operator.nb_inputs == 1) value = [value];
                            rule.$el.find('.rule-value-container input').each(function (i) {
                                $(this).slider('setValue', value[i] || 0);
                            });
                        },
                        valueGetter: function (rule) {
                            var value = [];
                            rule.$el.find('.rule-value-container input').each(function () {
                                value.push($(this).slider('getValue'));
                            });
                            return rule.operator.nb_inputs == 1 ? value[0] : value;
                        }
                    },

                    {
                        id: 'average_active_days_monthly',
                        field: 'average_active_days_monthly',
                        label: 'Average Active Days Monthly',
                        type: 'integer',
                        operators: ['less', 'equal', 'greater', 'between'],

                        validation: {
                            min: 0,
                            max: 30
                        },
                        plugin: 'slider',
                        plugin_config: {
                            min: 1,
                            max: 30,
                            value: 0,

                            tooltip_position: 'bottom',
                            tooltip: 'always'

                        },
                        valueSetter: function (rule, value) {
                            if (rule.operator.nb_inputs == 1) value = [value];
                            rule.$el.find('.rule-value-container input').each(function (i) {
                                $(this).slider('setValue', value[i] || 0);
                            });
                        },
                        valueGetter: function (rule) {
                            var value = [];
                            rule.$el.find('.rule-value-container input').each(function () {
                                value.push($(this).slider('getValue'));
                            });
                            return rule.operator.nb_inputs == 1 ? value[0] : value;
                        }

                    },

                    {
                        id: 'purchased',
                        field: 'purchased',
                        label: 'Purchased',
                        type: 'integer',
                        input: 'radio',
                        values: {
                            0: 'Never Purchased',
                            1: 'Purchased'
                        },
                        colors: {
                            1: 'success',
                            0: 'danger'
                        },

                        operators: ['equal'],
                    },


                    {
                        id: 'average_purchase_amount_weekly',
                        field: 'average_purchase_amount_weekly',
                        label: 'Average Purchase Amount Weekly',
                        type: 'double',

                        operators: ['less', 'equal', 'greater', 'between'],
                        validation: {
                            min: 0,
                            max: 1000000
                        },
                        plugin: 'slider',
                        plugin_config: {

                            min: 1,
                            max: 10000,
                            value: 0,
                            tooltip_position: 'bottom',
                            tooltip: 'always'


                        },
                        valueSetter: function (rule, value) {
                            if (rule.operator.nb_inputs == 1) value = [value];
                            rule.$el.find('.rule-value-container input').each(function (i) {
                                $(this).slider('setValue', value[i] || 0);
                            });
                        },
                        valueGetter: function (rule) {
                            var value = [];
                            rule.$el.find('.rule-value-container input').each(function () {
                                value.push($(this).slider('getValue'));
                            });
                            return rule.operator.nb_inputs == 1 ? value[0] : value;
                        }
                    },

                    {
                        id: 'average_purchase_amount_monthly',
                        field: 'average_purchase_amount_monthly',
                        label: 'Average Purchase Amount Monthly',
                        type: 'double',

                        operators: ['less', 'equal', 'greater', 'between'],
                        validation: {
                            min: 0,
                            max: 1000000
                        },
                        plugin: 'slider',
                        plugin_config: {

                            min: 1,
                            max: 10000,
                            value: 0,
                            tooltip_position: 'bottom',
                            tooltip: 'always'

                        },
                        valueSetter: function (rule, value) {
                            if (rule.operator.nb_inputs == 1) value = [value];
                            rule.$el.find('.rule-value-container input').each(function (i) {
                                $(this).slider('setValue', value[i] || 0);
                            });
                        },
                        valueGetter: function (rule) {
                            var value = [];
                            rule.$el.find('.rule-value-container input').each(function () {
                                value.push($(this).slider('getValue'));
                            });
                            return rule.operator.nb_inputs == 1 ? value[0] : value;
                        }
                    },


                    {
                        id: 'average_purchase_count_monthly',
                        field: 'average_purchase_count_monthly',
                        label: 'Average Purchase Count Monthly',
                        type: 'double',

                        operators: ['less', 'equal', 'greater', 'between'],
                        validation: {
                            min: 0,
                            max: 1000000
                        },
                        plugin: 'slider',
                        plugin_config: {

                            min: 1,
                            max: 30,
                            value: 0,

                            tooltip_position: 'bottom',

                            tooltip: 'always'


                        },
                        valueSetter: function (rule, value) {
                            if (rule.operator.nb_inputs == 1) value = [value];
                            rule.$el.find('.rule-value-container input').each(function (i) {
                                $(this).slider('setValue', value[i] || 0);
                            });
                        },
                        valueGetter: function (rule) {
                            var value = [];
                            rule.$el.find('.rule-value-container input').each(function () {
                                value.push($(this).slider('getValue'));
                            });
                            return rule.operator.nb_inputs == 1 ? value[0] : value;
                        }
                    },

                    {
                        id: 'average_purchase_count_weekly',
                        field: 'average_purchase_count_weekly',
                        label: 'Average Purchase Count Weekly',
                        operators: ['less', 'equal', 'greater', 'between'],
                        validation: {
                            min: 0,
                            max: 1000000
                        },
                        plugin: 'slider',
                        plugin_config: {
                            min: 1,
                            max: 7,
                            value: 0,
                            tooltip_position: 'bottom',
                            tooltip: 'always'

                        },
                        valueSetter: function (rule, value) {
                            if (rule.operator.nb_inputs == 1) value = [value];
                            rule.$el.find('.rule-value-container input').each(function (i) {
                                $(this).slider('setValue', value[i] || 0);
                            });
                        },
                        valueGetter: function (rule) {
                            var value = [];
                            rule.$el.find('.rule-value-container input').each(function () {
                                value.push($(this).slider('getValue'));
                            });
                            return rule.operator.nb_inputs == 1 ? value[0] : value;
                        }
                    }

                ],

                rules: userRulesOption
            });

            $('.parse-json').on('click', function () {


                var usersRules = $('#builder-select-users').queryBuilder('getRules');
                var queryInfo = $('#builder-select-users').queryBuilder('getSQL');


                if (!$.isEmptyObject(usersRules)) {
                    $('#close').trigger('click')
                }

                $('#query_info').html("<h4>Sending Email to users based rules blew:</h4> <pre>" + "<strong>" + queryInfo.sql + "</strong>" + "</pre>");

                $('.callout-danger').addClass('callout-info')

            });

        </script>

    {% endif %}

    <script type="text/javascript">

        var campaigns = {{campaigns | safe}};

        var statuses = {{statuses | safe}};

        var currentCampaignId = null;

        var historyTableColumns = ['id', 'based_query_id', 'scheduled_at', 'requested_by', 'message', 'status', 'created_at'];

        $(document).ready(function () {

            $(".select2").select2();

            $("[data-toggle='tooltip']").tooltip();


            $('#send-scheduled-at').daterangepicker({
                opens: 'right',
                showDropdowns: true,
                autoApply: true,
                singleDatePicker: true,
                timePicker: true,
                timePicker24Hour: true,
                locale: {
                    format: 'YYYY-MM-DD HH:mm:ss',
                },
                minDate: moment()
            });


            var loadingOverlayConfig = {
                image: '',
                fontawesome: 'fa fa-spinner fa-spin',
                maxSize: "26px",
                minSize: "26px"
            }

            function startRequestLoading() {
                $('#editor-box').LoadingOverlay('show', loadingOverlayConfig);
            }

            function stopRequestLoading() {
                $('#editor-box').LoadingOverlay('hide', true);
            }

            ////////////////////

            function reloadEmailPreview(html_content) {
                var doc = document.getElementById('sendgrid-preview').contentWindow.document;
                doc.open();
                doc.write(html_content);
                doc.close();
            }

            function previewPlaceholderContent(subject) {
                return '<div style="margin: 0 auto; width: 200px; padding-top: 230px; font-size: 13px; color: #AAA; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-family: \'Source Sans Pro\',\'Helvetica Neue\',Helvetica,Arial,sans-serif; font-weight: 400;">' + subject + '</div>'
            }

            $('#sendgrid-status').on('change', function () {
                var currentStatus = $(this).find(":selected").val();
                var filteredCampaigns = [];

                if (currentStatus == 'All') {
                    filteredCampaigns = campaigns;
                } else {
                    $(campaigns).each(function (x) {
                        if (campaigns[x].status == currentStatus) {
                            filteredCampaigns.push(campaigns[x]);
                        }
                    });
                }

                $('#sendgrid-campaign').empty();
                $(filteredCampaigns).each(function (i, obj) {
                    $('#sendgrid-campaign').append('<option value="' + obj.id + '">' + obj.title + '</option>');
                });
                $('#sendgrid-campaign').trigger("change");
            });


            $('#sendgrid-campaign').on('change', function () {

                currentCampaignId = $(this).find(":selected").val();

                if (!!!currentCampaignId) {
                    reloadEmailPreview(previewPlaceholderContent('[ Nothing to preview ]'));
                    return;
                }

                reloadEmailPreview(previewPlaceholderContent('[ Rendering ]'));

                $.ajax({
                    type: 'GET',
                    url: '/promotion/email/campaign_html_content',
                    data: {
                        campaign_id: currentCampaignId
                    },
                    dataType: 'json',
                    success: function (result) {
                        stopRequestLoading();
                        reloadEmailPreview(result.html_content);
                    },
                    error: function (xhr) {
                        stopRequestLoading();
                    }
                });
            });


            $('#sendgrid-campaign').trigger("change");

            ////////////////////


            function getPushHistories() {
                $.ajax({
                    type: 'GET',
                    url: '/promotion/email/histories',
                    dataType: "json",
                    success: function (result) {

                        var headers = [];

                        headers.push('<tr>');

                        for (var i in historyTableColumns) {

                            var column = historyTableColumns[i];
                            if (column === 'based_query_id') {
                                column = 'based query';
                            } else if (column === 'requested_by') {
                                column = 'requested by';
                            } else if (column === 'message') {
                                column = 'subject';
                            }

                            headers.push('<th>' + column + '</th>')
                        }

                        headers.push('<th style="width: 128px;"></th>');

                        headers.push('</tr>');


                        $('#history-table thead').html(headers.join());

                        var rows = [];
                        for (var j in result.data) {

                            var row = result.data[j];
                            rows.push('<tr>');

                            for (var i in historyTableColumns) {

                                var column = historyTableColumns[i];

                                if (column === 'based_query_id') {

                                    if (row["based_query_sql"] !== null) {
                                        rows.push('<td><pre>' + row['based_query_sql'] + '</pre></td>');
                                    }
                                    else if (row["based_query_rules"] !== null) {
                                        rows.push('<td>' + row['based_query_rules'] + '</td>');
                                    }
                                    else {
                                        rows.push('<td></td>');

                                    }
                                } else if (column === 'status') {
                                    if (row[column] === 'failed') {
                                        rows.push('<td>' +
                                            '<span class="text-red">Prepare failed</span><br />' +
                                            '</td>');
                                    }
                                    else if (row[column] === 'waiting') {
                                        rows.push('<td>' +
                                            '<span class="text-muted">Waiting</span><br />' +
                                            '</td>');
                                    }


                                    else if (row[column] === 'preparing') {
                                        rows.push('<td>' +
                                            '<span class="text-muted">Preparing</span><br />' +
                                            '</td>');
                                    } else {
                                        rows.push('<td>' +
                                            '<span>Total: ' + row[column].total_count + '</span><br />' +
                                            '<span class="text-green">Succeed: ' + row[column].succeed_count + '</span><br />' +
                                            '<span class="text-red">Request failed: ' + row[column].request_failed_count + '</span><br />' +
                                            '</td>');
                                    }
                                } else if (column === 'message') {
                                    var emailTitle = JSON.parse(row[column]).subject;

                                    rows.push('<td>' + emailTitle + '</td>');

                                } else {
                                    rows.push('<td>' + row[column] + '</td>');
                                }
                            }

                            var btnGroup = '<td>' +
                                '<div class="btn-group">' +
                                '  <button type="button" class="btn btn-sm btn-success btn-retry" data-push-id="' + row['id'] + '"><i class="fa fa-toggle-right"></i> Retry request failed</button>' +
                                '</div>' +
                                '</td>';

                            rows.push(btnGroup);
                            rows.push('</tr>');
                        }

                        if (rows.length > 0) {
                            $('#history-table tbody').html(rows.join());
                        }
                    },
                    error: function (xhr) {

                    }
                });
            }

            getPushHistories();


            $("#btn-send-campaign").on("click", function () {


                var senderId = $("#sendgrid-sender").find(":selected").val();
                if (!!!currentCampaignId) return;

                var emailSubject = $('#sendgrid-email-subject').val();
                if (emailSubject.length === 0) return;
                var sqlQueryRules = null;


                {% if based_query %}
                    var basedQueryId = {{ based_query.id }};
                    var submitConfirmAlert = 'Do you want to send  email to users based query in the screen?';

                {% else %}
                    var basedQueryId = null;
                    var submitConfirmAlert = 'Do you want to send email to ALL users?';

                {% endif %}


                {% if  not based_query %}

                    var queryRules = $('#builder-select-users').queryBuilder('getRules');

                {% else %}

                    var queryRules = null;

                {% endif %}


                if (queryRules !== null) {

                    submitConfirmAlert = 'Do you want to send Email to users based rules in the screen?';
                    sqlQueryRules = $('#builder-select-users').queryBuilder('getSQL').sql;

                }

                swal({

                    title: "Are you sure?",
                    text: submitConfirmAlert,
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, send it!",

                }, function () {

                    {% if  based_query %}

                        var data = {
                            scheduled_at: $('#send-scheduled-at').val(),
                            campaign_id: currentCampaignId,
                            based_query_id: basedQueryId,
                            sender_id: senderId,
                            email_subject: emailSubject

                        };

                    {% else %}


                        var data = {
                            scheduled_at: $('#send-scheduled-at').val(),
                            campaign_id: currentCampaignId,
                            query_rules: JSON.stringify(queryRules),
                            query_rules_sql: sqlQueryRules,
                            sender_id: senderId,
                            email_subject: emailSubject

                        };

                    {% endif %}

                    startRequestLoading();
                    $.ajax({
                        type: 'POST',
                        url: '/promotion/email/sender_campaign',
                        data: data,
                        dataType: "json",
                        success: function (result) {
                            swal("Success!", "Your request has submitted successfully. Please wait background job to processing your campaign.", "success");
                            stopRequestLoading();
                            getPushHistories();
                        },
                        error: function (xhr) {
                            swal("Error", JSON.parse(xhr.responseText).error, "error");
                            stopRequestLoading();
                        }
                    });

                });


            });

            $("#btn-send-test-email").on("click", function () {

                if (!!!currentCampaignId) return;

                var emailSubject = $('#sendgrid-email-subject').val();
                var testEmailAddress = $('#sendgrid-test-email').val();
                var senderId = $("#sendgrid-sender").find(":selected").val();

                if (emailSubject.length === 0) return;

                var data = {
                    campaign_id: currentCampaignId,
                    email_subject: emailSubject,
                    sender_id: senderId,
                    test_email_address: testEmailAddress

                };

                startRequestLoading();
                $.ajax({
                    type: 'POST',
                    url: '/promotion/email/send_test_email',
                    data: data,
                    dataType: "json",
                    success: function (result) {
                        swal("Success!", "The test email has been sent!", "success");
                        stopRequestLoading();
                    },
                    error: function (xhr) {
                        stopRequestLoading();
                        swal("Error", JSON.parse(xhr.responseText).error, "error");
                    }
                });


            });
        });

        var retryConfirmAlert = 'Do you want to retry?';

        $(document).on('click', '.btn-retry', function () {


            swal({
                title: retryConfirmAlert,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, retry it!",
                closeOnConfirm: false

            }, function () {

                var pushId = $(this).attr('data-push-id');

                $.ajax({
                    type: 'POST',
                    url: '/promotion/email/retry',
                    data: {push_id: pushId},
                    dataType: "json",
                    success: function (result) {
                        swal("Success!", "Your request has submitted successfully. Please wait background job to processing your request.", "success");
                        stopRequestLoading();
                        getPushHistories();
                    },
                    error: function (xhr) {
                        swal("Error", JSON.parse(xhr.responseText).error, "error");
                    }
                })
            })
        });


    </script>

{% endblock %}