{% extends "layout/app.html" %}

{% block page_title %}
    {{ cohort.cohort_name }}    {% endblock %}

{% block head_tail %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/show-hint.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">

{% endblock %}


{% block main_content %}

    <section class="content-header">

        <h1 id="cohort-title" data-cohort-id="{{ cohort.id }}">

            {{ cohort.cohort_name }}


        </h1>


    </section>
    <section class="content">


        <div class="box box-danger" id="editor-box">
            <div class="box-header with-border">
                <h3 class="box-title">

                    Cohort Options
                </h3>


                <a style="margin-left: 10px" class="btn btn-primary pull-right" href="/promotion/email/cohorts/display">
                    <i class="fa fa-reply"></i> </a>


                <a id='cohort-save' class="btn btn-primary pull-right" style="display: none"> <i
                        class="fa fa-save"></i>
                    Save </a>

                <a id='cohort-edit' class="btn btn-primary pull-right" style="display: inline-block"> <i
                        class="fa fa-edit"></i> Edit </a>


            </div>
            <fieldset id="disable-me">

                <div class="box-body">
                    <div class="row" style="border-bottom: 1px solid #f4f4f4;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cohort Name</label>
                                <input id="cohort-name" type="text" class="form-control" placeholder="Enter ...">
                            </div>




                            <div class="form-group">
                                <label>Category</label>
                                <input id="category" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea id='cohort-description' class="form-control" rows="12"
                                          style="font-size: 16px"></textarea>


                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Recipients</label>
                                <select class="form-control select2" style="width: 20%; margin-bottom: 10px"
                                        id="database-picker">
                                    <option value="bi" selected="selected">DB: BI</option>
                                    <option value="bi_lifetime">DB: BI_LIFETIME</option>
                                    <option value="bi_promotion">DB: BI_PROMOTION</option>
                                    <option value="orig_wpt">DB: WPT</option>
                                    <option value="orig_wpt_ods">DB: WPT ODS</option>
                                    <option value="orig_wpt_mall">DB: WPT MALL</option>
                                    <option value="wpt_log">DB: WPT Log</option>
                                    <option value="orig_wpt_master_points">DB: MASTER POINTS</option>
                                </select>

                                <textarea id="sql-editor" class="form-control"
                                          placeholder="Enter your query"></textarea>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 ">

                            <div class="form-group">
                                <label>Status</label>
                                <select name="Status" class="form-control select2" id="sendgrid-status">
                                    <option value="All" selected="selected">All</option>
                                    {% for status in statuses %}
                                        <option>{{ status }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Campaign</label>
                                <select name="campaign" class="form-control select2"
                                        id="sendgrid-campaign">
                                    {% for campaign in campaigns %}
                                        <option value="{{ campaign['id'] }}">{{ campaign['title'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>From Sender</label>

                                <select name="Sender" class="form-control select2" id="sendgrid-sender"
                                        placeholder="Select Sender">
                                    {% for sender in senders %}
                                        <option value="{{ sender['id'] }}">{{ sender['nickname'] }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="form-group">

                                <label>Email Subject</label>
                                <input name="emailSubject" type="text" class="form-control"
                                       placeholder="Enter email subject" id='sendgrid-email-subject'>
                            </div>

                            <div class="form-group">
                                <label>Scheduled At (EST)</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input name="scheduled" type="text" class="form-control" id="send-scheduled-at">
                                </div>
                            </div>
                            <div class="form-group">

                                <label>Rearm/Hour </label>
                                <input class="form-control" id="rearm" type="number" min="0">

                            </div>
                            <div class="form-group">
                                <label>Maximum Count</label>
                                <input id="maximum-count" class="form-control input-sm" type="number" min="0">
                            </div>


                            <div class="form-group input-group">

                                <label> Send Test Email </label>

                                <div class="form-group input-group">
                                    <input name="testEmail" type="text" class="form-control" spellcheck="false"
                                           data-toggle="tooltip" data-animation="false"
                                           data-title="Enter up to 10 addresses at once, separated by a comma."
                                           id="sendgrid-test-email" data-original-title="" title="">
                                    <span class="input-group-addon " id="btn-send-test-email">
                                            <a>  <i class="fa fa-paper-plane"></i> </a>
                                        </span>
                                </div>


                            </div>
                            <div class="form-group">
                                <input id="is-important" type="checkbox">
                                <label>Important</label>
                            </div>

                        </div>
                        <div class="col-md-8">

                            <div class="form-group" style="margin-bottom: 0; overflow: hidden;"
                                 id="message-editor">
                                <iframe id="sendgrid-preview" src="about:blank" width="100%" height="590px"
                                        style="border: 1px solid #DDD;">

                                    {% if campaigns %}

                                        {{ campaigns[0]['html_content'] | safe }}

                                    {% endif %}

                                </iframe>
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>


        </div>
        <div class="nav-tabs-custom" id="tabs-box">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-history" data-toggle="tab" aria-expanded="true"> History </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active table-responsive" id="tab-history">
                    <table id="history-table" class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="999">
                                <div class="text-center">
                                    There are no items in the history table.
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <pre id="my-sql" style="display: none">{{ sql }}</pre>

    </section>

{% endblock %}

{% block body_tail %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/mode/sql/sql.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/sql-hint.min.js"
            type="text/javascript"></script>

    <script>

        $(document).ready(function () {

            var currentCampaignId = null;


            ////////////////////Push-History//////////////////////////////////////
            var historyTableColumns = ['scheduled_at', 'status'];

            function getLatestCohortHistories() {


                $.ajax({
                    type: 'GET',
                    url: "/promotion/email/cohort/" + '{{ cohort.cohort_name }}' + "/latest/histories",
                    dataType: "json",
                    success: function (result) {

                        var headers = [];

                        headers.push('<tr>');

                        for (var i in historyTableColumns) {
                            var column = historyTableColumns[i];
                            headers.push('<th>' + column + '</th>')
                        }

                        headers.push('<th style="width: 128px;"></th>');
                        headers.push('</tr>');


                        $('#history-table thead').html(headers.join());

                        var rows = [];

                        for (var j in result.data) {

                            var row = result.data[j];
                            rows.push('<tr>');

                            for (var i in historyTableColumns) {

                                var column = historyTableColumns[i];

                                if (column === 'status') {

                                    if (row[column] === 'failed') {
                                        rows.push('<td>' + '<span class="text-red">Prepare failed</span><br />' + '</td>');
                                    } else if (row[column] === 'pending') {
                                        rows.push('<td>' +
                                            '<span class="text-muted">Pending</span><br />' +
                                            '</td>');
                                    } else if (row[column] === 'preparing') {
                                        rows.push('<td>' +
                                            '<span class="text-muted">Preparing</span><br />' +
                                            '</td>');
                                    } else {
                                        rows.push('<td>' +
                                            '<span>Total: ' + row[column].total_count + '</span><br />' +
                                            '<span class="text-green">Succeed: ' + row[column].succeed_count + '</span><br/>' +
                                            '<span class="text-red">Failed: ' + row[column].failed_count + '</span>' + '</td>'
                                        );
                                    }
                                }
                                else {
                                    rows.push('<td>' + row[column] + '</td>');
                                }
                            }

                            rows.push('</tr>');
                        }

                        if (rows.length > 0) {
                            $('#history-table tbody').html(rows.join());
                        }
                    },
                    error: function (xhr) {

                    }
                });
            }

            getLatestCohortHistories();

            ///////////////////////Utils////////////////////////////////////
            var loadingOverlayConfig = {
                image: '',
                fontawesome: 'fa fa-spinner fa-spin',
                maxSize: "26px",
                minSize: "26px"
            };

            function startRequestLoading() {
                $('#editor-box').LoadingOverlay('show', loadingOverlayConfig);
            }

            function stopRequestLoading() {
                $('#editor-box').LoadingOverlay('hide', true);
            }

            $(".select2").select2();
            $('#send-scheduled-at').daterangepicker({
                opens: 'right',
                showDropdowns: true,
                autoApply: true,
                singleDatePicker: true,
                timePicker: true,
                timePicker24Hour: true,
                locale: {
                    format: 'YYYY-MM-DD HH:mm:ss',
                },
                minDate: moment()
            });

            var editor = CodeMirror.fromTextArea(document.getElementById('sql-editor'), {
                mode: 'text/x-mysql',
                lineNumbers: true,
                matchBrackets: true,
                autofocus: true,
                indentUnit: 4,
                extraKeys: {"Ctrl": "autocomplete"},
                hint: CodeMirror.hint.sql,
                hintOptions: {
                    tables: {
                        bi_user_currency: {{ get_columns_of_table('app.models.bi', 'BIUserCurrency') | safe }},
                        bi_user: {{ get_columns_of_table('app.models.bi', 'BIUser') | safe }}
                    }
                }
            });


            //////////////////////Operate//////////////////////////////////

            $('#cohort-save').on('click', function () {


                if (editor.getValue().length === 0
                    || $('#cohort-name').val() === ""
                    || $('#sendgrid-email-subject').val() === ''
                    || $('#send-scheduled-at').val() === ""
                    || $('#rearm').val() === ""
                    || $('#maximum-count').val() === ""
                    || $('#valid-count').val() === "") return;


                startRequestLoading();
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('promotion.email_operate_cohort') }}",
                    data: {

                        cohort_name: $('#cohort-name').val(),
                        category: $('#category').val(),
                        description: $('#cohort-description').val(),
                        email_subject: $('#sendgrid-email-subject').val(),
                        scheduled_at: $('#send-scheduled-at').val(),
                        rearm: $('#rearm').val(),
                        maximum_count: $('#maximum-count').val(),
                        sender_id: $("#sendgrid-sender").find(":selected").val(),
                        campaign_id: currentCampaignId,
                        campaign_name: $('#sendgrid-campaign').find(":selected").text(),
                        is_important: $('#is-important').is(":checked"),
                        sql: editor.getValue(),
                        database: $('#database-picker').find(":selected").val()

                    },
                    dataType: 'json',
                    success: function (result) {
                        stopRequestLoading();
                        $('#cohort-save').hide();
                        $("#disable-me").attr("disabled", "disabled");
                        $('#database-picker').select2('enable', false);
                        $('#sendgrid-campaign').select2('enable', false);
                        $('#sendgrid-sender').select2('enable', false);
                        $('#sendgrid-status').select2('enable', false);
                        $('#cohort-edit').show();
                        $('#cohort-title').text($('#cohort-name').val());
                        getLatestCohortHistories();


                    },
                    error: function (xhr) {
                        stopRequestLoading();
                        alert(JSON.parse(xhr.responseText).error)

                    }
                })


            });
            $('#cohort-edit').on('click', function () {

                $(this).hide();
                var cohortId = $('#cohort-title').attr("data-cohort-id");

                $('#cohort-save').show();
                $('#database-picker').select2('enable');
                $('#sendgrid-campaign').select2('enable');
                $('#sendgrid-sender').select2('enable');
                $('#sendgrid-status').select2('enable');
                $('#disable-me').removeAttr('disabled');

                $.ajax({
                    type: 'PUT',
                    url: "{{ url_for('promotion.email_operate_cohort') }}",
                    data: {cohort_id: cohortId, operate: 'pause'},
                    dataType: 'json',
                    success: function (result) {
                    },
                    error: function (xhr) {
                        alert(JSON.parse(xhr.responseText).error)
                    }
                })


            });


            //////////////////////Render Content////////////////////////////////////

            editor.setValue($('#my-sql').text());

            var campaigns = {{campaigns | safe}};
            var statuses = {{statuses | safe}};
            var currentCampaignId = null;

            function reloadEmailPreview(html_content) {
                var doc = document.getElementById('sendgrid-preview').contentWindow.document;
                doc.open();
                doc.write(html_content);
                doc.close();
            }

            function previewPlaceholderContent(subject) {
                return '<div style="margin: 0 auto; width: 200px; padding-top: 230px; font-size: 13px; color: #AAA; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-family: \'Source Sans Pro\',\'Helvetica Neue\',Helvetica,Arial,sans-serif; font-weight: 400;">' + subject + '</div>'
            }

            $('#sendgrid-status').on('change', function () {
                var currentStatus = $(this).find(":selected").val();
                var filteredCampaigns = [];

                if (currentStatus == 'All') {
                    filteredCampaigns = campaigns;
                } else {
                    $(campaigns).each(function (x) {
                        if (campaigns[x].status == currentStatus) {
                            filteredCampaigns.push(campaigns[x]);
                        }
                    });
                }

                $('#sendgrid-campaign').empty();
                $(filteredCampaigns).each(function (i, obj) {
                    $('#sendgrid-campaign').append('<option value="' + obj.id + '">' + obj.title + '</option>');
                });
                $('#sendgrid-campaign').trigger("change");
            });
            $('#sendgrid-campaign').on('change', function () {

                currentCampaignId = $(this).find(":selected").val();

                if (!!!currentCampaignId) {
                    reloadEmailPreview(previewPlaceholderContent('[ Nothing to preview ]'));
                    return;
                }

                reloadEmailPreview(previewPlaceholderContent('[ Rendering ]'));

                $.ajax({
                    type: 'GET',
                    url: '/promotion/email/campaign_html_content',
                    data: {
                        campaign_id: currentCampaignId
                    },
                    dataType: 'json',
                    success: function (result) {
                        stopRequestLoading();
                        reloadEmailPreview(result.html_content);
                    },
                    error: function (xhr) {
                        stopRequestLoading();
                    }
                });
            });
            $('#sendgrid-campaign').trigger("change");
            ////////////////////////////////////////////////////////////

            {% if cohort.is_important %}
                $('#is-important').prop('checked', true);
            {% endif %}

            $('#database-picker').val('{{ database }}').trigger('change');


            $('#cohort-name').val("{{ cohort.cohort_name  }}");
            $('#category').val("{{ cohort.category  }}");

            $('#cohort-description').val("{{ cohort.description }}");
            $('#send-scheduled-at').val("{{ cohort.push.scheduled_at }}");
            $('#rearm').val("{{ cohort.rearm }}");
            $('#maximum-count').val("{{cohort.maximum_count }}");
            $('#sendgrid-email-subject').val('{{  email_subject}}');
            $('#sendgrid-campaign').val({{ cohort.campaign_id}}).trigger('change');
            $("#sendgrid-sender").val({{ sender_id}}).trigger('change');

            $("#disable-me").attr("disabled", "disabled");
            $('#database-picker').select2('enable', false);
            $('#sendgrid-campaign').select2('enable', false);
            $('#sendgrid-sender').select2('enable', false);
            $('#sendgrid-status').select2('enable', false);
            $('#cohort-edit').show();
            $('#cohort-title').text($('#cohort-name').val());

        });
        ////////////////////////////////////////////////////////////
        $("#btn-send-test-email").on("click", function () {

            var emailSubject = $('#sendgrid-email-subject').val();
            var testEmailAddress = $('#sendgrid-test-email').val();
            var senderId = $("#sendgrid-sender").find(":selected").val();

            if (emailSubject.length === 0) return;

            var data = {
                campaign_id: $('#sendgrid-campaign').find(":selected").val(),
                email_subject: emailSubject,
                sender_id: senderId,
                test_email_address: testEmailAddress

            };
            $.ajax({
                type: 'POST',
                url: '/promotion/email/send_test_email',
                data: data,
                dataType: "json",
                success: function (result) {
                    swal("Success!", "The test email has been sent!", "success");
                },
                error: function (xhr) {
                    swal("Error", JSON.parse(xhr.responseText).error, "error");
                }
            });


        });

    </script>

{% endblock %}