{% extends "layout/app.html" %}

{% block page_title %}Auto Report{% endblock %}

{% block head_tail %}

{% endblock %}

{% block main_content %}

    <section class="content">

        <div class="row">

            <div class="col-md-12">

                <div class="box box-primary">
                    <div class="box-header with-border" style=" padding-bottom: 10px; padding-top: 25px; ">

                        <h3 class="box-title" style="margin-left: 10px">{{ push_type }} Automation Report</h3>


                        <a class="btn btn-primary pull-right"
                           href="{{ url_for('auto_report.report_operate_panel') }}"
                           title="Create new Report" style="display: inline-block"> <i
                                class="fa fa-plus-circle"></i>
                            Create
                        </a>

                    </div>

                    <div class="box-body" style=" padding-right: 80px; padding-left: 20px; ">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Report Name</th>
                                <th><strong> Description </strong></th>
                                <th><strong> Status </strong></th>
                                <th><strong> Rearm / Hour</strong></th>
                                <th><strong> Remaining Times </strong></th>
                                <th><strong> Scheduled At </strong></th>
                                <th><strong>Actions </strong></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for report in reports %}


                                <tr id="{{ report.id }}">
                                    <td>
                                        <strong>


                                            <a href="{{ url_for('auto_report.report_edit_panel', report_name= report.report_name ) }}">{{ report.report_name }}</a>


                                        </strong>

                                    <td>
                                        <p>
                                            {{ report.description }}
                                        </p>
                                    <td>


                                        {% if report.remaining_count == 0 %}

                                            <span class="badge ">Expired</span>

                                        {% elif not report.is_activated %}

                                            <span class="badge bg-blue"> Inactivated </span>

                                        {% elif report.is_paused %}

                                            <span class="badge bg-yellow">Paused</span>

                                        {% else %}

                                            <span class="badge bg-green">Activate</span>

                                        {% endif %}

                                    </td>
                                    <td>
                                        {{ report.rearm }}
                                    </td>

                                    <td>

                                        {{ report.remaining_count }}

                                    </td>
                                    <td>
                                        {{ report.scheduled_at }}
                                    </td>
                                    <td>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-box-tool dropdown-toggle"
                                                    data-toggle="dropdown" aria-expanded="">
                                                <i class="ion ion-ios-gear-outline" style="font-size: 25px; "></i>
                                            </button>

                                            <ul class="dropdown-menu" role="menu">


                                                {% if report.remaining_count == 0 %}

                                                    <li><a data-report-id="{{ report.id }}" class="delete">Delete</a>
                                                    </li>


                                                {% else %}


                                                    <li><a data-report-id="{{ report.id }}"
                                                           class="activate">Activate</a></li>
                                                    <li><a data-report-id="{{ report.id }}" class="pause">Pause</a></li>
                                                    <li><a data-report-id="{{ report.id }}" class="delete">Delete</a>
                                                    </li>

                                                {% endif %}


                                            </ul>


                                        </div>

                                    </td>

                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block body_tail %}

    <script>

        $(document).ready(function () {


            var url = "{{ url_for('auto_report.report_operate_panel') }}";


            var loadingOverlayConfig = {
                image: '',
                fontawesome: 'fa fa-spinner fa-spin',
                maxSize: "26px",
                minSize: "26px"
            };

            ////////////////////////////////////////////////////////////

            $('.delete').on('click', function () {

                var reportId = $(this).attr("data-report-id");
                var tr = $('#' + reportId);

                tr.LoadingOverlay('show', loadingOverlayConfig);
                $.ajax({
                    type: 'DELETE',
                    url: url,
                    data: {report_id: reportId},
                    dataType: 'json',
                    success: function (result) {

                        tr.LoadingOverlay('hide', true);
                        tr.children("td").remove()

                    },
                    error: function (xhr) {
                        alert(JSON.parse(xhr.responseText).error);
                        tr.LoadingOverlay('hide', true);
                    }
                })

            });

            ////////////////////////////////////////////////////////////

            $('.pause').on('click', function () {

                var reportId = $(this).attr("data-report-id");

                var tr = $('#' + reportId);

                tr.LoadingOverlay('show', loadingOverlayConfig);
                $.ajax({
                    type: 'PUT',
                    url: url,
                    data: {report_id: reportId, operate: 'pause'},
                    dataType: 'json',
                    success: function (result) {

                        tr.LoadingOverlay('hide', true);
                        tr.children("td").eq(2).replaceWith('<td><span class="badge bg-yellow">Paused</span></td>')
                    },
                    error: function (xhr) {
                        alert(JSON.parse(xhr.responseText).error);
                        tr.LoadingOverlay('hide', true);
                    }
                })

            });

            ////////////////////////////////////////////////////////////

            $('.activate').on('click', function () {

                var reportId = $(this).attr("data-report-id");
                var tr = $('#' + reportId);

                tr.LoadingOverlay('show', loadingOverlayConfig);
                $.ajax({
                    type: 'PUT',

                    url: url,

                    data: {report_id: reportId, operate: 'activate'},

                    success: function (result) {

                        tr.LoadingOverlay('hide', true);
                        tr.children("td").eq(2).replaceWith('<td><span class="badge bg-green">Activate</span></td>')

                    },
                    error: function (xhr) {
                        alert(JSON.parse(xhr.responseText).error);

                        tr.LoadingOverlay('hide', true);
                    }
                })

            });


        });

    </script>

{% endblock %}