{% extends "layout/app.html" %}

{% block page_title %}

    {{ report.report_name }}

{% endblock %}


{% block head_tail %}

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/show-hint.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

{% endblock %}

{% block main_content %}

    <section class="content-header">

        <h1 id="report-title" data-report-id="{{ report.id }}">

            {{ report.report_name }}
        </h1>
    </section>

    <section class="content">
        <div class="box box-danger" id="editor-box">
            <div class="box-header with-border">
                <h3 class="box-title">Report Options </h3>
                <a style="margin-left: 10px" class="btn btn-primary pull-right"
                   href="/auto_reports/display">
                    <i class="fa fa-reply"></i> </a>
                <a id='report-save' class="btn btn-primary pull-right" style="display: none"> <i
                        class="fa fa-save"></i>
                    Save </a>
                <a id='report-edit' class="btn btn-primary pull-right" style="display: inline-block"> <i
                        class="fa fa-edit"></i> Edit </a>
            </div>
            <fieldset id="disable-me">

                <div class="box-body">


                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Report Name</label>
                                <input id="report-name" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea id='report-description' class="form-control" rows="12"
                                          style="font-size: 16px"></textarea>


                            </div>



                            <div class="form-group">

                                <label> Recipients </label>

                                <div class="form-group">

                                    <input name="testEmail" type="text" class="form-control" spellcheck="false"

                                           id='recipients'

                                           data-toggle="tooltip" data-animation="false"

                                           data-title="Enter up to 10 addresses at once, separated by a comma."

                                           data-original-title="" title="">
                                </div>

                            </div>

                            <div class="form-group">
                                <label> Scheduled At (EST) </label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input name="scheduled" type="text" class="form-control" id="send-scheduled-at">
                                </div>
                            </div>

                            <div class="form-group">

                                <label>Rearm/Hour </label>
                                <input class="form-control" id="rearm" type="number" min="0">

                            </div>
                            <div class="form-group">
                                <label>Maximum Count</label>
                                <input id="maximum-count" class="form-control input-sm" type="number" min="0">
                            </div>



                        </div>


                        <div class="col-md-8">
                            <div class="form-group">
                                <label>SQL</label>
                                <select class="form-control select2" style="width: 20%; margin-bottom: 10px"
                                        id="database-picker">
                                    <option value="bi" selected="selected">DB: BI</option>
                                    <option value="bi_lifetime">DB: BI_LIFETIME</option>
                                    <option value="bi_promotion">DB: BI_PROMOTION</option>
                                    <option value="orig_wpt">DB: WPT</option>
                                    <option value="orig_wpt_ods">DB: WPT ODS</option>
                                    <option value="orig_wpt_mall">DB: WPT MALL</option>
                                    <option value="wpt_log">DB: WPT Log</option>
                                    <option value="orig_wpt_master_points">DB: MASTER POINTS</option>
                                </select>

                                <textarea id="sql-editor" class="form-control"
                                          placeholder="Enter your query"></textarea>

                            </div>

                        </div>



                    </div>
                </div>


            </fieldset>


        </div>


        <pre id="my-sql" style="display: none">{{ report.sql }}</pre>

    </section>

{% endblock %}
{% block body_tail %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/mode/sql/sql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/sql-hint.min.js"></script>
    <script>

        $(document).ready(function () {


            var loadingOverlayConfig = {
                image: '',
                fontawesome: 'fa fa-spinner fa-spin',
                maxSize: "26px",
                minSize: "26px"
            };

            function startRequestLoading() {
                $('#editor-box').LoadingOverlay('show', loadingOverlayConfig);
            }

            function stopRequestLoading() {
                $('#editor-box').LoadingOverlay('hide', true);
            }

            $(".select2").select2();
            $('#send-scheduled-at').daterangepicker({
                opens: 'right',
                showDropdowns: true,
                autoApply: true,
                singleDatePicker: true,
                timePicker: true,
                timePicker24Hour: true,
                locale: {
                    format: 'YYYY-MM-DD HH:mm:ss',
                },
                minDate: moment()
            });
            var editor = CodeMirror.fromTextArea(document.getElementById('sql-editor'), {
                mode: 'text/x-mysql',
                lineNumbers: true,
                matchBrackets: true,
                autofocus: true,
                indentUnit: 4,
                extraKeys: {"Ctrl": "autocomplete"},
                hint: CodeMirror.hint.sql,
                hintOptions: {
                    tables: {
                        bi_user_currency: {{ get_columns_of_table('app.models.bi', 'BIUserCurrency') | safe }},
                        bi_user: {{ get_columns_of_table('app.models.bi', 'BIUser') | safe }}
                    }
                }
            });

            ///////////////////Render Cohort content////////////////////////////////////////


            editor.setValue($('#my-sql').text());

            $('#database-picker').val('{{ report.database }}').trigger('change');

            $('#report-name').val("{{ report.report_name  }}");

            $('#report-title').text($('#report-name').val());

            $('#report-description').val("{{ report.description }}");

            $('#recipients').val("{{ report.recipients }}");

            $('#maximum-count').val("{{report.maximum_count }}");

            $('#rearm').val("{{ report.rearm }}");

            $("#disable-me").attr("disabled", "disabled");

            $('#database-picker').select2('enable', false);

            $('#report-edit').show();


            $('#report-save').on('click', function () {

                if (editor.getValue().length === 0
                    || $('#report-name').val() === ""
                    || $('#send-scheduled-at').val() === ""
                    || $('#recipients').val() === ""
                    || $('#rearm').val() === ""
                    || $('#maximum-count').val() === ""
                    || $('#valid-count').val() === "") return;

                startRequestLoading();

                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('auto_report.report_operate_panel') }}",
                    data: {

                        report_name: $('#report-name').val(),
                        sql: editor.getValue(),
                        database: $('#database-picker').find(":selected").val(),

                        description: $('#report-description').val(),
                        rearm: $('#rearm').val(),
                        maximum_count: $('#maximum-count').val(),
                        recipients: $('#recipients').val(),
                        scheduled_at: $('#send-scheduled-at').val(),


                    },
                    dataType: 'json',
                    success: function (result) {


                        stopRequestLoading();
                        $('#report-save').hide();
                        $("#disable-me").attr("disabled", "disabled");
                        $('#database-picker').select2('enable', false);
                        $('#report-edit').show();
                        $('#report-title').text($('#report-name').val());


                    },
                    error: function (xhr) {
                        stopRequestLoading();
                        alert(JSON.parse(xhr.responseText).error)

                    }
                })


            });


            $('#report-edit').on('click', function () {

                var reportId = $('#report-title').attr("data-report-id");

                $(this).hide();
                $('#report-save').show();
                $('#database-picker').select2('enable');
                $('#disable-me').removeAttr('disabled');

                $.ajax({
                    type: 'PUT',
                    url: "{{ url_for('auto_report.report_operate_panel') }}",
                    data: {report_id: reportId, operate: 'pause'},
                    dataType: 'json',
                    success: function (result) {
                    },
                    error: function (xhr) {
                        alert(JSON.parse(xhr.responseText).error)
                    }

                })

            });

        });

    </script>
{% endblock %}