{% extends "layout/app.html" %}


{% block page_title %}Daily Summary{% endblock %}




{% block head_tail %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/css/dataTables.bootstrap.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css"
          rel="stylesheet">

    <style>

        #result-table_wrapper {
            overflow: auto;
        }

        #result-table_wrapper .table-button {
            float: right;
        }

        #result-table_wrapper .table-button .btn {
            padding: 4px 12px;
        }

        #result-table_wrapper .table-length {
            float: left;
        }

        #result-table_wrapper .table-filter {
            float: right;
            margin-right: 10px;
        }

    </style>
{% endblock %}




{% block main_content %}
    <section class="content-header">
        <h1>Daily Summary</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="box box-primary">
                    <div class="box-body">

                        <div class="row">

                            <div class="col-md-2" style="display: none">
                                <div class="form-group">
                                    <label>Game</label>
                                    <select class="form-control select2" style="width: 100%;" id="executive-game">
                                        <option selected="selected">All Game</option>
                                        <option>TexasPoker</option>
                                        <option>TimeSlots</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Platform</label>
                                    <select class="form-control select2" style="width: 100%;" id="executive-platform">
                                        <option selected="selected">All Platform</option>
                                        <option>Web</option>
                                        <option>iOS</option>
                                        <option>Android</option>
                                        <option>Facebook Game</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">

                                <div class="form-group">
                                    <label>Grouping</label>
                                    <select class="form-control select2" style="width: 100%;"
                                            id="executive-group-type">
                                        <option selected="selected">Daily</option>
                                        <option>Weekly</option>
                                        <option>Monthly</option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-md-2">
                                <div class="form-group">

                                    <div style="margin-top: 24px;">
                                        <button type="button" class="btn btn-success" id="btn-executive-apply">Apply
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-12" style="margin-top: 21px">
                            <div id="charts" style="height: 650px; width: 100%;"></div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <table id="result-table"
                               class="display responsive no-wrap table table-bordered table-striped table-hover dataTable">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="999">
                                    <div class="text-center">
                                        There are no items in the result table.
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}





{% block body_tail %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.27/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.5.2/echarts.common.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.5.2/extension/dataTool.min.js"></script>

    <script type="text/javascript">

        var echartsColorPalette = [
            '#c12e34', '#e6b600', '#0098d9', '#2b821d',
            '#6699FF', '#ff6666', '#3cb371', '#d5b158',
            '#05fd00', '#dcc392', '#2e4783', '#82b6e9',
            '#002a5d', '#339ca8', '#cda819', '#32a487',
            '#E01F54', '#001852', '#a4d8c2', '#f3d999',
            '#d3758f', '#dcc392', '#2e4783', '#82b6e9',
            '#ff6347', '#a092f1', '#0a915d', '#eaf889',
            '#6699FF', '#ff6666', '#3cb371', '#d5b158',
            '#38b6b6', '#f5e8c8', '#b8d2c7', '#c6b38e'
        ];

        var echartsTheme = {
            color: echartsColorPalette,
            title: {
                textStyle: {
                    fontWeight: 'normal'
                }
            },
            visualMap: {
                color: ['#1790cf', '#a2d4e6']
            },
            toolbox: {
                iconStyle: {
                    normal: {
                        borderColor: '#06467c'
                    }
                }
            },
            tooltip: {
                backgroundColor: 'rgba(0,0,0,0.6)'
            },
            dataZoom: {
                dataBackgroundColor: '#dedede',
                fillerColor: 'rgba(154,217,247,0.2)',
                handleColor: '#005eaa'
            },
            timeline: {
                lineStyle: {
                    color: '#005eaa'
                },
                controlStyle: {
                    normal: {
                        color: '#005eaa',
                        borderColor: '#005eaa'
                    }
                }
            },
            candlestick: {
                itemStyle: {
                    normal: {
                        color: '#c12e34',
                        color0: '#2b821d',
                        lineStyle: {
                            width: 1,
                            color: '#c12e34',
                            color0: '#2b821d'
                        }
                    }
                }
            },

            graph: {
                color: echartsColorPalette
            },

            map: {
                label: {
                    normal: {
                        textStyle: {
                            color: '#c12e34'
                        }
                    },
                    emphasis: {
                        textStyle: {
                            color: '#c12e34'
                        }
                    }
                },
                itemStyle: {
                    normal: {
                        borderColor: '#eee',
                        areaColor: '#ddd'
                    },
                    emphasis: {
                        areaColor: '#e6b600'
                    }
                }
            },

            gauge: {
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: [[0.2, '#2b821d'], [0.8, '#005eaa'], [1, '#c12e34']],
                        width: 5
                    }
                },
                axisTick: {
                    splitNumber: 10,
                    length: 8,
                    lineStyle: {
                        color: 'auto'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: 'auto'
                    }
                },
                splitLine: {
                    length: 12,
                    lineStyle: {
                        color: 'auto'
                    }
                },
                pointer: {
                    length: '90%',
                    width: 3,
                    color: 'auto'
                },
                title: {
                    textStyle: {
                        color: '#333'
                    }
                },
                detail: {
                    textStyle: {
                        color: 'auto'
                    }
                }
            }
        };
        echarts.registerTheme('shine', echartsTheme);

        var dom = document.getElementById("charts");
        var myChart = echarts.init(dom, 'shine');
        var grid_top_response = (screen.width < 550 ) ? "47%" : "26%";
        var tool_top_response = (screen.width < 550 ) ? "41%" : "18%";
        var tool_right_response = (screen.width < 550 ) ? "2%" : "4%";


        window.onresize = myChart.resize;
        var option = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {

                selected: {
                    'dau': 1,
                    'wau': 1,
                    'mau': 1,
                    'facebook_game_reg': 0,
                    'facebook_login_reg': 0,
                    'guest_reg': 0,
                    'email_reg': 0,
                    'email_validated': 0,
                    'new_reg': 1,
                    'new_reg_game_dau': 0,
                    'paid_user_count': 0,
                    'paid_count': 0,
                    'revenue': 1,
                    'one_day_retention(%)': 0,
                    'seven_day_retention(%)': 0,
                    'thirty_day_retention(%)': 0,
                    'mtt_buy_ins': 0,
                    'sng_buy_ins': 0,
                    'mtt_rake': 0,
                    'sng_rake': 0,
                    'ring_game_rake': 0,
                    'mtt_winnings': 0,
                    'sng_winnings': 0,
                    'free_gold': 0,
                    'free_silver': 0,
                    'stickiness_weekly': 0,
                    'stickiness_monthly': 0,
                    'ARPPU': 0
                },
                data: []
            },
            grid: {
                top: grid_top_response,
                bottom: '3%',
                left: '1%',
                right: '4%',
                containLabel: true
            },
            toolbox: {
                show: true,
                top: tool_top_response,
                right: tool_right_response,
                itemSize: '17',
                feature: {
                    restore: {title: 'Reset'},
                    magicType: {
                        title: {
                            'bar': 'Switch To Histogram',
                            'line': 'Switch To line'
                        },
                        type: ['bar', 'line']
                    },
                    dataZoom: {
                        title: {
                            zoom: 'Area Zoom',
                            back: 'Area Zoom Restore'
                        },
                        yAxisIndex: 'none'
                    },
                    saveAsImage: {title: 'Save As Image'}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: []
            },
            yAxis: {
                type: 'value',
                splitNumber: 10
            },
            series: []
        };


        $(document).ready(function () {

            var resultDataTable = null;

            $(".select2").select2();
            var loadingOverlayConfig = {
                image: '',
                fontawesome: 'fa fa-spinner fa-spin',
                maxSize: "16px",
                minSize: "16px"
            };

            function startRequestLoading() {
                $('#btn-executive-apply').LoadingOverlay('show', loadingOverlayConfig);
            }

            function stopRequestLoading() {
                $('#btn-executive-apply').LoadingOverlay('hide', true);
            }


            function getExecutiveData(game, platform, group) {

                startRequestLoading();
                $.ajax({
                    type: 'GET',
                    url: '/report/daily_summary_data',
                    data: {
                        game: game,
                        platform: platform,
                        group: group

                    },
                    dataType: "json",

                    success: function (result) {
                        ////////////////////

                        stopRequestLoading();

                        $.extend($.fn.dataTable.defaults, {
                            "dom": '<"table-button"B><"table-filter"f><"table-length"l>tip'
                        });

                        if (resultDataTable !== null) {
                            resultDataTable.destroy();
                            $('#result-table').empty();
                        }

                        resultDataTable = $('#result-table').DataTable({
                            retrieve: true,
                            searching: true,
                            'buttons': [
                                'copy', 'csv', 'excel', 'pdf'
                            ],
                            iDisplayLength: 14,
                            "order": [[0, "desc"]],
                            lengthChange: false,
                            scrollX: true,
                            data: result.tables_result.tables_data,
                            columns: result.tables_result.tables_title


                        });

                        ////////////////////

                        for (var c = 0; c < result.charts_result.charts_legend.length; c++) {
                            option.series.push({
                                name: result.charts_result.charts_legend[c],
                                type: 'line',
                                smooth: true,
                                data: []
                            });
                        }

                        var data;
                        for (var d = 0; d < result.charts_result.charts_data.length; d++) {
                            data = result.charts_result.charts_data[d];
                            option.series[d]['data'] = data;

                        }

                        option.xAxis.data = result.charts_result.charts_labels;
                        option.legend.data = result.charts_result.charts_legend;

                        if (screen.width > 550) {
                            option.legend.width = 800;
                            option.legend.itemHeight = 16;
                            option.legend.itemWidth = 16;
                            option.legend.itemGap = 15;

                        }

                        myChart.setOption(option, true);
                    },

                    error: function (xhr) {
                        stopRequestLoading();
                    }
                });

            };


            $('#btn-executive-apply').click(function () {
                var game = $('#executive-game').val();
                var platform = $('#executive-platform').val();
                var group = $('#executive-group-type').val();

                getExecutiveData(game, platform, group);
            });
            $('#btn-executive-apply').trigger('click');

        });

    </script>
{% endblock %}