{% extends "layout/app.html" %}

{% block page_title %}DAU{% endblock %}

{% block head_tail %}
    <link href="https://cdnjs.cloudfljare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <style>

        @keyframes fadeInRight {
            0% {
                opacity: 0;
                transform: translateX(20px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .animated {
            animation-duration: 0.8s;
            animation-fill-mode: both;
        }

        .ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5, .ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
            margin-top: 5px;
            font-weight: 600
        }

        .wrapper-content {
            padding: 20px 10px 40px;
            color: #676a6c;
        }

        .ibox {
            clear: both;
            margin-bottom: 25px;
            margin-top: 0;
            padding: 0;
        }

        .ibox-content {
            background-color: #ffffff;
            color: inherit;
            clear: both;
            padding: 15px 20px 20px 20px;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 1px 0px;
        }

        .m-b-md {
            margin-bottom: 20px;
        }

        .progress-mini {
            height: 5px;
            margin-bottom: 0px;
        }

        .text-navy {
            color: #1ab394 !important;
        }

        .text-center {
            text-align: center;
        }

        .text-danger {
            color: #ed5565 !important;
        }

        .gray-bg {
            background-color: #f3f3f4 !important;
        }

    </style>
{% endblock %}

{% block main_content %}

    <section class="content-header">
        <h1>DAU</h1>
    </section>

    <section class="content">
        <div class="col-md-12" style="display: none">
            <div class="row">
                <div id="page-wrapper" class="gray-bg" style="min-height: 650px;">
                    <div class="wrapper-content animated fadeInRight" style="padding-bottom: 0px;margin-top: 15px;">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5 class="m-b-md">iOS</h5>
                                        <h2 class="text-navy">
                                            <i class="fa fa-play fa-rotate-270"></i> Up
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content ">
                                        <h5 class="m-b-md">Android</h5>
                                        <h2 class="text-navy">
                                            <i class="fa fa-play fa-rotate-270"></i> Up
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5 class="m-b-md">Web</h5>
                                        <h2 class="text-danger">
                                            <i class="fa fa-play fa-rotate-90"></i> Down
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5 class="m-b-md">Facebook Game</h5>
                                        <h2 class="text-danger">
                                            <i class="fa fa-play fa-rotate-90"></i> Down
                                        </h2>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5>New Users Week</h5>
                                        <h2>198 009</h2>
                                        <div id="sparkline1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5>New Users Week</h5>
                                        <h2>65 000</h2>
                                        <div id="sparkline2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5>New Users Week</h5>
                                        <h2>680 900</h2>
                                        <div id="sparkline3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5>New Users Week</h5>
                                        <h2>00:06:40</h2>
                                        <div id="sparkline4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5>Conversion Yesterday</h5>
                                        <h2>42/20</h2>
                                        <div class="text-center">
                                            <div id="sparkline5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5>Conversion Yesterday</h5>
                                        <h2>100/54</h2>
                                        <div class="text-center">
                                            <div id="sparkline6"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5>Conversion Yesterday</h5>
                                        <h2>100/54</h2>
                                        <div class="text-center">
                                            <div id="sparkline7"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5>Conversion Yesterday</h5>
                                        <h2>240/32</h2>
                                        <div class="text-center">
                                            <div id="sparkline8"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <h4 style="display: inline-block">
                            DAU
                            <small style="margin-left: 10px">
                                According to User Reg Platform
                            </small>
                        </h4>

                        <div class="btn-group" style="float: right">

                            <button type="button" class="btn btn-ms btn-default" style="margin-right: 10px"
                                    id="btn-daily">
                                Daily
                            </button>

                            <button type="button" class="btn btn-ms btn-default"
                                    style="margin-right: 10px;" id="btn-weekly">
                                Weekly
                            </button>
                            <button type="button" class="btn btn-ms btn-default" id="btn-monthly">
                                Monthly
                            </button>

                        </div>
                    </div>

                    <div class="box-body">
                        <div id="chart1" style="height: 500px; width: 100%; "></div>
                    </div>
                </div>
            </div>
        </div>

    </section>


{% endblock %}

{% block body_tail %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peity/3.2.1/jquery.peity.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.5.2/echarts.common.min.js"></script>
    <script>
        $(document).ready(function () {
            //  line
            $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });
            $("#sparkline2").sparkline([24, 43, 43, 55, 44, 62, 44, 72], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });
            $("#sparkline3").sparkline([74, 43, 23, 55, 54, 32, 24, 12], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#ed5565',
                fillColor: "#ffffff"
            });
            $("#sparkline4").sparkline([24, 43, 33, 55, 64, 72, 44, 22], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#ed5565',
                fillColor: "#ffffff"
            });

            //  pie
            $("#sparkline5").sparkline([1, 4], {
                type: 'pie',
                height: '140',
                sliceColors: ['#1ab394', '#F5F5F5']
            });
            $("#sparkline6").sparkline([5, 3], {
                type: 'pie',
                height: '140',
                sliceColors: ['#1ab394', '#F5F5F5']
            });
            $("#sparkline7").sparkline([2, 2], {
                type: 'pie',
                height: '140',
                sliceColors: ['#ed5565', '#F5F5F5']
            });
            $("#sparkline8").sparkline([2, 3], {
                type: 'pie',
                height: '140',
                sliceColors: ['#ed5565', '#F5F5F5']
            });
        });
    </script>

    <script>

        $(document).ready(function () {
            var echartsColorPalette = [
                '#c12e34', '#e6b600', '#0098d9', '#2b821d',
                '#6699FF', '#ff6666', '#3cb371', '#d5b158',
                '#05fd00', '#dcc392', '#2e4783', '#82b6e9'
            ];

            var echartsTheme = {
                color: echartsColorPalette,
                title: {
                    textStyle: {
                        fontWeight: 'normal'
                    }
                },
                visualMap: {
                    color: ['#1790cf', '#a2d4e6']
                },
                toolbox: {
                    iconStyle: {
                        normal: {
                            borderColor: '#06467c'
                        }
                    }
                },
                tooltip: {
                    backgroundColor: 'rgba(0,0,0,0.6)'
                },
                dataZoom: {
                    dataBackgroundColor: '#dedede',
                    fillerColor: 'rgba(154,217,247,0.2)',
                    handleColor: '#005eaa'
                },
                timeline: {
                    lineStyle: {
                        color: '#005eaa'
                    },
                    controlStyle: {
                        normal: {
                            color: '#005eaa',
                            borderColor: '#005eaa'
                        }
                    }
                },
                candlestick: {
                    itemStyle: {
                        normal: {
                            color: '#c12e34',
                            color0: '#2b821d',
                            lineStyle: {
                                width: 1,
                                color: '#c12e34',
                                color0: '#2b821d'
                            }
                        }
                    }
                },
                graph: {
                    color: echartsColorPalette
                },
                map: {
                    label: {
                        normal: {
                            textStyle: {
                                color: '#c12e34'
                            }
                        },
                        emphasis: {
                            textStyle: {
                                color: '#c12e34'
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            borderColor: '#eee',
                            areaColor: '#ddd'
                        },
                        emphasis: {
                            areaColor: '#e6b600'
                        }
                    }
                },
                gauge: {
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: [[0.2, '#2b821d'], [0.8, '#005eaa'], [1, '#c12e34']],
                            width: 5
                        }
                    },
                    axisTick: {
                        splitNumber: 10,
                        length: 8,
                        lineStyle: {
                            color: 'auto'
                        }
                    },
                    axisLabel: {
                        textStyle: {
                            color: 'auto'
                        }
                    },
                    splitLine: {
                        length: 12,
                        lineStyle: {
                            color: 'auto'
                        }
                    },
                    pointer: {
                        length: '90%',
                        width: 3,
                        color: 'auto'
                    },
                    title: {
                        textStyle: {
                            color: '#333'
                        }
                    },
                    detail: {
                        textStyle: {
                            color: 'auto'
                        }
                    }
                }
            };
            echarts.registerTheme('shine', echartsTheme);
            var dom = document.getElementById("chart1");
            var myChart = echarts.init(dom, 'shine');
            window.onresize = myChart.resize;
            var option = {
                title: {},
                tooltip: {
                    trigger: 'axis'
                },

                toolbox: {
                    show: true,
                    {#                top: tool_top_response,#}
                    {#                right: tool_right_response,#}
                    itemSize: '17',
                    feature: {
                        restore: {title: 'Reset'},
                        magicType: {
                            title: {
                                'bar': 'Switch To Histogram',
                                'line': 'Switch To line'
                            },
                            type: ['bar', 'line']
                        },
                        dataZoom: {
                            title: {
                                zoom: 'Area Zoom',
                                back: 'Area Zoom Restore'
                            },
                            yAxisIndex: 'none'
                        },
                        saveAsImage: {title: 'Save As Image'}
                    }
                },
                legend: {
                    data: ['All Platform', 'iOS', 'Android', 'Web', 'Facebook Game'],
                    selected: {
                        'All Platform': 0,
                        'iOS': 1,
                        'Android': 1,
                        'Web': 1,
                        'Facebook Game': 1
                    }
                },
                grid: {
                    top: "15%",
                    bottom: '3%',
                    left: '1%',
                    right: '4%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: []
                },
                yAxis: {
                    type: 'value',
                    splitNumber: 10
                }
            };


            function dau(group_type) {

                $.ajax({
                    type: 'GET',
                    url: '{{ url_for('report.dau_for_platform') }}',
                    data: {
                        group_type: group_type

                    },
                    dataType: "json",
                    success: function (result) {
                        option.series = [
                            {

                                name: 'All Platform',
                                type: 'line',
                                smooth: true,
                                data: result.metric_for_each_platform[0][1]
                            },

                            {
                                name: 'iOS',
                                type: 'line',
                                smooth: true,
                                data: result.metric_for_each_platform[1][1]
                            },

                            {
                                name: 'Android',
                                type: 'line',
                                smooth: true,
                                data: result.metric_for_each_platform[2][1]
                            },

                            {
                                name: 'Web',
                                type: 'line',
                                smooth: true,
                                data: result.metric_for_each_platform[3][1]
                            },

                            {
                                name: 'Facebook Game',
                                type: 'line',
                                smooth: true,
                                data: result.metric_for_each_platform[4][1]
                            }

                        ];

                        option.xAxis.data = result.metric_for_each_platform[0][0];
                        myChart.setOption(option, true);
                    }

                });


            }

            $('#btn-daily').click(
                function () {
                    dau('Daily')
                }
            );

            $('#btn-weekly').click(
                function () {
                    dau('Weekly')
                }
            );

            $('#btn-monthly').click(
                function () {
                    dau('Monthly')
                }
            );
            $('#btn-daily').trigger('click');
        });


    </script>

{% endblock %}