{% extends "layout/app.html" %}

{% block page_title %}Users Flow Diagram{% endblock %}
{% block head_tail %}
{% endblock %}


{% block main_content %}
    <section class="content-header">
        <h1> Users Flow Diagram </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="box box-primary">

                    <div class="box-header with-border">

                        <h3 class="box-title"> Web Reg
                            <small style="margin-left: 10px">
                                Yesterday
                            </small>
                        </h3>

                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-offset-1">
                                <div id="sankey_basic" style="width: 500px; height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}


{% block body_tail %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['sankey']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'From');
            data.addColumn('string', 'To');
            data.addColumn('number', '');
            data.addRows([
                ['Web Reg', 'facebook login', {{ web_facebook_login_reg }}],
                ['facebook login', 'input name ', {{ web_facebook_input_name  }}],
                ['facebook login', 'Loss', {{ web_facebook_login_reg - web_facebook_input_name }}],
                ['input name ', 'select avatar', {{ web_facebook_select_avatar }}],
                ['input name ', 'Loss', {{ web_facebook_input_name - web_facebook_select_avatar }}],
                ['select avatar', 'New Dau', {{ web_facebook_new_dau }}],
                ['select avatar', 'Loss', {{ web_facebook_select_avatar - web_facebook_new_dau }}],

                ['Web Reg', 'email reg', {{ web_email_reg}}],
                ['email reg', ' input name ', {{ web_email_input_name }}],
                ['email reg', 'Loss', {{ web_email_reg - web_email_input_name }}],
                [' input name ', ' select avatar', {{   web_email_select_avatar  }}],
                [' input name ', 'Loss', {{ web_email_input_name - web_email_select_avatar }}],
                [' select avatar', 'email validated', {{   web_email_validated  }}],
                [' select avatar', 'Loss', {{ web_email_select_avatar - web_email_validated }}],
                ['email validated', 'New Dau', {{  web_email_new_dau }}],
                ['email validated', 'Loss', {{   web_email_validated - web_email_new_dau }}]
            ]);

            var colors = ['#a6cee3', '#b2df8a', '#fb9a99', '#fdbf6f',
                '#cab2d6', '#ffff99', '#1f78b4', '#33a02c'];


            var options = {
                height: 400,
                width: 1000,
                sankey: {
                    node: {
                        nodePadding: 110
                    },
                    link: {

                        colorMode: 'gradient',
                        colors: colors

                    }
                }
            };
            // Instantiates and draws our chart, passing in some options.
            var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
            chart.draw(data, options);
        }
    </script>


{% endblock %}




