{% extends "layout/app.html" %}

{% block page_title %}User Profile{% endblock %}

{% block head_tail %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/cal-heatmap/3.6.0/cal-heatmap.css">

    <style>

        .blankslate-icon {
            margin-bottom: 8px;
            margin-left: 4px;
            height: 80px;
            color: #a3aab1;
        }

        .octicon {
            vertical-align: text-bottom;
        }

        .cal-heatmap-container .graph-label {
            fill: #999;
            font-size: 14px;
        }

        .octicon {
            display: inline-block;
            vertical-align: text-top;
            fill: currentColor;
        }

        .blankslate {
            position: relative;
            padding: 32px;
            text-align: center;
            background-color: #fafbfc;
            border: 1px solid #e1e4e8;
            border-radius: 3px;
            box-shadow: inset 0 0 10px rgba(27, 31, 35, 0.05)
        }

    </style>

{% endblock %}

{% block main_content %}

    <section class="content-header">
        <h1>User Profile</h1>
    </section>

    {% if user_id %}

        <section class="content">

            <div class="box box-primary">

                <div class="box-body">

                    <div class="row">

                        <div class="col-md-3 col-md-offset-1">

                            <div class="profile-image">

                                <img src="{{ avatar_url }}" class="img-circle" alt="profile" width="125px"></div>
                            <div class="profile-info">
                                <a id='more_info'>
                                    <h3 class="no-margins" id='user_index'
                                        style=" width: 125px; text-align: center;">{{ user_index }}</h3>

                                </a>
                            </div>

                        </div>

                        <div class="col-md-8">

                            <div class="row">

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-aqua"><i
                                                class="fa  fa-calendar-plus-o"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Reg Time</span>
                                            <span class="info-box-number" style="margin-top: 20px">{{ reg_time }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="info-box">
                                    <span class="info-box-icon bg-yellow">

                                       <svg xmlns="http://www.w3.org/2000/svg"  version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;  ;width: 100px;height: 70px;padding-top: 20px;" xml:space="preserve" width="512px" height="512px"> <g> <path d="M30,26c3.86,0,7-3.141,7-7s-3.14-7-7-7s-7,3.141-7,7S26.14,26,30,26z M30,14c2.757,0,5,2.243,5,5s-2.243,5-5,5   s-5-2.243-5-5S27.243,14,30,14z" fill="#FFFFFF"/>
	<path d="M29.823,54.757L45.164,32.6c5.754-7.671,4.922-20.28-1.781-26.982C39.761,1.995,34.945,0,29.823,0   s-9.938,1.995-13.56,5.617c-6.703,6.702-7.535,19.311-1.804,26.952L29.823,54.757z M17.677,7.031C20.922,3.787,25.235,2,29.823,2   s8.901,1.787,12.146,5.031c6.05,6.049,6.795,17.437,1.573,24.399L29.823,51.243L16.082,31.4   C10.882,24.468,11.628,13.08,17.677,7.031z" fill="#FFFFFF"/>
	<path d="M42.117,43.007c-0.55-0.067-1.046,0.327-1.11,0.876s0.328,1.046,0.876,1.11C52.399,46.231,58,49.567,58,51.5   c0,2.714-10.652,6.5-28,6.5S2,54.214,2,51.5c0-1.933,5.601-5.269,16.117-6.507c0.548-0.064,0.94-0.562,0.876-1.11   c-0.065-0.549-0.561-0.945-1.11-0.876C7.354,44.247,0,47.739,0,51.5C0,55.724,10.305,60,30,60s30-4.276,30-8.5   C60,47.739,52.646,44.247,42.117,43.007z" fill="#FFFFFF"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                    </span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Location</span>
                                            <span class="info-box-number"
                                                  style="margin-top: 20px">{{ reg_state }}</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-purple"><i class="fa fa-gamepad "></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Activity</span>
                                            <span class="info-box-number"
                                                  style="margin-top: 20px">{{ activity_level[0] }}
                                                    <span class="summary-separater"
                                                          style="color: black">/</span> {{ activity_level[1] }}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="info-box">
                                    <span class="info-box-icon bg-teal">

                                        <svg xmlns="http://www.w3.org/2000/svg"  version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 23.382 23.382" style="enable-background:new 0 0 23.382 23.382; width: 100px; height: 70px; padding-top: 12px;padding-right: 15px " xml:space="preserve" width="512px" height="512px">
<g>
	<path d="M14.58,15.181c0.438-0.732,1.082-1.107,1.936-1.117c0.854-0.01,1.285-0.445,1.299-1.301   c0.012-0.852,0.383-1.496,1.115-1.932c0.734-0.438,0.893-1.027,0.475-1.773c-0.416-0.744-0.416-1.488,0-2.234   c0.418-0.744,0.26-1.332-0.475-1.77c-0.732-0.439-1.104-1.082-1.115-1.938c-0.014-0.852-0.445-1.287-1.299-1.297   c-0.854-0.012-1.498-0.385-1.936-1.117c-0.438-0.734-1.027-0.893-1.771-0.475c-0.744,0.416-1.49,0.416-2.234,0   C9.83-0.19,9.241-0.032,8.803,0.702C8.366,1.435,7.721,1.808,6.868,1.819c-0.852,0.01-1.285,0.445-1.297,1.297   C5.557,3.972,5.186,4.614,4.454,5.054C3.72,5.492,3.559,6.079,3.979,6.824c0.418,0.746,0.418,1.49,0,2.234   c-0.42,0.746-0.26,1.336,0.475,1.773c0.732,0.436,1.104,1.08,1.117,1.932c0.012,0.855,0.445,1.291,1.297,1.301   c0.854,0.01,1.498,0.385,1.936,1.117c0.438,0.734,1.027,0.893,1.771,0.473c0.744-0.412,1.49-0.412,2.234,0   C13.553,16.073,14.143,15.915,14.58,15.181z M11.694,12.614c-2.582,0-4.674-2.092-4.674-4.674c0-2.58,2.092-4.672,4.674-4.672   c2.58,0,4.672,2.092,4.672,4.672C16.366,10.522,14.274,12.614,11.694,12.614z" fill="#FFFFFF"/>
	<path d="M6.793,14.749c-0.898,0-1.018-0.418-1.018-0.418l-3.507,6.893l2.812-0.316l1.555,2.34c0,0,3.24-6.76,3.24-6.715   C8.196,16.491,8.864,14.794,6.793,14.749z" fill="#FFFFFF"/>
	<path d="M17.563,14.601c-2.562,0.268-2.041,0.904-2.627,1.398c-0.674,0.719-1.516,0.578-1.516,0.578l3.955,6.805l0.973-2.52   l2.766,0.361L17.563,14.601z" fill="#FFFFFF"/>
	<polygon points="12.67,6.909 11.692,4.929 10.713,6.909 8.524,7.229 10.106,8.772 9.733,10.954 11.692,9.925 13.651,10.954    13.278,8.772 14.86,7.229  " fill="#FFFFFF"/>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>



                                    </span>
                                        <div class="info-box-content">
                                            <span class="info-box-text"> Win Ratio</span>
                                            <span class="info-box-number"
                                                  style="margin-top: 20px">{{ wins_count }}<span
                                                    class="summary-separater"
                                                    style="color: black">/</span> {{ play_count }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-green"><i
                                                class="fa fa-dollar"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">purchase</span>
                                            <span class="info-box-number"
                                                  style="margin-top: 20px">{{ purchase }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="info-box">
                                            <span class="info-box-icon bg-red"> <svg xmlns="http://www.w3.org/2000/svg"  version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 435.21 435.21" style="enable-background:new 0 0 435.21 435.21;width: 100px;height: 70px;padding-top: 20px;" xml:space="preserve" width="512px" height="512px" class="__web-inspector-hide-shortcut__"> <g> <g> <path d="M151.718,252.908c-11.182-11.182-18.099-26.634-18.099-43.694v16.128c0,17.065,6.917,32.512,18.099,43.699    c8.156,8.156,18.601,14.003,30.269,16.594c-0.015-0.625-0.061-1.244-0.061-1.869v-14.275    C170.278,266.89,159.859,261.053,151.718,252.908z" fill="#FFFFFF"></path> <path d="M257.206,115.41v0.203c0-0.068,0.005-0.135,0.005-0.203H257.206z" fill="#FFFFFF"></path> <circle cx="102.72" cy="350.582" r="30.899" fill="#FFFFFF"></circle> <path d="M195.412,193.336c0.906,0,1.782-0.097,2.678-0.133c0.333-0.445,0.63-0.829,0.932-1.193    c12.186-14.858,29.373-24.279,48.159-26.788c6.318-9.692,10.025-21.248,10.025-33.679v-15.93    c-0.11,34.036-27.731,61.596-61.793,61.596c-17.065,0-32.512-6.917-43.699-18.099c-11.182-11.182-18.099-26.634-18.099-43.699    v16.128c0,17.065,6.917,32.512,18.099,43.699C162.895,186.419,178.348,193.336,195.412,193.336z" fill="#FFFFFF"></path> <path d="M257.211,138.86c0,9.277-2.104,18.043-5.765,25.943c1.643-0.123,3.292-0.256,4.956-0.276    c0.486-3.118,0.809-6.287,0.809-9.539V138.86z" fill="#FFFFFF"></path> <path d="M195.412,169.887c34.13,0,61.798-27.669,61.798-61.798V91.96c0,34.13-27.669,61.798-61.798,61.798    c-17.065,0-32.512-6.917-43.699-18.099c-11.182-11.182-18.099-26.634-18.099-43.699v16.128c0,17.065,6.917,32.512,18.099,43.699    C162.895,162.97,178.348,169.887,195.412,169.887z" fill="#FFFFFF"></path> <path d="M257.211,162.314c0,0.737-0.082,1.449-0.108,2.176c0.031,0,0.067-0.005,0.108-0.005V162.314z" fill="#FFFFFF"></path> <path d="M293.332,132.434c0.701,0.573,1.439,1.075,2.156,1.613c0.891,0.671,1.766,1.362,2.698,1.981    c0.87,0.584,1.777,1.091,2.673,1.623c0.835,0.497,1.649,1.024,2.509,1.485c0.911,0.486,1.853,0.901,2.78,1.341    c0.896,0.425,1.782,0.87,2.703,1.254c0.901,0.374,1.818,0.671,2.734,0.998c0.988,0.358,1.966,0.732,2.975,1.039    c0.906,0.276,1.833,0.476,2.749,0.707c1.034,0.261,2.058,0.553,3.118,0.763c1.055,0.21,2.12,0.333,3.185,0.486    c0.932,0.133,1.843,0.312,2.79,0.404c1.976,0.195,3.958,0.297,5.944,0.302c0.051,0,0.097,0.005,0.148,0.005    c19.261,0,36.46-8.817,47.795-22.636c0.573-0.696,1.065-1.428,1.603-2.145c0.676-0.896,1.367-1.777,1.997-2.714    c0.579-0.865,1.08-1.761,1.608-2.647c0.507-0.845,1.034-1.669,1.5-2.539c0.486-0.906,0.896-1.838,1.331-2.765    c0.425-0.901,0.875-1.787,1.26-2.714c0.374-0.901,0.671-1.818,0.998-2.734c0.358-0.988,0.732-1.966,1.039-2.975    c0.276-0.906,0.476-1.833,0.707-2.749c0.261-1.034,0.553-2.058,0.763-3.118c0.21-1.055,0.333-2.12,0.486-3.185    c0.133-0.932,0.312-1.843,0.404-2.79c0.195-1.976,0.297-3.958,0.302-5.944c0-0.051,0.005-0.097,0.005-0.148    c0-19.261-8.822-36.465-22.635-47.795c-0.691-0.568-1.418-1.06-2.125-1.592c-0.901-0.676-1.787-1.377-2.729-2.007    c-0.865-0.579-1.761-1.08-2.647-1.608c-0.845-0.507-1.669-1.034-2.54-1.5c-0.906-0.486-1.838-0.896-2.765-1.331    c-0.901-0.425-1.787-0.876-2.714-1.26c-0.901-0.374-1.818-0.671-2.734-0.998c-0.988-0.358-1.966-0.732-2.975-1.039    c-0.906-0.276-1.833-0.476-2.749-0.707c-1.034-0.261-2.058-0.553-3.118-0.763c-1.055-0.21-2.12-0.333-3.185-0.486    c-0.932-0.133-1.843-0.312-2.79-0.404c-1.976-0.195-3.958-0.297-5.944-0.302c-0.051,0-0.097-0.005-0.148-0.005    c-19.261,0-36.465,8.822-47.795,22.636c-0.568,0.691-1.06,1.418-1.592,2.125c-0.676,0.901-1.377,1.787-2.007,2.729    c-0.579,0.865-1.08,1.761-1.608,2.647c-0.507,0.845-1.034,1.669-1.5,2.54c-0.481,0.906-0.891,1.833-1.326,2.755    c-0.43,0.906-0.881,1.797-1.265,2.729c-0.369,0.896-0.666,1.807-0.993,2.714c-0.358,0.993-0.737,1.976-1.044,2.99    c-0.276,0.906-0.476,1.833-0.707,2.749c-0.261,1.034-0.553,2.058-0.763,3.118c-0.21,1.055-0.333,2.12-0.486,3.185    c-0.133,0.932-0.312,1.843-0.404,2.79c-0.195,1.976-0.297,3.958-0.302,5.944c0,0.051-0.005,0.097-0.005,0.148    C270.702,103.9,279.519,121.098,293.332,132.434z M288.801,84.644v-0.005c0-12.068,4.89-22.989,12.8-30.899l-8.013-8.008    c9.969-9.969,23.731-16.143,38.907-16.143v11.356c12.068,0,22.989,4.89,30.899,12.8l8.013-8.013    c9.969,9.969,16.143,23.731,16.143,38.907h-11.356c0,12.068-4.89,22.989-12.8,30.899l8.013,8.013    c-9.969,9.969-23.731,16.143-38.907,16.143v-11.356c-12.068,0-22.989-4.89-30.899-12.8l-8.013,8.013    c-9.969-9.969-16.143-23.731-16.143-38.907H288.801z" fill="#FFFFFF"></path> <path d="M275.059,166.682l1.29,0.328c0.901,0.215,1.792,0.44,2.683,0.707c0.666,0.2,1.3,0.435,1.94,0.666    c-6.477-9.774-10.266-21.478-10.266-34.079v16.128c0,5.443,0.773,10.691,2.094,15.718    C273.549,166.318,274.301,166.487,275.059,166.682z" fill="#FFFFFF"></path> <path d="M288.781,171.474l1.116,0.532c0.937,0.43,1.874,0.87,2.79,1.362c0.829,0.44,1.638,0.927,2.442,1.418l1.326,0.794    c0.87,0.512,1.736,1.029,2.58,1.597c0.937,0.625,1.843,1.306,2.749,1.997l0.558,0.425c1.208,0.87,1.91,1.393,2.596,1.951    c1.951,1.603,3.779,3.318,5.54,5.084c6.845,2.616,14.244,4.106,22.011,4.106c34.13,0,61.798-27.668,61.798-61.798v-16.128    c0.005,34.14-27.663,61.804-61.793,61.804c-17.065,0-32.512-6.917-43.699-18.099c-11.182-11.182-18.099-26.634-18.099-43.699    v16.128c0,16.097,6.205,30.71,16.292,41.708C287.588,170.926,288.187,171.187,288.781,171.474z" fill="#FFFFFF"></path> <circle cx="332.495" cy="84.639" r="30.899" fill="#FFFFFF"></circle> <path d="M195.412,146.437c34.13,0,61.798-27.668,61.798-61.798V68.511c0,34.13-27.669,61.798-61.798,61.798    c-17.065,0-32.512-6.917-43.699-18.099c-11.182-11.182-18.099-26.634-18.099-43.699v16.128c0,17.065,6.917,32.512,18.099,43.699    C162.895,139.52,178.348,146.437,195.412,146.437z" fill="#FFFFFF"></path> <path d="M270.702,165.745c0.297,0.051,0.599,0.087,0.896,0.143c-0.543-3.297-0.896-6.656-0.896-10.107V165.745z" fill="#FFFFFF"></path> <path d="M156.25,109.599c0.701,0.573,1.439,1.075,2.156,1.613c0.891,0.671,1.766,1.362,2.698,1.981    c0.87,0.584,1.777,1.091,2.673,1.623c0.835,0.497,1.649,1.024,2.509,1.485c0.911,0.486,1.853,0.901,2.78,1.341    c0.896,0.425,1.782,0.87,2.703,1.254c0.901,0.374,1.818,0.671,2.734,0.998c0.988,0.358,1.966,0.732,2.975,1.039    c0.906,0.276,1.833,0.476,2.749,0.707c1.034,0.261,2.058,0.553,3.118,0.763c1.055,0.21,2.12,0.333,3.185,0.486    c0.932,0.133,1.843,0.312,2.79,0.404c1.976,0.195,3.958,0.297,5.944,0.302c0.051,0,0.097,0.005,0.148,0.005    c19.261,0,36.459-8.817,47.795-22.635c0.573-0.696,1.065-1.428,1.603-2.145c0.676-0.896,1.367-1.777,1.997-2.714    c0.579-0.865,1.08-1.761,1.608-2.647c0.507-0.845,1.034-1.669,1.5-2.54c0.486-0.906,0.896-1.838,1.331-2.765    c0.425-0.901,0.876-1.787,1.26-2.714c0.374-0.901,0.671-1.818,0.998-2.734c0.358-0.988,0.732-1.966,1.039-2.975    c0.276-0.906,0.476-1.833,0.707-2.749c0.261-1.034,0.553-2.058,0.763-3.118c0.21-1.055,0.333-2.12,0.486-3.185    c0.133-0.932,0.312-1.843,0.404-2.79c0.195-1.976,0.297-3.958,0.302-5.944c0-0.051,0.005-0.097,0.005-0.148    c0-19.261-8.822-36.465-22.636-47.795c-0.691-0.568-1.418-1.06-2.125-1.592c-0.901-0.676-1.787-1.377-2.729-2.007    c-0.865-0.579-1.761-1.08-2.647-1.608c-0.845-0.507-1.669-1.034-2.539-1.5c-0.906-0.486-1.838-0.896-2.765-1.331    c-0.901-0.425-1.787-0.875-2.714-1.26c-0.901-0.374-1.818-0.671-2.734-0.998c-0.988-0.358-1.966-0.732-2.975-1.039    c-0.906-0.276-1.833-0.476-2.749-0.707c-1.034-0.261-2.058-0.553-3.118-0.763c-1.055-0.21-2.12-0.333-3.185-0.486    c-0.932-0.133-1.843-0.312-2.79-0.404c-1.976-0.195-3.958-0.297-5.944-0.302c-0.051,0-0.097-0.005-0.148-0.005    c-19.261,0-36.465,8.822-47.795,22.635c-0.568,0.691-1.06,1.418-1.592,2.125c-0.676,0.901-1.377,1.787-2.007,2.729    c-0.579,0.865-1.08,1.761-1.608,2.647c-0.507,0.845-1.034,1.669-1.5,2.539c-0.481,0.906-0.891,1.833-1.326,2.755    c-0.43,0.906-0.881,1.797-1.265,2.729c-0.369,0.896-0.666,1.807-0.993,2.714c-0.358,0.993-0.737,1.976-1.044,2.99    c-0.276,0.906-0.476,1.833-0.707,2.749c-0.261,1.034-0.553,2.058-0.763,3.118c-0.21,1.055-0.333,2.12-0.486,3.185    c-0.133,0.932-0.312,1.843-0.404,2.79c-0.195,1.976-0.297,3.958-0.302,5.944c0,0.051-0.005,0.097-0.005,0.148    C133.614,81.07,142.436,98.268,156.25,109.599z M151.718,61.804c0-12.068,4.89-22.989,12.8-30.899l-8.013-8.013    c9.969-9.969,23.731-16.143,38.907-16.143v11.356c12.068,0,22.989,4.89,30.899,12.8l8.013-8.013    c9.969,9.969,16.143,23.731,16.143,38.907h-11.356c0,12.068-4.89,22.989-12.8,30.899l8.013,8.013    c-9.969,9.969-23.731,16.143-38.907,16.143v-11.356c-12.068,0-22.989-4.89-30.899-12.8l-8.013,8.013    c-9.969-9.969-16.143-23.731-16.143-38.907H151.718z" fill="#FFFFFF"></path> <circle cx="195.412" cy="61.804" r="30.899" fill="#FFFFFF"></circle> <path d="M133.619,162.309v16.128c0,17.065,6.917,32.512,18.099,43.699c8.151,8.151,18.586,13.993,30.239,16.589    c0.031-2.13,0.128-4.255,0.338-6.364c0.087-0.881,0.215-1.761,0.353-2.637l0.225-1.526c0.143-1.05,0.297-2.099,0.507-3.139    c0.133-0.681,0.317-1.377,0.486-2.068c-12.426-2.35-23.557-8.387-32.148-16.983C140.536,194.826,133.619,179.374,133.619,162.309z    " fill="#FFFFFF"></path> <path d="M332.495,260.536v2.068c0,1.69-0.056,3.364-0.164,5.028h0.164v9.032c34.13,0,61.798-27.669,61.798-61.798v-16.128    C394.294,232.868,366.625,260.536,332.495,260.536z" fill="#FFFFFF"></path> <path d="M332.495,282.015v1.746c0,1.69-0.056,3.364-0.164,5.028h0.164v9.359c34.13,0,61.798-27.668,61.798-61.798v-16.128    C394.294,254.346,366.625,282.015,332.495,282.015z" fill="#FFFFFF"></path> <path d="M332.495,239.058c-0.015,0-0.026,0-0.041,0c0,0.241,0.041,0.476,0.041,0.717l-0.01,0.579    c-0.015,2.053-0.118,4.096-0.297,6.129h0.307v8.709c34.13,0,61.798-27.669,61.798-61.798v-16.128    C394.294,211.389,366.625,239.058,332.495,239.058z" fill="#FFFFFF"></path> <path d="M63.552,398.377c0.701,0.573,1.439,1.075,2.156,1.613c0.891,0.671,1.766,1.362,2.698,1.981    c0.87,0.584,1.777,1.091,2.673,1.623c0.835,0.497,1.649,1.024,2.509,1.485c0.911,0.486,1.853,0.901,2.78,1.341    c0.896,0.425,1.782,0.87,2.703,1.254c0.901,0.374,1.818,0.671,2.734,0.998c0.988,0.358,1.966,0.732,2.975,1.039    c0.906,0.276,1.833,0.476,2.749,0.707c1.034,0.261,2.058,0.553,3.118,0.763c1.055,0.21,2.12,0.333,3.185,0.486    c0.932,0.133,1.843,0.312,2.79,0.404c1.976,0.195,3.958,0.297,5.944,0.302c0.051,0,0.097,0.005,0.148,0.005    c19.261,0,36.46-8.817,47.795-22.635c0.573-0.696,1.065-1.428,1.603-2.145c0.676-0.896,1.367-1.777,1.997-2.714    c0.579-0.865,1.08-1.761,1.608-2.647c0.507-0.845,1.034-1.669,1.5-2.539c0.486-0.906,0.896-1.838,1.331-2.765    c0.425-0.901,0.876-1.787,1.26-2.714c0.374-0.901,0.671-1.818,0.998-2.734c0.358-0.988,0.732-1.966,1.039-2.975    c0.276-0.906,0.476-1.833,0.707-2.749c0.261-1.034,0.553-2.058,0.763-3.118c0.21-1.055,0.333-2.12,0.486-3.185    c0.133-0.932,0.312-1.843,0.404-2.79c0.195-1.976,0.297-3.958,0.302-5.944c0-0.051,0.005-0.097,0.005-0.148    c0-19.256-8.817-36.454-22.635-47.79c-0.691-0.568-1.418-1.06-2.125-1.592c-0.901-0.676-1.787-1.377-2.729-2.007    c-0.865-0.579-1.761-1.08-2.647-1.608c-0.845-0.507-1.669-1.034-2.54-1.5c-0.906-0.486-1.838-0.896-2.765-1.331    c-0.901-0.425-1.787-0.875-2.714-1.26c-0.901-0.374-1.818-0.671-2.734-0.998c-0.988-0.358-1.966-0.732-2.975-1.039    c-0.906-0.276-1.833-0.476-2.749-0.707c-1.034-0.261-2.058-0.553-3.118-0.763c-1.055-0.21-2.12-0.333-3.185-0.486    c-0.932-0.133-1.843-0.312-2.79-0.404c-1.976-0.195-3.958-0.297-5.944-0.302c-0.051,0-0.097-0.005-0.148-0.005    c-19.261,0-36.465,8.822-47.795,22.635c-0.568,0.691-1.06,1.418-1.592,2.125c-0.676,0.901-1.377,1.787-2.007,2.729    c-0.579,0.865-1.08,1.761-1.608,2.647c-0.507,0.845-1.034,1.669-1.5,2.54c-0.481,0.906-0.891,1.833-1.326,2.755    c-0.43,0.906-0.881,1.797-1.265,2.729c-0.369,0.896-0.666,1.807-0.993,2.714c-0.358,0.993-0.737,1.976-1.044,2.99    c-0.276,0.906-0.476,1.833-0.707,2.749c-0.261,1.034-0.553,2.058-0.763,3.118c-0.21,1.055-0.333,2.12-0.486,3.185    c-0.133,0.932-0.312,1.843-0.404,2.79c-0.195,1.976-0.297,3.958-0.302,5.944c0,0.051-0.005,0.097-0.005,0.148    C40.916,369.843,49.733,387.041,63.552,398.377z M59.021,350.587c0-12.068,4.89-22.989,12.8-30.899l-8.013-8.013    c9.969-9.969,23.731-16.143,38.907-16.143v11.356c12.068,0,22.989,4.89,30.899,12.8l8.013-8.013    c9.969,9.969,16.143,23.731,16.143,38.907h-11.356c0,12.068-4.89,22.989-12.8,30.899l8.013,8.013    c-9.969,9.969-23.731,16.143-38.907,16.143v-11.356c-12.068,0-22.989-4.89-30.899-12.8l-8.013,8.013    c-9.969-9.969-16.143-23.731-16.143-38.907H59.021z" fill="#FFFFFF"></path> <path d="M332.495,153.139c-17.065,0-32.512-6.917-43.699-18.099c-11.182-11.182-18.099-26.634-18.099-43.699v16.128    c0,17.065,6.917,32.512,18.099,43.699c11.182,11.182,26.634,18.099,43.699,18.099c34.13,0,61.798-27.668,61.798-61.798V91.341    C394.294,125.476,366.625,153.139,332.495,153.139z" fill="#FFFFFF"></path> <circle cx="257.211" cy="239.77" r="30.899" fill="#FFFFFF"></circle> <path d="M332.495,217.574c-1.172,0-2.319-0.113-3.477-0.174c1.633,5.258,2.688,10.706,3.139,16.287    c0.113,0,0.225,0.015,0.338,0.015c34.13,0,61.798-27.668,61.798-61.798v-16.128C394.294,189.911,366.625,217.574,332.495,217.574z    " fill="#FFFFFF"></path> <path d="M332.495,196.096c-5.361,0-10.532-0.753-15.493-2.038c4.198,5.478,7.531,11.515,10.071,17.894    c1.792,0.154,3.594,0.271,5.422,0.271c34.13,0,61.798-27.668,61.798-61.798v-16.128    C394.294,168.433,366.625,196.096,332.495,196.096z" fill="#FFFFFF"></path> <path d="M296.374,191.974c-0.691-0.568-1.418-1.06-2.125-1.592c-0.901-0.676-1.787-1.377-2.729-2.007    c-0.865-0.579-1.761-1.08-2.647-1.608c-0.845-0.507-1.669-1.034-2.54-1.5c-0.906-0.486-1.838-0.896-2.765-1.331    c-0.901-0.425-1.787-0.876-2.714-1.26c-0.901-0.374-1.818-0.671-2.734-0.998c-0.988-0.358-1.966-0.732-2.975-1.039    c-0.906-0.276-1.833-0.476-2.749-0.707c-1.034-0.261-2.058-0.553-3.118-0.763c-1.055-0.21-2.12-0.333-3.185-0.486    c-0.932-0.133-1.843-0.312-2.79-0.404c-1.976-0.195-3.958-0.297-5.944-0.302c-0.051,0-0.097-0.005-0.148-0.005    c-19.261,0-36.465,8.822-47.795,22.635c-0.568,0.691-1.06,1.418-1.592,2.125c-0.676,0.901-1.377,1.787-2.007,2.729    c-0.579,0.865-1.08,1.761-1.608,2.647c-0.507,0.845-1.034,1.669-1.5,2.539c-0.481,0.906-0.891,1.833-1.326,2.755    c-0.43,0.906-0.881,1.797-1.265,2.729c-0.369,0.896-0.666,1.807-0.993,2.714c-0.358,0.993-0.737,1.976-1.044,2.99    c-0.276,0.906-0.476,1.833-0.707,2.749c-0.261,1.034-0.553,2.058-0.763,3.118c-0.21,1.055-0.333,2.12-0.486,3.185    c-0.133,0.932-0.312,1.843-0.404,2.79c-0.195,1.976-0.297,3.958-0.302,5.944c0,0.051-0.005,0.097-0.005,0.148    c0,19.261,8.817,36.459,22.636,47.795c0.701,0.573,1.439,1.075,2.156,1.613c0.891,0.671,1.766,1.362,2.698,1.981    c0.87,0.584,1.777,1.091,2.673,1.623c0.835,0.497,1.649,1.024,2.509,1.485c0.911,0.486,1.853,0.901,2.78,1.341    c0.896,0.425,1.782,0.87,2.703,1.254c0.901,0.374,1.818,0.671,2.734,0.998c0.988,0.358,1.966,0.732,2.975,1.039    c0.906,0.276,1.833,0.476,2.749,0.707c1.034,0.261,2.058,0.553,3.118,0.763c1.055,0.21,2.12,0.333,3.185,0.486    c0.932,0.133,1.843,0.312,2.79,0.404c1.976,0.195,3.958,0.297,5.944,0.302c0.051,0,0.097,0.005,0.148,0.005    c19.261,0,36.46-8.817,47.795-22.635c0.573-0.696,1.065-1.429,1.603-2.145c0.676-0.896,1.367-1.777,1.997-2.714    c0.579-0.865,1.08-1.761,1.608-2.647c0.507-0.845,1.034-1.669,1.5-2.539c0.486-0.906,0.896-1.838,1.331-2.765    c0.425-0.901,0.875-1.787,1.26-2.714c0.374-0.901,0.671-1.818,0.998-2.734c0.358-0.988,0.732-1.966,1.039-2.975    c0.276-0.906,0.476-1.833,0.707-2.749c0.261-1.034,0.553-2.058,0.763-3.118c0.21-1.055,0.333-2.12,0.486-3.185    c0.133-0.932,0.312-1.843,0.404-2.79c0.195-1.976,0.297-3.958,0.302-5.944c0-0.051,0.005-0.097,0.005-0.148    C319.009,220.508,310.188,203.31,296.374,191.974z M300.905,239.77c0,12.068-4.89,22.989-12.8,30.899l8.013,8.013    c-9.969,9.969-23.731,16.143-38.907,16.143v-11.356c-12.068,0-22.989-4.89-30.899-12.8l-8.013,8.013    c-9.969-9.969-16.143-23.731-16.143-38.907h11.356c0-12.068,4.89-22.989,12.8-30.899l-8.013-8.013    c9.969-9.969,23.731-16.143,38.907-16.143v11.356c12.068,0,22.989,4.89,30.899,12.8l8.013-8.013    c9.969,9.969,16.143,23.731,16.143,38.907H300.905z" fill="#FFFFFF"></path> <path d="M133.619,138.86v16.128c0,17.065,6.917,32.512,18.099,43.699c9.042,9.042,20.9,15.222,34.12,17.285    c0.133-0.379,0.251-0.758,0.389-1.137l0.435-1.208c0.317-0.901,0.64-1.797,1.003-2.683c0.364-0.876,0.778-1.761,1.203-2.642    l0.307-0.645c0.717-1.531,1.147-2.447,1.628-3.349c0.486-0.911,0.993-1.741,1.5-2.575l0.655-1.096    c0.021-0.031,0.041-0.061,0.061-0.097c-16.108-0.625-30.653-7.332-41.303-17.981C140.536,171.377,133.619,155.925,133.619,138.86z    " fill="#FFFFFF"></path> <path d="M151.718,229.458c-11.182-11.182-18.099-26.634-18.099-43.694v16.128c0,17.065,6.917,32.512,18.099,43.699    c8.141,8.141,18.565,13.983,30.208,16.579v-15.693h0.297c-0.01-0.123-0.005-0.246-0.015-0.369    C170.447,243.543,159.926,237.665,151.718,229.458z" fill="#FFFFFF"></path> <path d="M181.921,292.936c-11.643-2.596-22.062-8.433-30.208-16.579c-11.182-11.182-18.099-26.634-18.099-43.699v16.128    c0,17.065,6.917,32.512,18.099,43.699c8.182,8.182,18.667,14.049,30.382,16.625c-0.077-1.393-0.174-2.785-0.174-4.193V292.936z" fill="#FFFFFF"></path> <path d="M102.72,419.082c-17.065,0-32.512-6.917-43.699-18.099c-11.182-11.182-18.099-26.634-18.099-43.699v16.128    c0,17.065,6.917,32.512,18.099,43.699c11.182,11.182,26.634,18.099,43.699,18.099c34.13,0,61.798-27.668,61.798-61.798v-16.128    C164.513,391.414,136.845,419.082,102.72,419.082z" fill="#FFFFFF"></path> <path d="M257.211,308.27c-17.065,0-32.512-6.917-43.699-18.099c-11.182-11.182-18.099-26.634-18.099-43.699V262.6    c0,17.065,6.917,32.512,18.099,43.699c11.182,11.182,26.634,18.099,43.699,18.099c34.13,0,61.798-27.668,61.798-61.798v-16.128    C319.009,280.602,291.341,308.27,257.211,308.27z" fill="#FFFFFF"></path> <path d="M257.211,373.069c-17.065,0-32.512-6.917-43.699-18.099c-11.182-11.182-18.099-26.634-18.099-43.699v16.128    c0,17.065,6.917,32.512,18.099,43.699c11.182,11.182,26.634,18.099,43.699,18.099c34.13,0,61.798-27.668,61.798-61.798V311.27    C319.009,345.4,291.341,373.069,257.211,373.069z" fill="#FFFFFF"></path> <path d="M257.211,329.426c-17.065,0-32.512-6.917-43.699-18.099c-11.182-11.182-18.099-26.634-18.099-43.699v16.128    c0,17.065,6.917,32.512,18.099,43.699c11.182,11.182,26.634,18.099,43.699,18.099c34.13,0,61.798-27.668,61.798-61.798v-16.128    C319.009,301.758,291.341,329.426,257.211,329.426z" fill="#FFFFFF"></path> <path d="M257.211,350.582c-17.065,0-32.512-6.917-43.699-18.099c-11.182-11.182-18.099-26.634-18.099-43.699v16.128    c0,17.065,6.917,32.512,18.099,43.699c11.182,11.182,26.634,18.099,43.699,18.099c34.13,0,61.798-27.669,61.798-61.798v-16.128    C319.009,322.913,291.341,350.582,257.211,350.582z" fill="#FFFFFF"></path> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                                </span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Gold Balance</span>
                                            <span class="info-box-number"
                                                  style="margin-top: 20px">{{ gold_balance }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-12">


                            <div class="box-header with-border">

                                <div class="btn-group" style="float: right">

                                    <button type="button" class="btn btn-ms btn-default" style="margin-right: 20px"
                                            id="btn-activity">
                                        Game Dau
                                    </button>
                                    <button type="button" class="btn btn-ms btn-default" id="btn-purchase">Purchase
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="padding-left: 24px">
                                <div id="cal-heatmap"></div>
                            </div>


                            <div id="user-records-placeholder">

                                <div class="box-header with-border">

                                    <h3 style="text-align: center; margin-bottom: 50px">
                                        Detailed Records
                                        <small style="margin-left: 30px" id='record-date'></small>
                                    </h3>

                                </div>
                                <div class="row docs-premium-template">
                                    <div class="col-sm-12 col-md-3">
                                        <div class="box box-solid">
                                            <div class="box-body">
                                                <h4 style="font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;margin-bottom: 20px">
                                                    DAU Related
                                                </h4>
                                                <div id='user-dau-placeholder'></div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="box box-solid">
                                            <div class="box-body">
                                                <h4 style="font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;margin-bottom: 20px">
                                                    Game Related
                                                </h4>
                                                <div id='user-game-placeholder'></div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-3">
                                        <div class="box box-solid">
                                            <div class="box-body">
                                                <h4 style=" font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0; margin-bottom: 20px">
                                                    Gold Related
                                                </h4>

                                                <div id='user-gold-placeholder'></div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-3">
                                        <div class="box box-solid">
                                            <div class="box-body">

                                                <h4 style="font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;margin-bottom: 20px">
                                                    Dollar Related
                                                </h4>


                                                <div id='user-dollar-placeholder'></div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>


        </section>

    {% else %}

        <section class="content">


            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-6 col-md-offset-3">
                            <div class="blankslate">

                                <svg aria-hidden="true" class="octicon octicon-search blankslate-icon" height="32"
                                     version="1.1"
                                     viewBox="0 0 16 16" width="32">
                                    <path fill-rule="evenodd"
                                          d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path>
                                </svg>

                                <div style="font-size: 30px;font-weight: 600;">We couldn’t find any users matching &nbsp
                                    &nbsp {{ user_index }}</div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </section>

    {% endif %}

{% endblock %}


{% block body_tail %}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/d3js/3.5.17/d3.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/cal-heatmap/3.6.0/cal-heatmap.min.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {

            var id = {{ id }};
            var user_id = {{ user_id }};
            var cal = new CalHeatMap();
            var activityRecords = {{ activity_records | safe }};
            var purchaseRecords = {{ purchase_records | safe }};
            var moreInfoUrl = '/data/bi_user/details/?id=' + id.toString();

            function responsiveCal() {

                var width = window.screen.width;


                if (width > 1800) {
                    return {
                        cellSize: 18,
                        cellPadding: 6
                    }
                } else if (width > 1399 && width < 1799) {
                    return {
                        cellSize: 15,
                        cellPadding: 4
                    }
                } else if (1299 < width && width < 1399) {
                    return {
                        cellSize: 13,
                        cellPadding: 2.5
                    }
                } else if (699 < width && width < 1299) {
                    return {
                        cellSize: 5.5,
                        cellPadding: 1.5
                    }
                } else if (399 < width && width < 699) {
                    return {
                        cellSize: 4.3,
                        cellPadding: 1
                    }
                } else if (349 < width && width < 399) {
                    return {
                        cellSize: 4,
                        cellPadding: 0.7
                    }
                } else if (width < 349) {
                    return {
                        cellSize: 3.3,
                        cellPadding: 0.5
                    }
                }

            }

            var loadingOverlayConfig = {
                image: '',
                fontawesome: 'fa fa-spinner fa-spin',
                maxSize: "26px",
                minSize: "26px"
            };

            function startRequestLoading() {
                $('#user-records-placeholder').LoadingOverlay('show', loadingOverlayConfig);
            }

            function stopRequestLoading() {
                $('#user-records-placeholder').LoadingOverlay('hide', true);
            }


            function getuserEveryDetailRecords(date) {

                var date = date.toLocaleDateString().split('T')[0];
                startRequestLoading();

                $.ajax({
                    type: 'GET',
                    url: '/report/user_records',
                    data: {
                        date: date,
                        user_id: user_id
                    },
                    dataType: 'json',

                    success: function (result) {
                        stopRequestLoading();

                        function placeUserRecordHtml(records, placeHolder) {

                            recordsHtml = [];

                            $.each(records, function (key, value) {
                                recordsHtml.push(
                                    '<div class="col-md-12 ">\
                                    <div class="description-block border-right">\
                                        <span class="description-text">' + key + '</span>\
                    <h5 class="description-header">' + value + '</h5>\
                </div>\
            </div>'
                                )
                            });

                            $(placeHolder).html(
                                recordsHtml.join(' ')
                            );

                        }

                        placeUserRecordHtml(result.dau_related, '#user-dau-placeholder');
                        placeUserRecordHtml(result.gold_related, '#user-gold-placeholder');
                        placeUserRecordHtml(result.game_related, '#user-game-placeholder');
                        placeUserRecordHtml(result.dollar_related, '#user-dollar-placeholder');

                        $('#record-date').text(date)


                    },
                    error: function (xhr) {
                        stopRequestLoading();
                    }
                });


            }


            cal.init({
                data: activityRecords,
                domain: "month",
                cellSize: responsiveCal().cellSize,
                cellPadding: responsiveCal().cellPadding,
                label: {
                    position: "top"
                },
                {#                domainLabelFormat: function (date) {#}
                {#                    return moment(date).format("MMM")#}
                {#                },#}
                start: moment(new Date()).add(-1, 'year').add(1, 'month').toDate(),
                range: 12,
                legendMargin: [30, 0, 30, 30],
                legend: [1, 200, 400, 600, 800, 1000],
                subDomainTextFormat: "%d",
                legendHorizontalPosition: "right",
                onClick: function (date) {

                    getuserEveryDetailRecords(date)
                }

            });

            $("#btn-activity").on("click", function () {
                cal.update(activityRecords);

                $(this).addClass("btn-primary");
                $('#btn-purchase').removeClass("btn-primary");


            });

            $("#btn-purchase").on("click", function () {
                cal.update(purchaseRecords);
                $(this).addClass("btn-primary");
                $('#btn-activity').removeClass("btn-primary");

            });

            $("#btn-activity").trigger('click');

            $('#more_info').attr('href', moreInfoUrl)

        });

    </script>


{% endblock %}