{% import 'admin/layout.html' as layout with context -%}
<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}{% endblock %} - WPT Data Warehouse</title>

    {% block head_meta %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/ico" href="/static/images/icon.jpg" >

    {% endblock %}

    {% block head_css %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/AdminLTE.min.css">

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.8/css/skins/_all-skins.min.css">
    {% endblock %}

    {% assets "common_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <style>
        .control-sidebar-open {

            width: 215px;
        }
    </style>

    {% block head %}{% endblock %}
    {% block head_tail %}{% endblock %}
</head>

<body class="{{ body_class }} hold-transition skin-blue sidebar-mini">
{% block html_body %}

    <div class="wrapper">

        <header class="main-header">
            <a href="https://bi.play-wpt.com" class="logo">
                <span class="logo-mini">DWH</span>
                <span class="logo-lg"> Data Warehouse</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel" style="height: 90px;padding-top: 25px ;padding-right: 20px">

                    <a class="pull-left image" href="/" target="_blank" style="display: block">
                        <img src="/static/images/default_avatar.jpg" class="img-circle">
                    </a>


                    <div class="pull-left info">
                        <p>{{ current_user.name }}</p>
                        <a href="javascript:void(0);">{{ current_user.email }}</a>
                    </div>
                </div>
                <form action="{{ url_for('report.get_user_profile') }}" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="user_index" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                    </div>
                </form>
                <ul class="sidebar-menu">

                    {% if current_user.role=='guest' %}

                        <li><a href="/data/bi_user/"><i class="fa fa-circle-o"></i>BI User</a></li>
                        <li><a href="/data/bi_user_currency/"><i class="fa fa-circle-o"></i>BI User Currency</a>
                        </li>
                        <li><a href="/data/bi_user_bill/"><i class="fa fa-circle-o"></i>BI User Bill</a></li>

                    {% else %}

                        <li class="{{ 'active' if request.path == '/' else '' }}">
                            <a href="{{ url_for('dashboard.index') }}">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="{{ 'active' if request.path.startswith('/sql_lab') else '' }}">

                            <a href="{{ url_for('sql_lab.index') }}">
                                <i class="fa fa-laptop"></i>
                                <span>SQL Lab</span>
                            </a>

                        </li>
                        <li class="treeview {{ 'active' if request.path.startswith('/report')  else '' }}">


                            <a href="#">
                                <i class="fa fa-pie-chart"></i>
                                <span>Visual Reports</span>
                                <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>
                            </a>


                            <ul class="treeview-menu">

                                <li><a href="{{ url_for('report.daily_summary') }}"><i class="fa fa-circle-o"></i>Daily
                                    Summary</a></li>
                                <li><a href="{{ url_for('report.user_region') }}"><i class="fa fa-circle-o"></i>User
                                    Region</a></li>
                                <li><a href="{{ url_for('report.sankey') }}"><i class="fa fa-circle-o"></i>Users Flow
                                    Diagram</a></li>

                            </ul>

                        </li>
                        <li class="treeview {{ 'active' if request.path.startswith('/promotion/email') else '' }}">

                            <a href="#">
                                <i class="fa fa-envelope"></i>
                                <span>Email</span>
                                <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>
                            </a>

                            <ul class="treeview-menu">

                                <li><a href="{{ url_for('promotion.email_notification') }}"><i
                                        class="fa fa-circle-o"></i>Sending</a></li>
                                <li><a href="{{ url_for('promotion.email_cohort_display_panel') }}"><i
                                        class="fa fa-circle-o"></i>Automatic</a></li>


                            </ul>


                        </li>
                        <li class="treeview {{ 'active' if request.path.startswith('/promotion/facebook') else '' }}">

                            <a href="#">
                                <i class="fa fa-facebook"></i>
                                <span>Facebook</span>
                                <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>
                            </a>

                            <ul class="treeview-menu">

                                <li><a href="{{ url_for('promotion.facebook_notification') }}"><i
                                        class="fa fa-circle-o"></i>Sending</a></li>

                                <li><a href="{{ url_for('promotion.facebook_cohort_display_panel') }}"><i
                                        class="fa fa-circle-o"></i>Automatic</a></li>

                            </ul>


                        </li>
                        <li class="treeview {{ 'active' if request.path.startswith('/promotion/mobile')  else '' }}">

                            <a href="#">
                                <i class="fa fa-mobile fa-lg"></i> <span>Mobile</span>
                                <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>
                            </a>

                            <ul class="treeview-menu">


                                <li><a href="{{ url_for('promotion.mobile_notification') }}"><i
                                        class="fa fa-circle-o"></i>Sending</a></li>
                                <li><a href="{{ url_for('promotion.mobile_cohort_display_panel') }}"><i
                                        class="fa fa-circle-o"></i>Automatic</a></li>


                            </ul>

                        </li>
                        <li class="treeview {{ 'active' if request.path.startswith('/data') else '' }}">
                            <a href="#">
                                <i class="fa fa-table"></i> <span>Data</span>
                                <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>
                            </a>
                            <ul class="treeview-menu">
                                {% if admin_view %}
                                    {{ layout.sublevel_menu() }}
                                {% else %}
                                    <li><a href="/data/admin_user/"><i class="fa fa-circle-o"></i>Admin User</a></li>
                                    <li><a href="/data/bi_user/"><i class="fa fa-circle-o"></i>BI User</a></li>
                                    <li><a href="/data/bi_user_currency/"><i class="fa fa-circle-o"></i>BI User Currency</a>
                                    </li>
                                    <li><a href="/data/bi_user_bill/"><i class="fa fa-circle-o"></i>BI User Bill</a>
                                    </li>
                                    <li><a href="/data/bi_clubwpt_user/"><i class="fa fa-circle-o"></i>BI ClubWPT
                                        User</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        <li>
                            <a href="{{ url_for('auto_report.report_display_panel') }}">
                                <i class="fa fa-clock-o"></i> <span>Scheduled Report</span>
                            </a>
                        </li>


                    {% endif %}
                </ul>
                {% block main_menu %}{% endblock %}
            </section>

            <div class="sidebar-footer" style="display: none">
                <b>EST</b>
                <time class="world-time" datetime="{{ display_current_time('America/New_York') | safe }}"></time>
                <br/>
                <b>PST</b>
                <time class="world-time" datetime="{{ display_current_time('America/Los_Angeles') | safe }}"></time>
                <br/>
                <b>GMT-8</b>
                <time class="world-time" datetime="{{ display_current_time('Asia/Hong_Kong') | safe }}"></time>
            </div>

        </aside>
        <div class="content-wrapper">
            {% block messages %}
                {{ layout.messages() }}
            {% endblock %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}

                {% endif %}
            {% endwith %}



            {% block main_content %}

            {% endblock %}
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <a href="{{ url_for('page.changelog') }}">CHANGELOG</a>
            </div>
            <strong>Copyright © 2016-2017</strong> All rights reserved.
        </footer>

        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">

                <li><a href="#control-sidebar-user-tab" data-toggle="tab"><i class="fa fa-user"></i></a></li>

                <li><a href="{{ url_for('wallboard.index') }}"> <i class="fa fa-television" aria-hidden="true"></i> </a>
                </li>

                <li class="active"><a href="#control-sidebar-options-tab" data-toggle="tab"><i class="fa fa-gears"></i></a>
                </li>


            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="control-sidebar-user-tab">
                    <br/>
                    <a class="btn btn-block btn-sm btn-danger" href="{{ url_for('account.sign_out') }}">
                        Sign out
                    </a>
                </div>
                <div class="tab-pane active" id="control-sidebar-options-tab"></div>
            </div>


        </aside>
        <div class="control-sidebar-bg"></div>
    </div>

{% endblock %}

{% block body_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.11/moment-timezone.min.js"
            type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.8/js/app.min.js" type="text/javascript"></script>
{% endblock %}

{% assets "common_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}

<script type="text/javascript">
    $(document).ready(function () {

        moment.tz.add('America/New_York|EST EDT EWT EPT|50 40 40 40|01010101010101010101010101010101010101010101010102301010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010|-261t0 1nX0 11B0 1nX0 11B0 1qL0 1a10 11z0 1qN0 WL0 1qN0 11z0 1o10 11z0 1o10 11z0 1o10 11z0 1o10 11z0 1qN0 11z0 1o10 11z0 1o10 11z0 1o10 11z0 1o10 11z0 1qN0 WL0 1qN0 11z0 1o10 11z0 1o10 11z0 1o10 11z0 1o10 11z0 1qN0 WL0 1qN0 11z0 1o10 11z0 RB0 8x40 iv0 1o10 11z0 1o10 11z0 1o10 11z0 1o10 11z0 1qN0 WL0 1qN0 11z0 1o10 11z0 1o10 11z0 1o10 11z0 1o10 1fz0 1cN0 1cL0 1cN0 1cL0 1cN0 1cL0 1cN0 1cL0 1cN0 1fz0 1cN0 1cL0 1cN0 1cL0 1cN0 1cL0 1cN0 1cL0 1cN0 1fz0 1a10 1fz0 1cN0 1cL0 1cN0 1cL0 1cN0 1cL0 1cN0 1cL0 1cN0 1fz0 1cN0 1cL0 1cN0 1cL0 s10 1Vz0 LB0 1BX0 1cN0 1fz0 1a10 1fz0 1cN0 1cL0 1cN0 1cL0 1cN0 1cL0 1cN0 1cL0 1cN0 1fz0 1a10 1fz0 1cN0 1cL0 1cN0 1cL0 1cN0 1cL0 14p0 1lb0 14p0 1nX0 11B0 1nX0 11B0 1nX0 14p0 1lb0 14p0 1lb0 14p0 1nX0 11B0 1nX0 11B0 1nX0 14p0 1lb0 14p0 1lb0 14p0 1lb0 14p0 1nX0 11B0 1nX0 11B0 1nX0 14p0 1lb0 14p0 1lb0 14p0 1nX0 11B0 1nX0 11B0 1nX0 Rd0 1zb0 Op0 1zb0 Op0 1zb0 Rd0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Rd0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Rd0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Rd0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Rd0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0 Op0 1zb0|21e6');
        moment.tz.setDefault("America/New_York");

        function updateWorldTime() {
            $('time.world-time').each(function (i, e) {
                var time = moment($(e).attr('datetime')).format('lll');
                $(this).html(time);
            });
        }

        updateWorldTime();
        setInterval(function () {
            updateWorldTime();
        }, 30 * 1000);


    });

</script>


{% block body_tail %}{% endblock %}
</body>
</html>
