{% extends "layout/app.html" %}

{% block page_title %}SQL Lab{% endblock %}

{% block head_tail %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/show-hint.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/css/dataTables.bootstrap.min.css">

    <style>


        .tag span {
            word-wrap: break-word;
        }

        .tag {
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            display: block;
            float: left;
            padding: 5px;
            text-decoration: none;
            background: #3AAA55;
            color: #FFF;
            margin-right: 5px;
            margin-bottom: 5px;
            font-family: tahoma, sans-serif;
            font-size: 13px;
            max-width: 90%;
        }

        .tag button {
            font-weight: bold;
            color: #FFF;
            text-decoration: none;
            font-size: 11px;
            background: none;
            border: none;
            cursor: pointer;
        }

        #result-table_wrapper {
            overflow: auto;
        }

        #result-table_wrapper .table-button {
            float: right;
        }

        #result-table_wrapper .table-button .btn {
            padding: 4px 12px;
        }

        #result-table_wrapper .table-length {
            float: left;
        }

        #result-table_wrapper .table-filter {
            float: right;
            margin-right: 10px;
        }

    </style>
{% endblock %}

{% block main_content %}
    <section class="content-header">
        <h1>SQL Lab</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary" id="sql-editor-box">
                    <div class="box-header" style="padding-bottom: 2px; clear: both;">
                        <div class="form-group" style="width: 200px; float: left; margin-right: 10px; margin-bottom: 0;">

                            <select class="form-control select2" style="width: 100%;" id="database-picker">

                                <option value="bi" selected="selected">Database : A</option>
                                <option value="bi" selected="selected">Database : B</option>
                                <option value="bi" selected="selected">Database : C</option>
                            </select>
                        </div>
                        <div class="btn-group" style="margin-right: 5px;">
                            <button type="button" class="btn btn-success" id="btn-execute-sql"><i
                                    class="fa fa-toggle-right"></i> Run
                            </button>
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:void(0);" id="btn-execute-sql-in-menu">Run</a></li>
                                <li><a href="javascript:void(0);" id="btn-execute-sql-in-menu-email">Run and email
                                    result</a></li>
                                <li><a href="javascript:void(0);" id="btn-execute-sql-in-menu-download">Run and download
                                    result</a></li>
                            </ul>
                        </div>


                        <div class="btn-group" style="margin-right: 5px;">
                            <button type="button" class="btn btn-default"><i
                                    class="fa fa-toggle-right"></i> Labels
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">

                                <ul class="tag-list" style="padding: 0" id="my-labels">

                                    {% for tag in current_user_tags %}
                                        <span class="tag" value="{{ tag[0] }}"><span class="label"
                                                                                     value="{{ tag[0] }}">{{ tag[1] }}</span><button
                                                title="Click to remove the label" value="{{ tag[0] }}"
                                                class="tag-this--remove-tag">x</button></span>
                                    {% endfor %}
                                </ul>
                                <div class="clearfix"></div>

                            </ul>
                        </div>


                        <button type="button" class="btn btn-default" style="margin-right: 5px;" id="btn-format-sql">
                            <i class="fa fa-indent"></i> Format

                        </button>



                    </div>
                    <div class="box-body">
                        <form>
                            <div class="form-group" style="margin-bottom: 8px;">
                                <textarea id="sql-editor" class="form-control" rows="8"
                                          placeholder="Enter your query"></textarea>
                            </div>
                        </form>
                        <p class="text-muted" style="margin-bottom: 0;">
                            <span style="display: inline-block; margin-right: 20px;">
                                <i class="fa fa-clock-o"></i> Run time: <b><span id="sql-run-time">--</span></b>
                            </span>
                            <span style="display: inline-block;">
                                <i class="fa fa-list-alt"></i> Rows: <b><span id="sql-rows">--</span></b>
                            </span>
                        </p>
                    </div>
                    <!--<div class="box-footer clearfix">
                    </div>-->
                </div>

                <div class="nav-tabs-custom" id="tabs-box">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-history" data-toggle="tab" aria-expanded="true"> History </a>
                        </li>
                        <li><a href="#tab-result" data-toggle="tab" aria-expanded="true"> Result </a></li>
                        <li><a href="#tab-chart" data-toggle="tab" aria-expanded="true"> Chart </a></li>
                        <!--<li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            Export <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Export to CSV</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Export to Excel</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Email to me</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            Visual <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Visual 1</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Visual 2</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Visual 3</a></li>
                          </ul>
                        </li>-->
                        <li id="promotion-tools" class="dropdown pull-right" style="display: none;">

                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i
                                    class="fa fa-rocket"></i>
                                &nbsp Promotion Tool</a>

                            <ul class="dropdown-menu">

                                <li><a id="promotion-tools-send-mobile-notification" target="_blank"
                                       href="{{ url_for('promotion.mobile_notification') }}">Send Mobile to result</a>
                                </li>
                                <li><a id="promotion-tools-send-facebook-notification" target="_blank"
                                       href="{{ url_for('promotion.facebook_notification') }}">Send FB notification to
                                    result</a></li>
                                <li><a id="promotion-tools-send-email-notification" target="_blank"
                                       href="{{ url_for('promotion.email_notification') }}">Send Email to result</a>
                                </li>

                            </ul>

                        </li>
                        <li id='custom_label' class=" dropdown pull-right" style="display: none; margin-right: 40px">


                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i
                                    class="fa  fa-plus-circle"></i>
                                &nbsp Add Label</a>

                            <ul class="dropdown-menu">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" id="label-name"
                                           placeholder="Enter Label Name">
                                    <span class="input-group-btn">
                                        <button id="save-label-name"
                                                class="btn btn-success btn-flat">Save</button> </span>

                                </div>

                            </ul>


                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active table-responsive" id="tab-history">
                            <table id="history-table" class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="999">
                                        <div class="text-center">
                                            There are no items in the history table.
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane table-responsive" id="tab-result">
                            <table id="result-table" class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="999">
                                        <div class="text-center">
                                            There are no items in the result table.
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" style="height: 800px" id="tab-chart">

                            <div class="box-body">
                                <div class="row">


                                    {#                                <i class="fa fa-pie-chart"></i>#}
                                    {#                                <i class="fa fa-area-chart"></i>#}
                                    {#                                <i class="fa fa-line-chart"></i>#}
                                    {##}


                                    {#                                <label for="id_label_multiple">#}
                                    {#                                    Click this to highlight the multiple select element#}
                                    {##}
                                    {#                                    <select class="-states form-control"#}
                                    {#                                            id="id_label_multiple" multiple="multiple"></select>#}
                                    {#                                </label>#}


                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Visualization Name</label>

                                            <input class="form-control" value="Chart" id="chart-name"
                                                   style="width: 100%;">


                                            </input>


                                        </div>
                                    </div>


                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Chart Type</label>

                                            <select class="form-control select2" id="chart-type" style="width: 100%;">

                                                <option disabled selected value></option>
                                                <option value="line">Line</option>
                                                <option value="bar">Bar</option>
                                                <option value="pie">Pie</option>

                                            </select>


                                        </div>
                                    </div>


                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>X Column</label>

                                            <select class="form-control select2" id="x-column-picker"
                                                    style="width: 100%;">


                                            </select>


                                        </div>
                                    </div>


                                    <div class="col-md-2">


                                        <div class="form-group">
                                            <label>Y Column</label>

                                            <select class="form-control select2" id="y-column-picker"
                                                    multiple="multiple" style="width: 100%;">


                                            </select>


                                        </div>
                                    </div>

                                </div>

                                <div class="row" style="margin-top: 30px">

                                    <div class="col-md-8 col-md-offset-1">
                                        <div id="myDiv" style="width: 100px;height: 100px;"></div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>


    </section>
    <iframe style="display:none;" id="hiddenIframe"></iframe>


{% endblock %}

{% block body_tail %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/mode/sql/sql.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/show-hint.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/sql-hint.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/jquery.dataTables.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap.min.js"
            type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.27/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="/static/js/plotly.js"></script>


    <script>

        $(document).ready(function () {

            $(".select2").select2();


            $("#x-column-picker").select2({
                placeholder: "  Choose column..."

            });

            $("#y-column-picker").select2({
                maximumSelectionLength: 4,
                placeholder: "  Choose column..."

            });

            var resultDataTable = null;
            var historyTableColumns = ['database', 'sql', 'status', 'run_time', 'rows', 'error_message', 'created_at'];

            var editor = CodeMirror.fromTextArea(document.getElementById('sql-editor'), {
                mode: 'text/x-mysql',
                lineNumbers: true,
                matchBrackets: true,
                autofocus: true,
                indentUnit: 4,
                extraKeys: {"Ctrl": "autocomplete"},
                hint: CodeMirror.hint.sql,
                hintOptions: {
                    tables: {
                        bi_user_currency: {{ get_columns_of_table('app.models.bi', 'BIUserCurrency') | safe }},
                        bi_user: {{ get_columns_of_table('app.models.bi', 'BIUser') | safe }}
                    }
                }
            });

            var loadingOverlayConfig = {
                image: '',
                fontawesome: 'fa fa-spinner fa-spin',
                maxSize: "26px",
                minSize: "26px"
            }

            function startRequestLoading() {
                $('#sql-editor-box').LoadingOverlay('show', loadingOverlayConfig);
                $('#tabs-box').LoadingOverlay('show', loadingOverlayConfig);
            }

            function stopRequestLoading() {
                $('#sql-editor-box').LoadingOverlay('hide', true);
                $('#tabs-box').LoadingOverlay('hide', true);
            }

            function getQueryHistories() {
                $.ajax({
                    type: 'GET',
                    url: '/sql_lab/query_histories',
                    dataType: "json",
                    success: function (result) {
                        var headers = [];
                        headers.push('<tr>');
                        for (var i in historyTableColumns) {
                            var column = historyTableColumns[i];
                            if (column === 'run_time') {
                                column = 'run_time(ms)';
                            }
                            headers.push('<th>' + column + '</th>')
                        }
                        headers.push('<th style="width: 188px;"></th>');
                        headers.push('</tr>');
                        $('#history-table thead').html(headers.join());

                        var rows = [];
                        for (var j in result.data) {
                            var row = result.data[j];
                            var id = row['id'];
                            rows.push('<tr>')
                            for (var i in historyTableColumns) {
                                var column = historyTableColumns[i];
                                if (column === 'sql') {
                                    rows.push('<td><pre>' + row[column] + '</pre></td>');
                                } else if (column === 'database') {
                                    rows.push('<td><span class="database">' + row[column] + '</span></td>');
                                } else {
                                    rows.push('<td>' + row[column] + '</td>');
                                }
                            }

                            var btnGroup = '<td>' +
                                '<div class="btn-group">' +
                                '  <button type="button" class="btn btn-sm btn-success history-execute-sql">Run</button>' +
                                '  <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">' +
                                '    <span class="caret"></span>' +
                                '  </button>' +
                                '  <ul class="dropdown-menu" role="menu" style="">' +
                                '    <li><a href="javascript:void(0);" class="history-execute-sql-in-menu">Run</a></li>' +
                                '    <li><a href="javascript:void(0);" class="history-execute-sql-in-menu-email">Run and email result</a></li>' +
                                '    <li><a href="javascript:void(0);" class="history-execute-sql-in-menu-download">Run and download result</a></li>' +
                                '  </ul>' +
                                '</div>' +
                                '<br />' +
                                '<div class="btn-group" style="margin-top: 6px;">' +
                                '  <button type="button" class="btn btn-sm btn-success">Promotion Tools</button>' +
                                '  <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">' +
                                '    <span class="caret"></span>' +
                                '  </button>' +
                                '  <ul class="dropdown-menu" role="menu" style="">' +
                                '    <li><a target="_blank" href="{{ url_for("promotion.mobile_notification") }}?based_query_id=' + id + '">Send Mobile notification to result</a></li>' +
                                '    <li><a target="_blank" href="{{ url_for("promotion.facebook_notification") }}?based_query_id=' + id + '">Send FB notification to result</a></li>' +
                                '   <li><a target="_blank" href="{{ url_for("promotion.email_notification") }}?based_query_id=' + id + '">Send Email to result</a></li>' +

                                '  </ul>' +
                                '</div>' +
                                '</td>';

                            rows.push(btnGroup);
                            rows.push('</tr>');
                        }
                        if (rows.length > 0) {
                            $('#history-table tbody').html(rows.join());
                        }
                    },
                    error: function (xhr) {

                    }
                });
            }

            getQueryHistories();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href");
                if (target === '#tab-history') {
                    getQueryHistories();
                    $('#promotion-tools').hide();
                    $('#custom_label').hide();
                } else {
                    $('#promotion-tools').show();
                    $('#custom_label').show();
                }
            });

            ////////////////////

            $('#history-table').on('click', '.history-execute-sql, .history-execute-sql-in-menu', function () {
                var sql = $(this).closest('tr').find('pre').html();

                var tempDiv = document.createElement('div');
                tempDiv.innerHTML = sql;
                var decodedSql = tempDiv.innerText;
                tempDiv = null;

                var db = $(this).closest('tr').find('span.database').text();
                $('#database-picker').val(db).trigger('change');

                editor.setValue(decodedSql);
                $('#btn-execute-sql').trigger('click');
            });

            $('#history-table').on('click', '.history-execute-sql-in-menu-email', function () {
                var sql = $(this).closest('tr').find('pre').html();

                var tempDiv = document.createElement('div');
                tempDiv.innerHTML = sql;
                var decodedSql = tempDiv.innerText;
                tempDiv = null;

                var db = $(this).closest('tr').find('span.database').text();
                $('#database-picker').val(db).trigger('change');

                editor.setValue(decodedSql);
                $('#btn-execute-sql-in-menu-email').trigger('click');
            });

            $('#history-table').on('click', '.history-execute-sql-in-menu-download', function () {
                var sql = $(this).closest('tr').find('pre').html();

                var tempDiv = document.createElement('div');
                tempDiv.innerHTML = sql;
                var decodedSql = tempDiv.innerText;
                tempDiv = null;

                var db = $(this).closest('tr').find('span.database').text();
                $('#database-picker').val(db).trigger('change');

                editor.setValue(decodedSql);
                $('#btn-execute-sql-in-menu-download').trigger('click');
            });

            ////////////////////

            $('#btn-format-sql').on('click', function () {
                if (editor.getValue().length === 0) return;

                startRequestLoading();
                $.ajax({
                    type: 'POST',
                    url: '/sql_lab/format_sql',
                    data: {sql: editor.getValue()},
                    dataType: "json",
                    success: function (result) {
                        stopRequestLoading(true);
                        editor.setValue(result.data);
                    },
                    error: function (xhr) {
                        stopRequestLoading();
                        alert('Error: ' + JSON.parse(xhr.responseText).error);
                    }
                });
            });

            ////////////////////

            $('#btn-execute-sql, #btn-execute-sql-in-menu').on('click', function () {
                if (editor.getValue().length === 0) return;

                startRequestLoading();


                $.ajax({
                    type: 'POST',
                    url: '/sql_lab/execute_sql',
                    data: {
                        sql: editor.getValue(),
                        strategy: 'render_json',
                        include_email: $('#include-email').is(":checked"),
                        database: $('#database-picker').val()
                    },
                    dataType: "json",

                    success: function (result) {
                        stopRequestLoading(true);


                        $('#promotion-tools-send-facebook-notification').attr('href', '{{ url_for("promotion.facebook_notification") }}?based_query_id=' + result.query_id);
                        $('#promotion-tools-send-mobile-notification').attr('href', '{{ url_for("promotion.mobile_notification") }}?based_query_id=' + result.query_id);
                        $('#promotion-tools-send-email-notification').attr('href', '{{ url_for("promotion.email_notification") }}?based_query_id=' + result.query_id);

                        query_id = result.query_id;

                        Plotly.purge('myDiv');

                        function getDataSource(result) {
                            var dataSource = {};
                            var columnsForEditing = [];

                            for (var i in result.columns) {
                                columnsForEditing.push(result.columns[i].title)
                            }
                            var dataForEditing = result.data[0].map(function (col, i) {
                                return result.data.map(function (row) {
                                    return row[i]
                                })
                            });

                            for (var i in columnsForEditing) {
                                dataSource[columnsForEditing[i]] = dataForEditing[i].reverse();
                            }


                            return dataSource

                        }

                        function renderSelectOption(dataSource) {
                            var columnOption = [];
                            for (var column in dataSource) {
                                columnOption.push('<option value=' + column + '>' + column + ' </option>');

                            }

                            $('#x-column-picker').html('<option disabled selected value></option>' + columnOption.join(' '));
                            $('#y-column-picker').html(columnOption.join(' '));
                        }


                        if (result.data.length > 0) {
                            window.dataSource = getDataSource(result);

                            renderSelectOption(dataSource);

                        }

                        $('.nav-tabs a[href="#tab-result"]').tab('show');

                        // count
                        $('#sql-rows').text(result.rows);

                        // runtime
                        $('#sql-run-time').text(result.run_time + 'ms');

                        // prepare columns
                        $.extend($.fn.dataTable.defaults, {
                            "dom": '<"table-button"B><"table-filter"f><"table-length"l>tip'
                        });

                        // hack, Reload a full table, including columns.
                        if (resultDataTable !== null) {
                            resultDataTable.destroy();
                            $('#result-table').empty();
                        }
                        resultDataTable = $('#result-table').DataTable({
                            retrieve: true,
                            searching: true,
                            'buttons': [
                                'copy', 'csv', 'excel', 'pdf'
                            ],

                            iDisplayLength: 50,
                            lengthChange: true,
                            scrollX: true,
                            data: result.data,
                            columns: result.columns
                        });
                    },
                    error: function (xhr) {
                        stopRequestLoading();
                        console.log('Error: ' + xhr.responseText);

                        try {
                            alert('Error: ' + JSON.parse(xhr.responseText).error);

                        }

                        catch (err) {

                            alert('Error: ' + 'Query Timeout, we will mail the results to you')

                        }
                    }
                });
            });

            $('#btn-execute-sql-in-menu-email').on('click', function () {
                if (editor.getValue().length === 0) return;

                startRequestLoading();
                $.ajax({
                    type: 'POST',
                    url: '/sql_lab/execute_sql',
                    data: {
                        sql: editor.getValue(),
                        include_email: $('#include-email').is(":checked"),
                        strategy: 'send_to_mail', database: $('#database-picker').val()
                    },
                    dataType: "json",
                    success: function (result) {
                        stopRequestLoading(true);

                        alert('Your query has executed successfully. Please check your email inbox for an email with CSV file attached.');
                    },
                    error: function (xhr) {
                        stopRequestLoading();
                        alert('Error: ' + JSON.parse(xhr.responseText).error);
                    }
                });
            });

            $('#btn-execute-sql-in-menu-download').on('click', function () {
                if (editor.getValue().length === 0) return;

                startRequestLoading();
                $.ajax({
                    type: 'POST',
                    url: '/sql_lab/execute_sql',
                    data: {
                        sql: editor.getValue(),
                        strategy: 'generate_download_link',
                        include_email: $('#include-email').is(":checked"),
                        database: $('#database-picker').val()
                    },
                    dataType: "json",
                    success: function (result) {
                        stopRequestLoading(true);

                        alert('Your query has executed successfully. BI System will bring you to download link shortly.');

                        var temp = document.createElement('a');
                        temp.href = result.download_link;
                        temp.target = 'hiddenIframe';
                        temp.click();
                    },
                    error: function (xhr) {
                        stopRequestLoading();
                        alert('Error: ' + JSON.parse(xhr.responseText).error);
                    }
                });
            });


            $('#save-label-name').on('click', function () {

                var labelName = $('#label-name').val();

                if (labelName.length !== 0) {

                    $.post('{{ url_for('sql_lab.save_as_custom_label') }}',
                        {'label_name': labelName, 'query_id': query_id}
                    );
                }

            });


            $('span.label').on('click', function () {
                $.ajax({
                    type: 'GET',
                    url: '{{ url_for('sql_lab.query_custom_label') }}',
                    data: {
                        query_id: $(this).attr("value")
                    },
                    dataType: "json",
                    success: function (result) {

                        var sql = result.sql;
                        var database = result.target_db;
                        if (database === null) {
                            database = 'bi'
                        }
                        editor.setValue(sql);
                        $("#database-picker").val(database).trigger('change');
                    },
                    error: function (xhr) {
                        alert('Error: ' + JSON.parse(xhr.responseText).error);
                    }
                });


            });


            $('button.tag-this--remove-tag').on('click', function () {

                var queryID = $(this).attr("value");
                $('#my-labels').each(function () {
                    $("[value=" + queryID + "]").hide();

                });

                $.ajax({
                    type: 'GET',
                    url: '{{ url_for('sql_lab.delete_custom_label') }}',
                    data: {
                        query_id: queryID
                    },
                    dataType: "json",
                    success: function (result) {
                    },
                    error: function (xhr) {
                        alert('Error: ' + JSON.parse(xhr.responseText).error);
                    }
                });


            })


        });

        $(document).ready(function () {

            Plotly.setPlotConfig({
                modeBarButtonsToRemove: [
                    'sendDataToCloud',
                    'hoverClosestCartesian',
                    'hoverCompareCartesian'],
                displaylogo: false,
            });

            var data, xAxisValue, pieValue, chartName, chartType, xAxis, yAxis,
                layout = {height: 500, width: 850, title: $('#chart-name').val()};


            $('#chart-name').on('change', function () {


                chartName = $(this).val();

                layout = {height: 500, width: 850, title: $('#chart-name').val()};
                xAxis = $('#x-column-picker').val();
                yAxis = $('#y-column-picker').val();

                if (chartType === 'pie') {

                    pieValue = window.dataSource[yAxis];
                    data = [{values: pieValue, labels: window.dataSource[xAxis], type: chartType}];

                }

                else if (chartType === 'line') {

                    xAxisValue = window.dataSource[xAxis];
                    data = [];

                    for (var i in yAxis) {
                        data.push({x: xAxisValue, y: window.dataSource[yAxis[i]], mode: chartType, name: yAxis[i]});
                    }


                }
                if (chartType === 'bar') {


                    xAxisValue = window.dataSource[xAxis];

                    data = [];
                    for (var i in yAxis) {
                        data.push({x: xAxisValue, y: window.dataSource[yAxis[i]], type: 'bar', name: yAxis[i]});

                    }

                }


                Plotly.newPlot('myDiv', data, layout);


            });

            $('#chart-type').on('change', function () {

                chartType = $(this).val();
                xAxis = $('#x-column-picker').val();
                yAxis = $('#y-column-picker').val();

                if (chartType === 'pie') {

                    pieValue = window.dataSource[yAxis];
                    data = [{values: pieValue, labels: window.dataSource[xAxis], type: chartType}];

                }

                else if (chartType === 'line') {

                    xAxisValue = window.dataSource[xAxis];
                    data = [];

                    for (var i in yAxis) {
                        data.push({x: xAxisValue, y: window.dataSource[yAxis[i]], mode: chartType, name: yAxis[i]});
                    }


                }
                if (chartType === 'bar') {


                    xAxisValue = window.dataSource[xAxis];

                    data = [];
                    for (var i in yAxis) {
                        data.push({x: xAxisValue, y: window.dataSource[yAxis[i]], type: 'bar', name: yAxis[i]});

                    }

                }


                Plotly.newPlot('myDiv', data, layout);

            });

            $('#x-column-picker').on('change', function () {

                chartType = $('#chart-type').val();
                xAxis = $(this).val();

                var optionSelectedText = $("#x-column-picker option:selected").text();
                var optionSelectedVal = $("#x-column-picker option:selected").val();


                $('#y-column-picker').html($('#x-column-picker').html().replace('<option value="' + optionSelectedVal + '">' + optionSelectedText + '</option>', '').replace('<option disabled="" selected="" value=""></option>', ''))

                yAxis = $('#y-column-picker').val();

                if (xAxis === null) {

                    Plotly.purge('myDiv');
                    return
                }
                if (yAxis === undefined) {
                    Plotly.deleteTraces('myDiv', 0);
                    return
                }


                if (yAxis.length === 0) return;

                if (chartType === 'pie') {

                    pieValue = window.dataSource[yAxis];
                    data = [{values: pieValue, labels: window.dataSource[xAxis], type: chartType}];
                }

                if (chartType === 'line') {


                    xAxisValue = window.dataSource[xAxis];

                    data = [];
                    for (var i in yAxis) {
                        data.push({x: xAxisValue, y: window.dataSource[yAxis[i]], mode: 'lines', name: yAxis});

                    }

                }

                if (chartType === 'bar') {


                    xAxisValue = window.dataSource[xAxis];

                    data = [];
                    for (var i in yAxis) {
                        data.push({x: xAxisValue, y: window.dataSource[yAxis[i]], type: 'bar', name: yAxis[i]});

                    }

                }


                Plotly.newPlot('myDiv', data, layout);


            });

            $('#y-column-picker').on('change', function () {

                chartType = $('#chart-type').val();
                xAxis = $('#x-column-picker').val();
                yAxis = $(this).val();

                if (xAxis === null) {

                    Plotly.purge('myDiv');
                    return
                }
                if (yAxis === undefined || yAxis.length === 0) {
                    Plotly.purge('myDiv');
                    return
                }

                if (chartType === 'pie') {

                    pieValue = window.dataSource[yAxis];
                    data = [{values: pieValue, labels: window.dataSource[xAxis], type: chartType}];
                }

                if (chartType === 'line') {

                    data = [];
                    xAxisValue = window.dataSource[xAxis];
                    for (var i in yAxis) {
                        data.push({x: xAxisValue, y: window.dataSource[yAxis[i]], mode: 'lines', name: yAxis[i]});

                    }
                }
                if (chartType === 'bar') {


                    xAxisValue = window.dataSource[xAxis];

                    data = [];
                    for (var i in yAxis) {
                        data.push({x: xAxisValue, y: window.dataSource[yAxis[i]], type: 'bar', name: yAxis[i]});

                    }

                }
                Plotly.newPlot('myDiv', data, layout);


            });

        })

    </script>

{% endblock %}
