{% if DAU %}

    <br/>
    <br/>
    <div style="text-align: center;">
        <b style="font-family: helvetica, arial, sans-serif; font-size: 20px; font-style: normal; font-variant-caps: normal; text-align: center;"> {{ title }}</b>
    </div>
    <br/>
    <table style="width: 100%; padding: 0; margin: 0;" cellspacing="0">
        <tr>
            {% for column_name in column_names %}
                <th style=" color: #4f6b72; border-right: 1px solid #c1dad7;
            border-bottom: 1px solid #c1dad7; border-top: 1px solid #c1dad7;font-weight: 600;
             letter-spacing: 2px;  text-align: left;
             padding: 6px 6px 6px 12px; background: #cae8ea no-repeat;">{{ column_name }}</th>
            {% endfor %}
        </tr>

        {% for each_day_data in report_data %}
            <tr> {% for metric in  each_day_data %}
                <td style=" border-right: 1px solid #c1dad7; border-bottom: 1px solid #c1dad7; background: #fff; font-size:15px;font-weight: 400; padding: 6px 6px 6px 12px; color: #0e0e0e;">{{ metric }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br/>

{% elif auto %}

    <br/>
    <br/>
    <div style="text-align: center;">
        <b style="font-family: helvetica, arial, sans-serif; font-size: 20px; font-style: normal; font-variant-caps: normal; text-align: center;"> {{ title }}</b>
    </div>
    <br/>
    <table style="width: 100%; padding: 0; margin: 0;" cellspacing="0">
        <tr>
            {% for column_name in column_names %}
                <th style=" color: #4f6b72; border-right: 1px solid #c1dad7;
            border-bottom: 1px solid #c1dad7; border-top: 1px solid #c1dad7;font-weight: 600;
             letter-spacing: 2px;  text-align: left;
             padding: 6px 6px 6px 12px; background: #cae8ea no-repeat;">{{ column_name }}</th>
            {% endfor %}
        </tr>

        {% for each_day_data in report_data %}
            <tr> {% for metric in  each_day_data %}
                <td style=" border-right: 1px solid #c1dad7; border-bottom: 1px solid #c1dad7; background: #fff; font-size:15px;font-weight: 400; padding: 6px 6px 6px 12px; color: #0e0e0e;">{{ metric }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br/>




{% elif my_game_room_for_new_reg %}
    <br/>
    <br/>
    <div style="text-align: center;">
        <b style="font-family: helvetica, arial, sans-serif; font-size: 20px; font-style: normal; font-variant-caps: normal; text-align: center;"> {{ title }}</b>
    </div>
    <br/>
    <table style="width: 100%; padding: 0; margin: 0;" cellspacing="0">
        <tr>
            {% for column_name in column_names %}
                <th style=" color: #4f6b72; border-right: 1px solid #c1dad7;
            border-bottom: 1px solid #c1dad7; border-top: 1px solid #c1dad7;font-weight: 600;
             letter-spacing: 2px;  text-align: left;
             padding: 6px 6px 6px 12px; background: #cae8ea no-repeat;">{{ column_name }}</th>
            {% endfor %}
        </tr>

        {% for each_day_data in report_data %}
            <tr> {% for metric in  each_day_data %}
                <td style=" border-right: 1px solid #c1dad7; border-bottom: 1px solid #c1dad7; background: #fff; font-size:15px;font-weight: 400; padding: 6px 6px 6px 12px; color: #0e0e0e;">{{ metric }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br/>



{% elif my_game_room_for_revenue %}
    <br/>
    <br/>
    <div style="text-align: center;">
        <b style="font-family: helvetica, arial, sans-serif; font-size: 20px; font-style: normal; font-variant-caps: normal; text-align: center;"> {{ title }}</b>
    </div>
    <br/>
    <table style="width: 100%; padding: 0; margin: 0;" cellspacing="0">
        <tr>
            {% for column_name in column_names %}
                <th style=" color: #4f6b72; border-right: 1px solid #c1dad7;
            border-bottom: 1px solid #c1dad7; border-top: 1px solid #c1dad7;font-weight: 600;
             letter-spacing: 2px;  text-align: left;
             padding: 6px 6px 6px 12px; background: #cae8ea no-repeat;">{{ column_name }}</th>
            {% endfor %}
        </tr>

        {% for each_day_data in report_data %}
            <tr> {% for metric in  each_day_data %}
                <td style=" border-right: 1px solid #c1dad7; border-bottom: 1px solid #c1dad7; background: #fff; font-size:15px;font-weight: 400; padding: 6px 6px 6px 12px; color: #0e0e0e;">{{ metric }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br/>

{% elif CCU %}
    <br/>
    <br/>
    <div style="text-align: center;">


        <b style="font-family: helvetica, arial, sans-serif; font-size: 20px; font-style: normal; font-variant-caps: normal; text-align: center;"> {{ title }}
        </b>

        <div style="font-family: helvetica, arial, sans-serif; font-size: 15px; font-style: normal; font-variant-caps: normal; text-align: left; margin-left: 600px; margin-top: 20px">
            <b> WPT_MAX_CCU : {{ WPT_MAX_CCU }} </b> <br/>
            <b> WPT_AVG_CCU : {{ WPT_AVG_CCU }} </b>
        </div>

    </div>
    <br/>
    <table style="width: 100%; padding: 0; margin: 0;" cellspacing="0">
        <tr>
            {% for column_name in column_names %}
                <th style=" color: #4f6b72; border-right: 1px solid #c1dad7;
            border-bottom: 1px solid #c1dad7; border-top: 1px solid #c1dad7;font-weight: 600;
             letter-spacing: 2px;  text-align: left;
             padding: 6px 6px 6px 12px; background: #cae8ea no-repeat;">{{ column_name }}</th>
            {% endfor %}
        </tr>

        {% for each_hour_data in report_data %}
            <tr> {% for metric in  each_hour_data %}
                <td style=" border-right: 1px solid #c1dad7; border-bottom: 1px solid #c1dad7; background: #fff; font-size:15px;font-weight: 400; padding: 6px 6px 6px 12px; color: #0e0e0e;">{{ metric }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br/>

{% elif game_table_statistic %}

    <br/>
    <br/>
    <div style="text-align: center;">
        <b style="font-family: helvetica, arial, sans-serif; font-size: 20px; font-style: normal; font-variant-caps: normal; text-align: center;"> {{ title }}</b>
    </div>
    <br/>
    <table style="width: 100%; padding: 0; margin: 0;" cellspacing="0">
        <tr>
            {% for column_name in column_names %}
                <th style=" color: #4f6b72; border-right: 1px solid #c1dad7;
            border-bottom: 1px solid #c1dad7; border-top: 1px solid #c1dad7;font-weight: 600;
             letter-spacing: 2px;  text-align: left;
             padding: 6px 6px 6px 12px; background: #cae8ea no-repeat;">{{ column_name }}</th>
            {% endfor %}
        </tr>


        {% for each_hour_data in report_data %}
            <tr> {% for metric in  each_hour_data %}
                <td style=" border-right: 1px solid #c1dad7; border-bottom: 1px solid #c1dad7; background: #fff; font-size:15px;font-weight: 400; padding: 6px 6px 6px 12px; color: #0e0e0e;">{{ metric }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <br/>

{% endif %}




<p style="font-size: 16px">
    <br/>
    The report generated at {{ generated_at }}.
</p>


<td style="padding: 10px 10px 10px 10px;" bgcolor="#ffffff">
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="2"
           style="font-size: 2px; line-height: 2px;">
        <tbody>
        <tr>
            <td bgcolor="#0070cd">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</td>


<br/>
<div style="text-align: right;">
    <p style="font-size: 10px; font-family: helvetica, arial, sans-serif;font-style: normal; font-variant-caps: normal; ">
        WPT BI System
        <br/>
        1920 main street, suite 1150
        <br/>
        irvine, ca 92614
        <br/>
        © 2017 wpt enterprises,inc. all rights reserved.​
    </p>
</div>

