<div style="font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
    <table style="width: 100%;">
        <tr>
            <td></td>
            <td bgcolor="#FFFFFF ">
                <div style="padding: 15px; max-width: 600px;margin: 0 auto;display: block; border-radius: 0px;padding: 0px; border: 1px solid lightseagreen;">

                    <table style="padding: 10px;font-size:14px; width:100%;">
                        <tr>
                            <td style="padding:10px;font-size:14px; width:100%;">
                                <p>Hi {{ user_name }}</p>
                                <p><br/> You have requested to reset your password. Please click below to reset.</p>
                                <p>
                                    <a href="{{ reset_link }}" style="color:blue;font-size:12px;"> {{ reset_link }} </a>

                                </p>
                                <p>You need to complete the password reset within one hour.

                                    <br/>
                                    <br/>
                                    If you did not request this password reset, then please ignore this email (your
                                    password will remain unchanged).


                                     </p>
                                <p> </p>
                                <p style="float: right">WPT BI Team</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div align="center"
                                     style="font-size:12px; margin-top:20px; padding:5px; width:100%; background:#eee;">
                                    <a href="https://bi.play-wpt.com/" target="_blank"
                                       style="color:#333; text-decoration: none;">https://bi.play-wpt.com/</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>