/* flash message */
#flash-message-wrapper {
    padding: 20px 20px 0;
}

/* time display */
.main-sidebar .sidebar-footer {
    bottom: 0px;
    clear: both;
    display: block;
    padding: 14px 20px;
    position: fixed;
    font-size: 13px;
    width: 230px;
    background-color: #1a2226;
    color: #8aa4af;
    height: 88px;
}
.main-sidebar .sidebar-footer b {
    display: inline-block;
    width: 58px;
}
.sidebar-mini.sidebar-collapse .sidebar-footer {
    display: none;
}

/* select2 */
.select2-container .selection .select2-selection {
    height: 34px;
}


#y-column-picker .select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus {
    outline: none;
    border: 1px solid #fff
}


.select2-results__option[aria-selected=true] {
    display: none;
}


.select2-container .selection .select2-selection .select2-selection__rendered {
    padding-left: 0px;
}

/* dashboard */
span.summary-yday {
    font-size:16px !important;
    border-bottom-width: 0px;
    color: #EEE;
    display: inline-block;
    border-bottom: 1px dotted #EEE;
}
span.summary-separater {
    font-size:16px !important;
    color: #EEE;
}



