/* clock */
.jcgmt-container {
    /*float:left;*/
    padding: 3px;
}

.jcgmt-container .jcgmt-lbl {
    font-size: 20px;
    color: white;
    line-height: 22px;
    text-align: center;
    padding-bottom: 5px;
    width: 108px;
    margin: 0 auto;
}

.jcgmt-clockHolder {
    width: 100px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.jcgmt-sec,
.jcgmt-min,
.jcgmt-hour {
    display: block;
    position: absolute;
}

.jcgmt-rotatingWrapper {
    position: absolute;
    width: 100px;
    height: 100px;
}

.jcgmt-digital,
.jcgmt-date {
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-left: 8px;
}

/* wallboard */

span.summary-yday {
    font-size: 16px !important;
    color: #EEE;
    display: inline-block;
}

span.summary-separater {
    font-size: 16px !important;
    color: #EEE;
}

body {
    background: #253138;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-bottom: 60px;
    overflow-x: hidden;
    color: #98a6ad;
}

html {
    position: relative;
    min-height: 100%;
    background: #253138;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Karla', sans-serif;
    margin: 10px 0;
}

h1 {
    line-height: 43px;
}

h2 {
    line-height: 35px;
}

h3 {
    line-height: 30px;
}

h3 small {
    color: #444444;
}

h4 {
    line-height: 22px;
}

h4 small {
    color: #444444;
}

h5 {
    font-size: 15px;
}

h5 small {
    color: #444444;
}

p {
    line-height: 1.6;
}

* {
    outline: none !important;
}

b {
    font-weight: 600;
}

a:hover {
    outline: 0;
    text-decoration: none;
}

a:active {
    outline: 0;
    text-decoration: none;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.container {
    width: auto;
}

.container-alt {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Footer */
.footer {
    border-top: 1px solid rgba(152, 166, 173, 0.2);
    bottom: 0px;
    color: #98a6ad;
    text-align: left !important;
    padding: 19px 30px 20px;
    position: absolute;
    right: 0px;
    left: 250px;
}

#wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.page {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

/* Page titles */
.page-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 70px;
}

.page-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 8px;
}

/* =============
   Helper clasess
============= */
.p-0 {
    padding: 0px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-l-0 {
    padding-left: 0px !important;
}

.p-r-0 {
    padding-right: 0px !important;
}

.p-t-0 {
    padding-top: 0px !important;
}

.p-b-0 {
    padding-bottom: 0px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-l-r-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.m-0 {
    margin: 0px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.w-xs {
    min-width: 80px;
}

.w-sm {
    min-width: 95px;
}

.w-md {
    min-width: 110px;
}

.w-lg {
    min-width: 140px;
}

.m-h-40 {
    min-height: 40px;
}

.m-h-50 {
    min-height: 50px;
}

.l-h-34 {
    line-height: 34px;
}

.font-600 {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-normal {
    font-weight: normal;
}

.font-light {
    font-weight: 300;
}

.font-13 {
    font-size: 13px !important;
}

.wrapper-md {
    padding: 20px;
}

.pull-in {
    margin-left: -20px;
    margin-right: -20px;
}

.b-0 {
    border: none !important;
}

.vertical-middle {
    vertical-align: middle;
}

.bx-shadow {
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.bx-shadow-none {
    box-shadow: none !important;
}

.mx-box {
    max-height: 380px;
    min-height: 380px;
}

.thumb-sm {
    height: 32px;
    width: 32px;
}

.thumb-md {
    height: 48px;
    width: 48px;
}

.thumb-lg {
    height: 88px;
    width: 88px;
}

.thumb-xl {
    height: 120px;
    width: 120px;
}

.add-new-plus {
    height: 32px;
    text-align: center;
    width: 32px;
    display: block;
    line-height: 32px;
    color: #98a6ad;
    font-weight: 700;
    background-color: #ebeff2;
    border-radius: 50%;
}

/* =============
   Extras


/* Card Box */
.card-box {
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #2f3e47;
}

.card-box .card-drop {
    color: #98a6ad;
    font-size: 20px;
    line-height: 1px;
    padding: 0px 5px;
    display: inline-block;
}

/* =============
   Bootstrap-custom
============= */
.row {
    margin-right: -10px;
    margin-left: -10px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-left: 10px;
    padding-right: 10px;
}

/* Badge */
.badge {
    text-transform: uppercase;
    font-weight: 500;
    padding: 3px 5px;
    font-size: 12px;
    margin-top: 1px;
    background-color: #71b6f9;
}

.badge-xs {
    font-size: 9px;
}

.badge-xs,
.badge-sm {
    -webkit-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
}

.badge-primary {
    background-color: #188ae2;
}

.badge-success {
    background-color: #10c469;
}

.badge-info {
    background-color: #35b8e0;
}

.badge-warning {
    background-color: #f9c851;
}

.badge-danger {
    background-color: #ff5b5b;
}

.badge-purple {
    background-color: #5b69bc;
}

.badge-pink {
    background-color: #ff8acc;
}

.badge-inverse {
    background-color: #575e6f;
}

.widget-chart-1 .widget-chart-box-1 {
    float: left;
}

.widget-chart-1 .widget-detail-1 {
    text-align: right;
    margin-left: 80px;
    min-height: 77px;
}

.widget-box-2 .widget-detail-2 {
    text-align: right;
}

.widget-box-2 .widget-detail-2 .badge {
    padding: 5px 10px;
}

.widget-user {
    min-height: 112px;
}

.widget-user img {
    height: 72px;
    float: left;
}

.widget-user .wid-u-info {
    margin-left: 90px;
}

.widget-user .wid-u-info p,
.widget-user .wid-u-info h4 {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}



.tooltip-inner {
    border-radius: 1px;
    padding: 6px 10px;
}
.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: auto!important;
    height: auto!important;
}
